{% comment %}
This re-usable template displays the next training sessions.
Context should have a 'trainingsession_list' list of TrainingSession objects.
{% endcomment %}

<div class="section_header">
    <h3 id="next-training">Next Training</h3>
</div>
{% if trainingsession_list %}
    <table class="next-training table table-striped">
        <thead>
            <tr><th>Date</th><th>Time</th><th>Description</th><th>Venue</th><th></th></tr>
        </thead>
        <tbody>
            {% for t in trainingsession_list %}
            <tr>
                <td>{{ t.datetime|date:"D jS M" }}</td>
                <td>{{ t.datetime|time }}</td>
                <td>{{ t.description }}</td>
                <td><a href="{{ t.venue.get_absolute_url }}">{{ t.venue.short_name }}</a></td>
                <td><a href="{{ t.get_absolute_url }}" title="Training session details"><i class="icon-chevron-sign-right"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="lead muted">No upcoming training sessions.</p>
{% endif %}