{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ block.super }} | Training{% endblock %}

{% block body_id %}training{% endblock body_id %}

{% block content %}

{% url 'venue_detail' 'leys' as leys_url %}
{% url 'venue_detail' 'uni' as uni_url %}

{% get_clubinfo 'SecretaryName' as sec_name %}

<div class="page-header">
    <h1>Training</h1>
</div>

<div class="row">

    <div class="span8">
        <div class="section_header">
            <h3>Squad Training</h3>
        </div>

        <p>Cambridge South runs professionally coached training sessions for men and ladies of all standards, every Monday evening during the season from September to March at
        <a href="{{ leys_url }}">The Leys School</a>. Training for the 2013/14 season will start on <strong>9th September 2013</strong> - keep an eye on your emails for more updates.</p>
    </div>

    <div class="span4">
        <img alt="" class="img-polaroid" width="240" src="http://www.cambridgesouthhockeyclub.co.uk/media/Web%20site%20images/Leys_Pitch_4.jpg" />
        <ul class="unstyled details">
            <li><i class="icon-time"></i>Mondays 7-9pm</li>
            <li><i class="icon-globe"></i>The Leys School</li>
        </ul>
    </div>
</div>
<hr/>
<div class="row">

    <div class="span8">
        <div class="section_header">
            <h3>Summer Hockey</h3>
        </div>
        <p>Cambridge South also offers informal weekly hockey on Thursday evenings from 8pm to 9pm at
        <a href="{{ uni_url }}">Wilberforce Road</a> between April and August.</p>
        <p>A typical session consists of a couple of 5 to 7 a-side games on half pitches, usually one mixed game and one men&#39;s game. The sessions are open to everyone, you don&#39;t have to be a club member to come along and new players are very welcome.</p>
        <p>If you build up a thirst then there is usually a group of us going on for a drink or two afterwards at a nearby pub - a great way to get to know people in the club!</p>
        <p>If you&#39;d like to play, either contact {% clubinfo_email 'SecretaryEmail' sec_name %} any time during the week prior to the session you wish to attend or else just turn up at the pitch and introduce yourself. The cost is &pound;4 or &pound;2 for students and the unwaged. If you&#39;re new to the club, your first session is free!</p>
    </div>

    <div class="span4">
        <img alt="" class="img-polaroid" width="240" src="http://www.cambridgesouthhockeyclub.co.uk/media/Web%20site%20images/Leys_Pitch_5.jpg" />
        <ul class="unstyled details">
            <li><i class="icon-time"></i>Thursdays 8-9pm</li>
            <li><i class="icon-globe"></i>Wilberforce Road</li>
        </ul>
    </div>
</div> <!-- class=row -->
<hr/>
<div class="row">
    <div class="span6">
        {% include 'training/_next_training.html' %}
    </div>
</div>

{% url admin:training_trainingsession_add as admin_url_add %}
{% url admin:training_trainingsession_changelist as admin_url_list %}
{% include 'core/_admin_link.html' with add_url=admin_url_add list_url=admin_url_list %}

{% endblock content %}