{% extends "base.html" %}

{% load core_tags %}
{% block title %}{{ block.super }} | {{ trainingsession }}{% endblock %}

{% block content %}
{% url 'calendar' as calendar %}
{% url 'upcoming_trainingsession_list' as upcoming_trainingsession_list %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ upcoming_trainingsession_list }}">Training</a> <span class="divider">/</span></li>
  <li class="active">{{ trainingsession.description }}</li>
</ul>

<div class="page-header">
    <h1>{{ trainingsession.description }} <small> {{ trainingsession.datetime.date|date:"jS M" }} at {{ trainingsession.datetime.time|time:"H:i" }}</small></h1>
</div>

<p class="lead">{{ trainingsession.description }} takes place at {{ trainingsession.venue|urlise_model }}.</p>

<div class="row">
    <div class="span8">
      {% if trainingsession.venue.address_known %}
        <div class="gmap3 map_large" id="map_canvas"></div>
        {% include 'core/_gmap_link.html' with venue=trainingsession.venue %}
      {% endif %}
    </div>
    <div class="span4">
      <div class="well">
          <h3>Make it easy for yourself!</h3>
          <p class="lead">All Cambridge South training sessions are available as a <strong>.ics calendar feed</strong> that you can link into your own calendar client (Outlook, iPhone etc).</p>
          <a class="calendar" href="{{ calendar }}#feeds"><button class="btn btn-large btn-primary"><i class="icon-calendar"></i>Plug me in!</button></a>
      </div>
    </div>
</div>



{% instance_admin_links trainingsession %}

{% endblock %}

{% block body_js %}
    {{ block.super }}
    {% include "venues/_venue_map_js.html" with venue_address=trainingsession.venue.full_address %}
{% endblock body_js %}

