{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ block.super }} | Training{% endblock %}

{% block body_id %}training{% endblock body_id %}

{% block content %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'wilberforce-road' as uni_url %}
{% url 'calendar' as calendar %}
{% url 'trainingsession_create' as create_training_session %}
{% url 'juniors_index' as juniors %}

{% get_clubinfo 'SecretaryName' as sec_name %}
{% get_clubinfo 'InSeason' as in_season %}

<div class="page-header">
    <h1>Training</h1>
</div>

<img class="intro-image" src="{{ STATIC_URL }}media/Web%20site%20images/training.jpg"/>

<div class="row">
    <div class="span8">
        <div class="section_header">
            <h3>Squad Training</h3>
        </div>

        <p>Cambridge South runs professionally coached training sessions for men and women of all standards throughout the season from September to March at
        <a href="{{ long_road_url }}">Long Road Sixth Form College</a>. All training sessions are free to attend, for club members and newcomers, with no booking required.</p>
        <h4>Ladies' Squads</h4>
        <p>The ladies' teams train on Thursday nights. Training is slightly staggered by squads: the L2s, L3s and L4s train from 7:30pm to 9pm and the L1s from 8pm to 9:30pm.</p>
        <h4>Men's Squads</h4>
        <p>The men's teams train on Tuesday nights, meeting at 7:15pm to warm-up with training from 7:30pm until 9:00pm. The M1s/M2s stay on for an extra half hour until 9:30pm.</p>
        <div class="alert alert-info">
            <strong>Note:</strong> Both men’s and ladies’ training sessions are split into higher and lower team sections, to ensure level-appropriate training for all players.
        </div>
        <h4>Beginners Training and Back to Hockey</h4>
        <p>For newcomers to hockey or those wanting to refresh their skills, we have separately-coached sessions alongside our regular squad training.</p>
        <p>For women looking to try out hockey or coming back to the sport, we have Back to Hockey basic skills sessions on Thursdays 7.30-9pm.</p>
        <h4>Juniors' Training</h4>
        <p>For details of Juniors training, including upcoming session dates and times, check out the dedicated <a href="{{ juniors }}">Juniors page</a>.</p>
    </div>

    <div class="span4">
        <img alt="" class="img-polaroid" src="{{ STATIC_URL }}media/Web%20site%20images/longroad1_small.jpg" />
        <dl class="dl-horizontal details">
            <dt><i class="icon-time"></i></dt><dd><abbr title="Mens Squads"><i class="icon-male"></i></abbr>Tuesdays 7:30-9:30pm</dd>
            <dt><i class="icon-time"></i></dt><dd><abbr title="Ladies Squads"><i class="icon-female"></i></abbr>Thursdays 7:30-9:30pm</dd>
            <dt><i class="icon-time"></i></dt><dd><abbr title="Beginners Training and Back to Hockey"><i class="icon-signal"></i></abbr>Thursdays 7:30-9pm</dd>
            <dt><i class="icon-globe"></i></dt><dd><a href="{{ long_road_url }}">Long Road</a></dd>
        </dl>
    </div>
</div>
<hr/>
<div class="row">

    <div class="span8">
        {% if in_season == 'out' %}
            <div class="section_header">
                <h3>Summer Hockey</h3>
            </div>
            <p>Cambridge South also offers informal weekly hockey on Wednesday evenings year-round, including over the summer off-season, from 7:30-8:30pm at
            <a href="{{ long_road_url }}">Long Road Sixth Form College</a>.</p>
            <p>A typical session consists of a couple of small-sided knock-around games, each on a half pitch. The sessions are mixed men's and ladies' hockey and open to everyone. You don't have to be a club member to come along and new players are very welcome.</p>
            <div class="alert alert-info">
                <p>From April through August, additional sessions run at the same time on Tuesday evenings. In May, July and August, a third weekly session runs on Thursdays, also at 7.30-8.30pm in May and July and at 8.30-9.30pm in August, preceded by a basic skills and game session for beginners and players returning to hockey from 7.30-8.30pm.</p>
                <p>Tuesday and Thursday summer sessions are restricted to club members (or new players not affiliated to any club).</p>
            </div>
            <p>If you build up a thirst then there is usually a group of us going on for a drink or two afterwards at a nearby pub - a great way to get to know people in the club!</p>
            <p>If you'd like to play, either contact {% clubinfo_email 'SecretaryEmail' sec_name %} any time during the week prior to the session you wish to attend or else just turn up at the pitch and introduce yourself. The cost is &pound;4 or &pound;2 for students and the unwaged. If you're new to the club, your first session is free, as are all the Thursday beginner sessions!</p>

        {% else %}
            <div class="section_header">
                <h3>Pay &amp; Play</h3>
            </div>
            <p>Cambridge South also offers informal weekly hockey on Wednesday evenings from 7:30pm to 8:30pm at
            <a href="{{ long_road_url }}">Long Road Sixth Form College</a> during the season.</p>
            <p>A typical session consists of a couple of small-sided knock-around games, each on a half pitch. The sessions are mixed men's and ladies' hockey and open to everyone. You don't have to be a club member to come along and new players are very welcome.</p>
            <p>If you&#39;d like to play, either contact {% clubinfo_email 'SecretaryEmail' sec_name %} any time during the week prior to the session you wish to attend or else just turn up at the pitch and introduce yourself. The cost is &pound;4 or &pound;2 for students and the unwaged. If you're new to the club, your first session is free!</p>

        {% endif %}
    </div>

    <div class="span4">
        <img alt="" class="img-polaroid" src="{{ STATIC_URL }}media/Web%20site%20images/longroad1_small.jpg" />
        
        <dl class="dl-horizontal details">
            {% if in_season == 'out' %}
                <dt><i class="icon-time"></i></dt><dd>Wednesdays 7:30-8:30pm (all year)</dd>
                <dt><i class="icon-time"></i></dt><dd>Tuesdays 7:30-8:30pm (May-Aug)</dd>
                <dt><i class="icon-time"></i></dt><dd>Thursdays 7:30-8:30pm (May, Jul), 8:30-9:30pm (Aug)</dd>
                <dt><i class="icon-time"></i></dt><dd>Thursdays (Beginners) 7:30-8:30pm (Aug)</dd>
                <dt><i class="icon-globe"></i></dt><dd><a href="{{ long_road_url }}">Long Road</a></dd>
            {% else %}
                <dt><i class="icon-time"></i></dt><dd>Wednesdays 7:30-8:30pm</dd>
                <dt><i class="icon-globe"></i></dt><dd><a href="{{ long_road_url }}">Long Road</a></dd>
            {% endif %}
        </dl>
    </div>
</div> <!-- class=row -->
<hr/>
<div class="row">
    <div class="span7">
        <div class="section_header">
            <h3 id="next-training">Next Training</h3>
        </div>
        {% include 'training/_next_training.html' %}
        {% if perms.training.add_trainingsession %}
            <a href="{{ create_training_session }}" title="Add training sessions"><label class="btn btn-default">Add training sessions</label></a>
        {% endif %}
    </div>
    <div class="span5">
        <div class="well">
          <h3>Make it easy for yourself!</h3>
          <p class="lead">All Cambridge South training sessions are available as a <strong>.ics calendar feed</strong> that you can link into your own calendar client (Outlook, iPhone etc).</p>
          <a class="calendar" href="{{ calendar }}#feeds"><button class="btn btn-large btn-primary"><i class="icon-calendar"></i>Plug me in!</button></a>
        </div>
    </div>
</div>

{% model_admin_links 'training' 'trainingsession' %}

{% endblock content %}
