{% load core_tags %}

{% url 'match_list' as match_list_url %}

{% if seasons %}

    <table class="table table-striped table-hover table-condensed table-center-align">
        <thead>
            <tr>
                <th rowspan="2" class="left-align">Season</th>
                {% if flavour = 'mobile' %}
                <th colspan="3">All matches</th>
                {% else %}
                <th colspan="3">League</th>
                <th colspan="3">Cup</th>
                <th colspan="3">Friendly</th>
                {% endif %}
                <th colspan="2">Awards</th></tr>
            <tr>
                {% if flavour = 'mobile' %}
                <th><abbr title="Appearances">Apps</abbr></th>
                <th><abbr title="Goals">Gls</abbr></th>
                <th><abbr title="Clean Sheets">CS</abbr></th>
                {% else %}
                <th><abbr title="Appearances">Apps</abbr></th>
                <th><abbr title="Goals">Gls</abbr></th>
                <th><abbr title="Clean Sheets">CS</abbr></th>
                <th><abbr title="Appearances">Apps</abbr></th>
                <th><abbr title="Goals">Gls</abbr></th>
                <th><abbr title="Clean Sheets">CS</abbr></th>
                <th><abbr title="Appearances">Apps</abbr></th>
                <th><abbr title="Goals">Gls</abbr></th>
                <th><abbr title="Clean Sheets">CS</abbr></th>
                {% endif %}
                <th><i class="icon-star"></i><abbr title="Man of the Match">MOM</abbr></th>
                <th><i class="icon-lemon"></i><abbr title="Lemon of the Match">LOM</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
            <tr{% if season.is_total %} class="info total"{% endif %}>
                <td class="left-align">
                    {% if season.is_total %}
                        Total
                    {% else %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&season={{ season.season.id }}" title="List matches in {{ season.season }} for {{ member.pref_first_name }}">
                            {{ season.season }}
                        </a>
                    {% endif %}
                </td>
                {% if flavour = 'mobile' %}
                <td>{{ season.matches.all.appearances|default:"" }}</td>
                <td>{{ season.matches.all.goals|default:"" }}</td>
                <td>{{ season.matches.all.clean_sheets|default:"" }}</td>
                {% else %}
                <td>
                    {% if season.is_total %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&fixture_type=League" title="List all league matches for {{ member.pref_first_name }}">
                            {{ season.matches.league.appearances|default:"" }}
                        </a>
                    {% else %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&season={{ season.season.id }}&fixture_type=League" title="List league matches in {{ season.season }} for {{ member.pref_first_name }}">
                            {{ season.matches.league.appearances|default:"" }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ season.matches.league.goals|default:"" }}</td>
                <td>{{ season.matches.league.clean_sheets|default:"" }}</td>
                <td>
                    {% if season.is_total %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&fixture_type=Cup" title="List all cup matches for {{ member.pref_first_name }}">
                            {{ season.matches.cup.appearances|default:"" }}
                        </a>
                    {% else %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&season={{ season.season.id }}&fixture_type=Cup" title="List cup matches in {{ season.season }} for {{ member.pref_first_name }}">
                            {{ season.matches.cup.appearances|default:"" }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ season.matches.cup.goals|default:"" }}</td>
                <td>{{ season.matches.cup.clean_sheets|default:"" }}</td>
                <td>
                    {% if season.is_total %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&fixture_type=Friendly" title="List all friendly matches for {{ member.pref_first_name }}">
                            {{ season.matches.friendly.appearances|default:"" }}
                        </a>
                    {% else %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&season={{ season.season.id }}&fixture_type=Friendly" title="List friendly matches in {{ season.season }} for {{ member.pref_first_name }}">
                            {{ season.matches.friendly.appearances|default:"" }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ season.matches.friendly.goals|default:"" }}</td>
                <td>{{ season.matches.friendly.clean_sheets|default:"" }}</td>
                {% endif %}
                <td>{{ season.matches.mom|default:"" }}</td>
                <td>{{ season.matches.lom|default:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p class="lead muted">Sorry - no stats available</p>
{% endif %}
