{% comment %}
Reusable snippet that displays a thumbnail of the member's profile picture if they have one, or
the default member avatar if not.

Expected context:
'member' - the member model instance
{% endcomment %}

{% load thumbnail %}
{% comment %}
{% thumbnail member.profile_pic "50x50" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% empty %}
	<img src="{{ STATIC_URL }}media/profile_pics/default.jpg" width="50" height="50">
{% endthumbnail %}
{% endcomment %}

{# TEMP #}
<img src="{{ STATIC_URL }}media/profile_pics/default.jpg" width="50" height="50">