{% load core_tags %}

{% url 'match_list' as match_list_url %}

{% if seasons  %}

    <table class="table table-striped table-hover table-condensed table-center-align">
        <thead>
            <tr>
                <th rowspan="2" class="left-align">Season</th>
                <th rowspan="2"><abbr title="Played">P</abbr></th>
                <th rowspan="2"><abbr title="Won">W</abbr></th>
                <th rowspan="2"><abbr title="Drawn">D</abbr></th>
                <th rowspan="2"><abbr title="Lost">L</abbr></th>
                <th colspan="3">Average</th>
            </tr>
            <tr>
                <th><abbr title="Goals For">GF</abbr></th>
                <th><abbr title="Goals Against">GA</abbr></th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
            <tr{% if season.is_total %} class="info total"{% endif %}>
                <td class="left-align">{% if season.is_total %}Total{% else %}{{ season.season }}{% endif %}</td>
                <td>
                    {% if season.is_total %}
                        <a href="{{ match_list_url }}?players={{ member.id }}" title="List all matches {{ member.first_name }} has played">
                            {{ season.success.played }}
                        </a>
                    {% else %}
                        <a href="{{ match_list_url }}?players={{ member.id }}&season={{ season.season.id }}" title="List all matches {{ member.first_name }} played in {{ season.season }}">
                            {{ season.success.played }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ season.success.won }}</td>
                <td>{{ season.success.drawn }}</td>
                <td>{{ season.success.lost }}</td>
                <td>{{ season.success.avg_goals_for|floatformat:1 }}</td>
                <td>{{ season.success.avg_goals_against|floatformat:1 }}</td>
                <td>{{ season.success.avg_points|floatformat:1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p class="lead muted">Sorry - no stats available</p>
{% endif %}
