{% load core_tags %}

{% url 'match_list' as match_list_url %}

{% url 'clubteam_detail' 'm1' as team_m1 %}
{% url 'clubteam_detail' 'm2' as team_m2 %}
{% url 'clubteam_detail' 'm3' as team_m3 %}
{% url 'clubteam_detail' 'm4' as team_m4 %}
{% url 'clubteam_detail' 'm5' as team_m5 %}
{% url 'clubteam_detail' 'l1' as team_l1 %}
{% url 'clubteam_detail' 'l2' as team_l2 %}
{% url 'clubteam_detail' 'l3' as team_l3 %}
{% url 'clubteam_detail' 'l4' as team_l4 %}
{% url 'clubteam_detail' 'mixed' as team_mixed %}
{% url 'clubteam_detail' 'indoor' as team_indoor %}
{% url 'clubteam_detail' 'vets' as team_vets %}

{% if seasons %}

    <table class="table table-striped table-hover table-condensed table-center-align">
        <thead>
            <tr><th></th><th colspan="{% if member.gender == 'Male' %}8{% else %}5{% endif %}">Team</th></tr>
            <tr>
                <th class="left-align">Season</th>
                {% if member.gender == 'Male' %}
                <th><a href="{{ team_m1 }}">M1</a></th>
                <th><a href="{{ team_m2 }}">M2</a></th>
                <th><a href="{{ team_m3 }}">M3</a></th>
                <th><a href="{{ team_m4 }}">M4</a></th>
                <th><a href="{{ team_m5 }}">M5</a></th>
                <th><a href="{{ team_indoor }}">Indoor</a></th>
                <th><a href="{{ team_vets }}">Vets</a></th>
                {% else %}
                <th><a href="{{ team_l1 }}">L1</a></th>
                <th><a href="{{ team_l2 }}">L2</a></th>
                <th><a href="{{ team_l3 }}">L3</a></th>
                <th><a href="{{ team_l4 }}">L4</a></th>

                {% endif %}
                <th><a href="{{ team_mixed }}">Mix</a></th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
            <tr{% if season.is_total %} class="info total"{% endif %}>
                <td class="left-align">{% if season.is_total %}Total{% else %}{{ season.season }}{% endif %}</td>
                {% if member.gender == 'Male' %}
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.m1_appearances team_name="M1" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.m2_appearances team_name="M2" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.m3_appearances team_name="M3" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.m4_appearances team_name="M4" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.m5_appearances team_name="M5" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.indoor_appearances team_name="Indoor" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.vets_appearances team_name="Vets" %}</td>
                {% else %}
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.l1_appearances team_name="L1" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.l2_appearances team_name="L2" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.l3_appearances team_name="L3" %}</td>
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.l4_appearances team_name="L4" %}</td>
                {% endif %}
                <td>{% include 'members/_team_rep.html' with appearances=season.teams.mix_appearances team_name="Mixed" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p class="lead muted">Sorry - no stats available</p>
{% endif %}
