{% extends "base.html" %}

{% comment %}
Form used to submit new membership enquiries
- Used by membershipenquiry_create
{% endcomment %}

{% block title %}{{ block.super }} | Join Us{% endblock %}

{% block body_id %}join-us{% endblock body_id %}

{% block content %}

{% url 'upcoming_trainingsession_list' as training %}
{% url 'membershipenquiry_create' as join_us %}
{% url 'about_fees' as fees %}

<div id="contact">
    <div class="page-header">
        <h1>Join Us</h1>
    </div>
    <div class="row">
        <div class="span5">
        <p class="lead">We are always looking for new members to join the club, whether experienced players or new to the sport!</p>
        <p>If you&#39;re interested in joining or would just like more information about the club, simply fill in this form. Joining the club mailing lists means you will receive email alerts about games, training, socials etc.</p>
        <p>Alternatively, come along to a <a href="{{ training }}">training</a> session - just turn up at Wednesday night pay-and-play (your first session is&nbsp;free)&nbsp;or Monday night training (always free!) and introduce yourself.</p>
        <h4>Fees</h4>
        <p>Details of club annual subscription fees and match fees can be found <a href="{{ fees }}" title="Club Fees">here</a>. New players can play up to three matches for the men's teams or two matches for the ladies' teams before deciding whether to join.</p>
        </div>
        <div class="span7">
            <form action="{{ join_us }}" method="post">{% csrf_token %}
                    <input id="id_first_name" maxlength="255" name="first_name" class="name" type="text" placeholder="First name">
                    <input id="id_last_name" maxlength="255" name="last_name" class="name" type="text" placeholder="Last name">
                    <input id="id_email" maxlength="254" name="email" class="mail" type="text" placeholder="Email">
                    <input id="id_phone" maxlength="25" name="phone" class="phone" type="text" placeholder="Phone">
                    <textarea id="id_hockey_exp" name="hockey_exp" placeholder="A brief description of any previous hockey experience..."></textarea>
                    <textarea id="id_comments" name="comments"  placeholder="Any other comments or questions..."></textarea>
                    <label class="checkbox">
                        <input id="id_join_mail_list" name="join_mail_list" type="checkbox"> I would like to join the Club mailing lists
                    </label>
                    <input type="submit" class="btn btn-primary" value="Send your message">
            </form>
        </div>
    </div>
</div>

{% endblock content %}

