{% extends "base.html" %}

{% comment %}
Formatted display of the details of a particular member.
- Used by member_details_view
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | {{ member }}{% endblock %}

{% block content %}

{% url 'member_list' as member_list_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ member_list_url }}">Members</a> <span class="divider">/</span></li>
  <li class="active">{{member }}</li>
</ul>

<div class="page-header">
  <h1>{{ member }} {% if member.pref_position != 9 %}<small>{{ member.get_pref_position_display|capfirst }}</small>{% endif %}{% if member.is_current %}&nbsp;&nbsp;<span class="label label-success">Current</span>{% endif %}</h1>  
</div>

<div class="row">

    <div class="span8">
        <div id="stats-wrapper">
        <h3><i class="icon-table icon-large"></i>Player Stats</h3>
            {% include 'core/_loading_placeholder.html' with placeholder_id="stats" placeholder_text="Loading member stats..." %}
        </div>
    </div>

    <div class="span4">
        {% if member.profile_pic %}
            <img class="profile-pic-large" src="{{ member.profile_pic.url }}"/>
        {% else %}
            <img class="profile-pic-large" src="{{ MEDIA_URL }}profile_pics/default.jpg"/>
        {% endif %}
    </div>
</div>

<div class="row">
{% if recent_match_reports %}
<div class="span8">
    <h3><i class="icon-file-alt icon-large"></i>Match reports by {{ member }}</h3>
    <table class="table table-condensed">
        <tbody>
            {% for match in recent_match_reports %}
                <tr><td>{{ match.date|date:"d-M-y" }}</td><td><a href="{{ match.get_absolute_url }}">{{ match.report_title }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if recent_match_awards %}
<div class="span4">
    <h3><i class="icon-star icon-large"></i>Latest match awards</h3>
    <table class="table table-condensed">
        <tbody>
            {% for award in recent_match_awards %}
                <tr><td>{{ award.match.date|date:"d-M-y" }}</td><td><a href="{{ award.match.get_absolute_url }}" title="Match details">{{ award.award.name }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if recent_end_of_season_awards %}
<div class="span4">
    <h3><i class="icon-trophy icon-large"></i>End of Season Awards</h3>
    <table class="table table-condensed">
        <tbody>
            {% for award in recent_end_of_season_awards %}
                <tr><td>{{ award.season }}</td><td>{{ award.award.name }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

</div>

{% endblock %}

{% block body_js %}
{{ block.super }}

{% url 'member_stats_ajax' member.pk as member_stats %}
<script>
    $(function () {
        ajax_load('{{ member_stats }}', 'stats');
    });
</script>
{% endblock body_js %}