{% extends "base.html" %}
{% load thumbnail %}
{% load core_tags %}
{% load i18n %}
{% load pagination_tags %}
{% load sorter_tags %}

{% comment %}
Filter-able, sortable, paginated display of members.
{% endcomment %}

{% block title %}{{ block.super }} | Club members{% endblock %}

{% block body_id %}member-list{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Members</li>
</ul>

<div class="page-header">
    <h1>Club members</h1>
</div>

    {% sort filter.qs as sorted_list %}
    {% autopaginate sorted_list 40 as sorted_filter_list %}

    {% paginate %}

    {% if sorted_filter_list %}
        <table id="members" class="table table-hover table-middle-align">
            <thead>
                <tr>
                    <th class="priority3"></th>
                    <th>{% sortlink by "first_name" "-first_name" %}First Name{% endsortlink %}</th>
                    <th>{% sortlink by "last_name" "-last_name" %}Last Name{% endsortlink %}</th>
                    <th>{% sortlink by "gender" "-gender" %}M/F{% endsortlink %}</th>
                    <th>{% sortlink by "pref_position" "-pref_position" %}Position{% endsortlink %}</th>
                    <th>{% sortlink by "shirt_number" "-shirt_number" %}Shirt #{% endsortlink %}</th>
                </tr>
            </thead>
            <tbody>
            {% for member in sorted_filter_list %}
            {% with member_url=member.get_absolute_url %}
                <tr>
                    <td class="priority3"><a href="{{ member_url }}" title="Member details">{% include 'members/_profile_pic_thumbnail.html' %}</a></td>
                    <td><a href="{{ member_url }}" title="Member details">{{ member.first_name }}</a></td>
                    <td><a href="{{ member_url }}" title="Member details">{{ member.last_name }}</a></td>
                    <td><a href="{{ member_url }}" title="Member details">{{ member.get_gender_display }}</a></td>
                    <td><a href="{{ member_url }}" title="Member details">{{ member.get_pref_position_display }}</a></td>
                    <td><a href="{{ member_url }}" title="Member details">{{ member.shirt_number|default:"" }}</a></td>
                </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="lead muted">No members found!</p>
    {% endif %}

    {% paginate %}

{% url 'admin:members_member_add' as admin_url_add %}
{% url 'admin:members_member_changelist' as admin_url_list %}
{% include 'core/_admin_link.html' with add_url=admin_url_add list_url=admin_url_list add_label='Add member' list_label='List members' %}

{% endblock content %}