{% extends "base.html" %}

{% comment %}
Formatted display of all membership enquiries.
- Used by membershipenquiry_list
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | Membership enquiries{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Membership enquiries</h1>
</div>

<div class="row">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
    {% for e in membershipenquiry_list %}
        <tr>
            <td><a href="{{ e.get_absolute_url }}" title="View enquiry details">{{ e }}</a></td>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}