{% extends "base.html" %}
{% load thumbnail %}
{% load core_tags %}
{% load i18n %}
{% load pagination_tags %}
{% load sorter_tags %}

{% comment %}
Filter-able, sortable, paginated display of members.
{% endcomment %}

{% block title %}{{ block.super }} | Club members{% endblock %}

{% block body_id %}member-list{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Members</li>
</ul>

<div class="page-header">
    <h1>Club members</h1>
</div>

    {% sort filter.qs as sorted_list %}
    {% autopaginate sorted_list 20 as sorted_filter_list %}

    {% if sorted_filter_list %}
        <table id="members" class="table table-hover">
            <thead>
                <tr>
                    <th class="priority3"></th>
                    <th>{% sortlink by "first_name" "-first_name" %}First Name{% endsortlink %}</th>
                    <th>{% sortlink by "last_name" "-last_name" %}Last Name{% endsortlink %}</th>
                    <th>{% sortlink by "gender" "-gender" %}M/F{% endsortlink %}</th>
                    <th>{% sortlink by "pref_position" "-pref_position" %}Position{% endsortlink %}</th>
                    <th></th>
                </tr>
            </thead>
            {% for member in sorted_filter_list %}
                <tr>
                    <td class="priority3">{# TODO: photo #}</td>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.get_gender_display }}</td>
                    <td>{{ member.get_pref_position_display }}</td>
                    <td><a href="{{ member.get_absolute_url }}" title="Member details"><i class="icon-chevron-sign-right"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="lead muted">No members found!</p>
    {% endif %}

    {% paginate %}

{% url 'admin:members_member_add' as admin_url_add %}
{% url 'admin:members_member_changelist' as admin_url_list %}
{% include 'core/_admin_link.html' with add_url=admin_url_add list_url=admin_url_list add_label='Add member' list_label='List members' %}

{% endblock content %}