{% extends "base.html" %}

{% comment %}
Formatted display of all clubs.
- Used by opposition_club_list
Currently just lists the values that will be needed by this template - no UI design here yet!
{% endcomment %}

{% block title %}{{ block.super }} | Opposition Clubs{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Opposition Clubs</li>
</ul>

<div class="page-header">
    <h1>Opposition Clubs</h1>
</div>

<p>This table shows the average points (3 points for a Win, 1 point for a Draw) that South Teams have taken off rival clubs.
The higher the average, the better is South's record against that club. You can click on a club name to see a breakdown of the
matches played and then drill into Match Reports.</p>

<div id="clubstats-table">
{% include 'opposition/_clubstats_table.html' %}
</div>
{% if user.is_staff %}
<button id="refresh-btn" class="btn btn-primary" type="button" title="Refresh Club stats (this might take a while)" ><i id="refresh-icon" class="icon icon-refresh"></i><span id="refresh-text">Refresh</span></button>
{% endif %}

{% url 'admin:opposition_club_add' as admin_url_add %}
{% url 'admin:opposition_club_changelist' as admin_url_list %}
{% include 'core/_admin_link.html' with add_url=admin_url_add list_url=admin_url_list add_label='Add club' list_label='List clubs' %}

{% endblock %}

{% block body_js %}
{{ block.super }}

{% url 'clubstats_update' as refresh_clubstats %}
<script>
{% if user.is_staff %}
    $("#refresh-btn").click( function() {
        $("#refresh-icon").addClass('icon-spin');
        $("#refresh-text").text('Refreshing...');
        $('#refresh-btn').attr("disabled", true);
        $.ajax({
            url: '{{ refresh_clubstats }}', cache: false, success: function (result) {
                $("#clubstats-table").html(result);
                $("#refresh-icon").removeClass('icon-spin');
                $("#refresh-text").text('Refresh');
                $('#refresh-btn').attr("disabled", false);
            }
        });
    });
{% endif %}
</script>
{% endblock body_js %}