{% extends "base.html" %}

{% comment %}
Formatted display of all venues.
- Used by club.views.venues.index
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | Match venues{% endblock %}

{% block content %}

<h1>Match venues</h1>
<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Name</th><th>Phone</th><th>Address</th><th>Notes</th></tr>
    </thead>
    <tbody>
    {% for v in venues %}
        <tr>
            <td><a href="{{ v.get_absolute_url }}">{{ v.name }}</a></td>
            <td>{{ v.phone }}</td>
            <td>{{ v.full_address }}</td>
            <td>{{ v.notes }}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}