.ng-cloak { visibility:hidden; }

/**********************************************************************/
/* List animations */

/* you can also define the transition style
   on the base class as well (.repeat-item) */


.comment-item.ng-enter,
.comment-item.ng-leave {
  -webkit-transition:1.0s linear all;
  transition:1.0s linear all;
}

.comment-item.ng-enter,
.comment-item.ng-leave.ng-leave-active {
  opacity:0;
}
.comment-item.ng-leave,
.comment-item.ng-enter.ng-enter-active {
  opacity:1;

}
/*
.ng-enter,
.ng-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}*/

/**********************************************************************/
/* Form styling */

.update-form-row {
  background-color: rgb(237, 237, 234);
}

#update-form {
  padding: 0;
  margin: 0;
}

#user-options {
  margin-top: 20px;
  margin-bottom: 10px;
}

#user-options .pull-right.btn {
  margin-right: 20px;
  margin-bottom: 0;
}
/**********************************************************************/
/* Toggle buttons */

#update-form #comment-options a {
  width: 100%;
}

/**********************************************************************/
/* Form fields */

#update-form #comment-text textarea{
  min-height: 61px;
  width: 100%;
}

#update-form .comment-btns {
  margin-right: 20px;
}

#update-form .comment-btns .btn {
  width: 100%;
}

#update-form #photo-selector,
#update-form #submitter{
  display: none;
}

#update-form #img-preview {
  max-width: 100%;
  height: auto;
}

#update-form .preview-wrapper{
  margin-right: 20px;
  margin-bottom: 20px;
}

#update-form .error-msg {
  color: red;
  font-style: italic;
}

/**********************************************************************/
/* Comment list */

#comment-stats {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#comment-stats #last-update {
  font-style: italic;
  color: grey;
  font-size: 12px;
  font-weight: normal;
}

#last-update .btn {
  margin-left: 10px;
}

#live-comment-list .comment-item {
  position: relative;
  border-bottom: 1px solid rgb(245, 244, 244);
  margin-top: 0;
  padding-top: 15px;
}

#live-comment-list .comment-item .close {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  font-size: 30px;
  height: 20px;
}

#live-comment-list .comment-item .close{
  visibility: hidden;
}

#live-comment-list .comment-item:hover .close {
  visibility: visible;
}

#live-comment-list .comment-item .comment-meta{
  font-size: 9px;
  line-height: 12px;
  margin: 5px 0;
  color: grey;
  width: 100%;
  text-align: center;
  max-width: 84px;
}

#live-comment-list .comment-item .no-highlight {
  font-weight: normal;
}


