{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Formatted display of all teams.
- Used by clubteam_list
Currently just lists the values that will be needed by this template - no UI design here yet!
{% endcomment %}

{% block title %}{{ block.super }} | Teams{% endblock %}

{% block body_id %}our-teams{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Teams</li>
</ul>

<div class="page-header">
    <h1>Cambridge South Hockey Club Teams</h1>
</div>

{% include "teams/_team_card.html" with teams=teams.active.Mens team_title='Mens Teams' team_class='mens' %}
{% include "teams/_team_card.html" with teams=teams.active.Ladies team_title='Ladies Teams' team_class='ladies' %}
{% include "teams/_team_card.html" with teams=teams.active.Mixed team_title='Mixed Teams' team_class='other' %}
<hr/>
{% include "teams/_team_card.html" with teams=teams.inactive.Mens team_title='Mens Teams - inactive' team_class='mens' %}
{% include "teams/_team_card.html" with teams=teams.inactive.Ladies team_title='Ladies Teams - inactive' team_class='ladies' %}
{% include "teams/_team_card.html" with teams=teams.inactive.Mixed team_title='Mixed Teams - inactive' team_class='other' %}

{% model_admin_links 'teams' 'clubteam' add=False %}

{% endblock %}