#feedback_widget
{
	position: fixed;
	left: 0;
	top: 68px;
	z-index: 100;
}
#feedback_tab
{
	display: block;
	width: 115px;
	height: 115px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback_tab button
{
	height: 30px;
	width: 95px;
	padding-top: 3px;
	padding-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	border: none; /*3px solid #333333;*/
	border-radius: 0 0 5px 5px;
	font-weight: bold;
	cursor: pointer;
	background-color: rgba(34, 102, 28, 0.7);
	color: white;
}
#feedback_tab button:hover
{
	background-color: rgba(34, 102, 28, 0.9);
}

#feedback_panel
{
	display: none;
	/*max-width: 240px;*/
	background-color: rgba(34, 102, 28, 0.7);
	padding: 10px;
	color: white;
}
#feedback_panel p label, #feedback_panel p textarea{
	vertical-align: top;
}
