#recruitment {
    margin-bottom: 20px;
}

#recruitment .full-width-pic {
    margin-bottom: 20px;
}

#recruitment .row {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#recruitment .color1 .row,
#recruitment .color2 .row  {
    color: white;
}

#recruitment .row .nomargin {
    margin-left: 0;
}
#recruitment .recruitment-text {
    padding: 10px;
}
#recruitment h3 {
    font-style: italic;
}
#recruitment ul {
    text-align: left;
}
#recruitment li {
    margin-bottom: 1em;
}
#recruitment a {
    margin-top: 20px;
}
#recruitment .wraptocenter{
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    #recruitment .wraptocenter{
        padding: 20px 28px 20px 20px;
    }
}