/*
 *  Cambridge South Hockey Club - CSS
*/

/******************************************************************************
Bootstrap overrides
*/
hr { border-top-color: #e0e0e0;}
.dropdown-menu {margin: 0px;}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }


/******************************************************************************
Theme overrides
*/
/*#footer {background-color: #003A57;}*/

.navbar .brand {padding: 0px 20px 0px;}

.nav-header { text-shadow: 0 1px 0 rgba(255,255,255,0.2);}

#comments img.dsq-widget-avatar {margin-right: 10px; margin-bottom: 0;}
#comments li.dsq-widget-item { margin: 10px 0;}

.zinnia .flex-direction-nav {display: none;}

/******************************************************************************
Global Styles
*/

.jump-list {font-size: 120%; font-weight: bold;}

.section_header { margin-bottom: 30px; }

i { margin-left: 0.5em; margin-right: 0.5em; }

.no-break { overflow: hidden; white-space: nowrap; }
.hero-unit h1 { margin-bottom: 20px; }

.quick-links button { width:160px; text-align: left; }

.admin-links { display: inline-block; margin-top: 5px; margin-bottom: 5px; }
.admin-links .btn {padding: 4px 4px;}

a.btt { display: block; text-align: right; }

.btn {margin-bottom: 10px;}

ul.jump-nav li { margin-bottom: 10px; font-size: 120%; }

.info-well {margin-top: 40px;}

.box { box-shadow: 0px 0px 7px -1px rgb(214, 214, 214); border-radius: 6px; background-color: #fff }

.box h3{
    color: rgb(83, 83, 83);
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    margin: 0 0 5px 0;
    line-height: 25px;
}
.box.male { background-color: rgb(215, 243, 236); }
.box.female { background-color: rgb(226, 231, 248); }
.box-heading { text-align: center; font-style: italic; font-weight: normal; color: #8E8E8F; }
.box .wrapper { padding: 24px 24px 24px 24px; }
.box .price { font-size: 17px; color: #1189D9; margin-top: 16px; }
.box .price span.pound { font-size: 32px; position: relative; top: -6px; margin-right: 3px; }
.box .price span.qty { font-size: 47px; margin-right:4px; position: relative; top: 2px; }
.box .price span.annual{ font-style: italic; font-weight: 300; font-size: 15px; }
.box img { box-shadow: 1px 1px 6px 0px #888; border-radius: 5px;}

.smaller {font-size: 80%;}

.side-box { padding: 10px; }

.bottom-box {
    padding: 10px;
    background-color: rgb(237, 237, 234);
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
}

ul.downloads { margin-top: 20px; }
ul.downloads li { font-size: 150%; margin-bottom: 10px; }

p.required {color: #A2A2A2; font-size: 80%;}

#profile-pic { margin-bottom: 30px; }

.team-photo { width: 100%; }

.profile-pic-small { width: 30px; height: auto; }

.profile-pic-large { margin-left: auto; margin-right: auto; display: block; }

img.profile-pic {width: 50px; height: 50px;}

.h-center {margin-left: auto; margin-right: auto; display: block; text-align: center; }

.scrolling-container { overflow: auto; margin-top: 20px; margin-bottom: 10px;}
.scrolling-container::-webkit-scrollbar {
    display: none;
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

.nav-pills>li>a { cursor: pointer; }

/******************************************************************************
Maps
*/
.map_large { height: 400px; }

.well .map_large { height: 400px; }

.map_small { height: 220px; }

.gmap3 { border: 1px solid #C0C0C0; }

.gmap-link, .gmap-dir-link { position: relative; display: block; margin: 10px 0px 10px;}

/******************************************************************************
Gender-specific
*/

/*span.female { background-color: rgb(153,204,255); }*/ /* Blue */

/*span.male { background-color: rgb(153,255,153); }*/ /* Green */

.label-female { background-color: rgb(153,204,255); color: black; /* Blue */ }

.label-male { background-color: rgb(153,255,153);  color: black; /* Green */ }

table tbody td.female { background-color: rgb(153,204,255); /* Blue */ }

table tbody td.male { background-color: rgb(153,255,153); /* Green */ }

.table-hover tbody tr:hover > td.female { background-color: rgb(129, 162, 195); /* Blue */ }

.table-hover tbody tr:hover > td.male { background-color: rgb(138, 194, 138); /* Green */ }


/******************************************************************************
Twitter/Comments
*/

#twitter-stream li { padding-bottom: 5px; margin-bottom: 10px; border-bottom: 1px solid rgb(221, 221, 221); }
#twitter-container {height: 400px;}

/******************************************************************************
Tables
*/

.table th.middle-align, .table td.middle-align, .table tr.middle-align { vertical-align: middle; }

.table-middle-align th, .table-middle-align td { vertical-align: middle; }

/* Allow a table to be predominantly middle-aligned, with just the odd override */
.table-middle-align th.auto-v-align, .table-middle-align td.auto-v-align, .table-middle-align tr.auto-v-align { vertical-align: auto; }

.table th.center-align, .table td.center-align, .table tr.center-align th, .table tr.center-align td { text-align: center; }

.table-center-align th, .table-center-align td { text-align: center; }

/* Allow a table to be predominantly center-aligned, with just the odd override */
.table-center-align th.left-align, .table-center-align td.left-align, .table-center-align tr.left-align { text-align: left; }

.align-right { float: right; }

.dt { font-style: italic; }

.table-clean th, .table-clean td { border: none; }

.table-hcondensed { width: auto; }

#member-list .table tbody tr td a {
  display: inline-block;
  width: 100%;
  height: 100%;
}


.fixture-list tr.future {
    background-color: rgb(239, 239, 239);
}

/******************************************************************************
Match Details
*/
.match-score {
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px #000;
    background-image: -moz-linear-gradient(top, #025702, #358E35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#025702), to(#358E35));
    background-image: -webkit-linear-gradient(top, #025702, #358E35);
    background-image: -o-linear-gradient(top, #025702, #358E35);
    background-image: linear-gradient(to bottom, #025702, #358E35);

}
.match-score table { margin-bottom: 0;}
.table-score tbody tr td { border: none; line-height: normal; vertical-align: middle; text-align: center; }

.table-score tbody tr td.team-name { color: white; width: 40%; font-size: 250%; }
.table-score tbody tr td.team-name a { color: white; }
a .table-score:hover tbody tr td.team-name,
a .table-score:hover tbody tr td.team-score,
.table-score tbody tr td.team-name a:hover {
    color: rgb(190, 197, 231);
}

.table-score tbody tr td.team-score { color: white; font-size: 400%; }
.table-score tbody tr td.team-score.alt-score { font-size: 200%; }

.table-score tbody tr td.score-divider { padding-left: 0px; padding-right: 0px; }

.match-detail { background-color: rgb(237, 237, 234); }

.team-played, .match-awards { padding-top: 10px; }

.players-container { float: left; }
.players-container .player-card{
    float:left;
    margin:10px 10px 0 0;
    width: 170px;
}
.player-card .profile-pic {
    text-align: left;
    vertical-align: top;
}
.player-details {
    display: inline-block;
    margin-left: 10px;
}

.match-links .btn { width: 190px; }

.absoluteCenterWrapper { position: relative; /* Contains the image in the div */ }

/* Positioning */
.absoluteCenter { margin: auto; /* Required */ position: absolute; /* Required */ top: 0; bottom: 0; /* Aligns Vertically */ }

/* Sizing - resizes down to avoid cutting off */
.absoluteCenter { /* Fallback Sizing */ max-height: 100%; max-width: 100%; }

.appearance { height: 50px; }

.appearance .absoluteCenterWrapper p { margin: 1em 0 1em 50px; padding-left: .5em; }

.match-report, .match-links, .same-day { margin-top: 15px; margin-bottom: 15px; }

.match-detail .media {margin-bottom: 10px;}

#image-carousel { width: 480px; }

#image-carousel.pull-right { margin-left: 20px; }

#image-carousel.pull-left { margin-right: 20px; }

#edit-profile-accordion {margin-bottom: 0;}
#edit-profile-accordion .accordion-group {border: None;}

.table .highlight { background-color: #ccffcc; }

/******************************************************************************
Top Banner
*/
#top-banner
{
    display: block;
    overflow: hidden;
    left: 0; top: 0;
    /*z-index: -9999;*/
    background-size: 100%;
    background:url('../img/backgrounds/astro1.png') no-repeat 0 0px;
    background-color: rgba(34, 102, 28, 0.8);
    width:100%;
    -webkit-background-size: cover !important;
       -moz-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
}

#top-banner .container {margin-top: 105px; margin-bottom:20px;}
.banner-box {font-size: 80%; }
.banner-box h3 { line-height: 20px; color: white; text-shadow: 1px 1px 1px #000;}
.banner-box {background-color: rgba(34, 102, 28, 0.8); color: white; padding: 10px;}
.banner-box .table-hover tbody tr:hover>td {background-color: rgba(34, 102, 28, 0.9);}
.banner-box .table th, .banner-box .table td {border-top: 1px solid #8A8A8A;}
.banner-box a {color: rgb(216, 221, 255);}
.banner-box a:hover {color: rgb(177, 186, 252);}
.banner-box a.btn {color: white; margin-top: 5px;}
.banner-box .table {margin-bottom: 5px;}
.banner-box .table-condensed th, .banner-box .table-condensed td {padding: 1px 5px;}


/******************************************************************************
Login form
*/
#login-modal input {display: block;}
#login-modal {width: 250px; margin-left: -125px;}
#login-modal #login_submit {margin-left: auto; margin-right: auto; display: block; text-align: center; }

/******************************************************************************
Footers
*/
#footer .row.sections { margin-bottom: 10px; }
#footer .footer-link a { color: #a6a6a7; }
#footer .footer-link a:hover { color: #0088CC;}
#footer .footer-link div.icon { font-size: 60px; }
#footer .footer-link div.icon i { margin-right: 0.2em; margin-left: 0; }
#footer .footer-link p { font-size: 160%; font-style: italic; line-height:120% }
#footer .footer-link p .em { font-size: 120%; }


/******************************************************************************
Responsive
*/
@media only screen and (max-width: 767px) {
	.table tbody { font-size: 12px; }
	.table th, .table td { padding: 6px 1px; }
	.table th.priority2, .table td.priority2 {display: none;}
	.table th.priority3, .table td.priority3 {display: none;}
    .table-score tbody tr td.team-name, #matches-by-date .table-score tbody tr td.team-name {font-size: 100%;}
    .table-score tbody tr td.team-score,
    #matches-by-date .table-score tbody tr td.team-score,
    .table-score tbody tr td.team-score.alt-score,
    #matches-by-date .table-score tbody tr td.team-score.alt-score {font-size: 100%;}
    .banner-box .table-condensed th, .banner-box .table-condensed td {padding: 6px 1px;}
    .pager li a {font-size: 10px; line-height: 14px;}
    .match-detail {padding: 0 0 10px 10px;}
}

@media only screen and (max-width: 320px) {
    .table th.priority4, .table td.priority4 {display: none;}

}

/* Hide the top banner on smaller screens */
@media only screen and (max-width: 767px) {
    #top-banner
    {
        background:url('../img/backgrounds/astro2.png') no-repeat 0 0px;
        left:0;
        right:0;
        position: relative;
        margin-right: -20px;
        margin-left: -20px;
        width: auto;
    }
    #top-banner .container {margin: 0;}
    #feedback_widget,
    .no-mobile {
        display: none;
    }
    .navbar.navbar-static-top {margin-bottom: 10px;}
    .page-header {margin: 0;}
    .page-header h1{font-size: 24px;}
    h1 small {font-size: 16px}
    h2 {font-size: 20px;}
    h3 {font-size: 18px;}
    h4 {font-size: 14px;}
    .lead {font-size: 16px; line-height: 24px;}
    .breadcrumb {margin: 0 0 5px;}
    div#filter {padding: 0 10px 0;}
    div#filter form {margin-bottom: 5px;}
    .gmap3, .gmap-link, .gmap-dir-link {margin-left: 10px; margin-right: 10px;}
}

/******************************************************************************
Browser-specific
Ref: http://rafael.adm.br/css_browser_selector/
*/
.ie7 #top-banner,
.ie8 #top-banner,
.ie7 .banner-box,
.ie8 .banner-box
{background-color: rgb(34, 102, 28);}

.ie7 .banner-box .table-hover tbody tr:hover>td,
.ie8 .banner-box .table-hover tbody tr:hover>td
 {background-color: rgb(27, 83, 22);}

/******************************************************************************
Page-specific
*/

#home .page-header h1 {text-align: center;}
#home #join-us { margin-bottom: 20px;}
#home #join-us #get-in-touch { margin-left: auto; margin-right: auto; display: block; margin-top: 20px; width: 150px;}
#home #crest { width: 70%; max-width: 200px; }
#home #intro-blurb { margin-bottom: 20px;}
#home #twitter-feed { margin-top: 20px; }
#home #comments { margin-bottom: 20px; }
#home #twitter-widget-1 {width: 100%; height: 800px; }
#home #comments, #home #articles { overflow: hidden;}
#home #articles a.details { float: right; display: block;}
#home #articles .article-pic { width: 150px; height: 100px;}
#home #widget-recents {margin-top: 20px;}

#contact-us input.name { background: url('../clean_canvas/img/formname.png') #fff no-repeat 5px; }
#contact-us input.mail { background: url('../clean_canvas/img/formmail.png') #fff no-repeat 5px; }
#contact-us input.phone { background: url('../clean_canvas/img/formphone.png') #fff no-repeat 5px; }
#contact-us input[type="text"] { padding-left: 39px; margin-bottom: 10px; color: black; height: 29px; border-radius: 3px; width: 90%; }
#contact-us textarea { width: 96%; margin: 0px 0px 10px 0px; border-radius: 3px; height: 113px; }
#contact-us input[type="submit"] { float: right; margin-right: 8px; }

#our-teams .row.mens { margin-bottom:20px; }
#our-teams .row.ladies { margin-bottom:20px; }
#our-teams .team { padding: 0px; margin-bottom: 20px; }
#our-teams .mens .team { background-color: rgb(153, 213, 182); }
#our-teams .ladies .team { background-color: rgb(169, 171, 221); }
#our-teams .other .team { background-color: rgb(234, 245, 156); }
#our-teams .team-details { padding: 5px 10px 20px 10px; }
#our-teams a.details { float: right; }
#our-teams img.team-photo { min-height: 200px; }

#about-us #crest { margin-right: 20px; width: 200px; }

#matches-by-date .table-score td.team-name { font-size: 150%; }
#matches-by-date .table-score td.team-score { font-size: 250%; }
#matches-by-date .match-detail { margin-bottom: 30px; }
#matches-by-date .match-detail ul {padding-top: 5px;}
#matches-by-date .map_small { height: 160px; }
#matches-by-date .match-content.past-match { padding-right: 10px; }

#kit tr.local td { font-style: italic; }
#kit td.kit-pic { text-align: center; width: 160px;}
#kit span.label-kit {font-size: 20px; margin-bottom: 20px; margin-top: 20px; padding: 5px; line-height: 20px;}

#committee .media-object { width: 50px; height: 50px; }
#committee .media-body p { font-size: 120%; color: rgb(141, 139, 139); font-weight: bold; }
#committee .media { margin-top: 15px; }
#committee .team-box { padding: 0px 10px 10px 10px; background-color: rgb(229, 240, 228);}
#committee .team-box .media {margin-top: 0; padding-top: 15px;}
#committee .team-title {margin-top: 10px; padding: 0 10px 0 10px; background-color: rgb(165, 219, 165); }
#committee .team-title h3 { margin: 0px; font-size: 150%; text-align: center;  }

#match-detail .match-report p { font-size: 120%; }
#match-detail .row.quick-links { margin-bottom: 10px;}
#match-detail .media-body h5 {margin-top: 0px;}
#team-detail #captains-table {margin-bottom: 5px; }
#team-detail .row.quick-links { margin-left: 0px; }
#team-detail #clubteam-info {margin-top: 20px;}
.same-day .icons-ul>li {margin-bottom: 5px;}
#chairmans-notes img.chairman { width: 300px; height: 300px; }

#calendar iframe.calendar { height: 600px; width: 100%; }

#latest-results a.subscribe, #latest-results a.twitter, #next-fixtures a.calendar { margin-left: auto; margin-right: auto; display: block; text-align: center; }


.pics-row img { display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px; max-height: 500px; }
table.awards td { border: none; }

#match-list #filter, #member-list #filter, #venue-list #filter { background-color: rgb(219, 230, 219); }
#match-list #filter label { display: inline-block; margin-right: 10px; width: 80px; }
#match-list #filter select { width: 200px; }
#match-list #filter select#id_date_day { width: 55px; }
#match-list #filter select#id_date_month { width: 55px; }
#match-list #filter select#id_date_year { width: 85px; }
#match-list #filter label#label_players { display: block; }
#match-list #filter select#id_players { height: 125px; width: 100%; }
#match-list #filter div.players {padding-right: 10px;}
#match-list #filter input, #match-list #filter button { margin: 10px 10px 15px 0px; }

#commission #commission-links .row { margin-top: 20px; }

#training ul.details { font-size: 20px; margin-top: 20px;}
#training ul.details li {margin-bottom: 10px;}

#stats #stats-img {margin-left: 20px; }
#stats #stats-links { margin-top: 20px;}

#directions div.box {padding: 10px;}
#directions div.box img { box-shadow: 1px 1px 6px 0px #888; border-radius: 5px; margin-bottom: 10px; max-width: 274px;}

#southerners div.box {padding: 10px;}
#southerners #southerners-league-table { margin-top: 20px;}
#fees div.box {padding: 10px;}

table.month { margin-bottom: 20px;}
table.month tbody tr { padding-bottom: 1px; }

table.month tbody td, table.month thead td { min-width: 24px; }
table.month .dayNumberNoEvents { color: #B3B3B3;}
table.month .dayNumber { font-weight: bold;}
table.month .filled .dayNumber { margin-right: 2px; padding-left: 4px; padding-right: 4px; }
table.month .filled a.pop {color: white;}
/* Copied from .label, .badge in bootstrap.css */
table.month .filled .dayNumber .popover {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #fff;
    text-shadow: none;
    white-space: normal;
}
.popover ul {margin: 0 0 10px 0px;}

#matches-by-season .popover { max-width: 400px;}
#matches-by-season .popover .time {margin-left: 5px; margin-right: 5px; color: rgb(150, 150, 150);}
#matches-by-season a.calendar { margin-left: auto; margin-right: auto; display: block; text-align: center; }

#venue-list #id_is_home {width: 100px;}
#venue-list #filter input, #venue-list #filter button { margin: 10px 10px 15px 0px; }

#member-list #filter input, #member-list #filter button { margin: 10px 10px 15px 0px; }

#shirt-number,
.shirt-number
{
    background-repeat: no-repeat; background-size: contain; background-position: center;
    width: 50px; height: 50px;
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
#shirt-number.female, .shirt-number.female {background-image: url("../media/kit/Ladies%20home%20shirt%20back.png");}
#shirt-number.male, .shirt-number.male {background-image: url("../media/kit/Mens%20home%20shirt%20back.png");}

/**************************************************************/
/* Summer hockey banner */
#top-banner.summer {background:url('../img/backgrounds/blue_sky_1.jpg') no-repeat 0 0px;}
.summer .row {background-color: rgba(36, 121, 192, 0.64); }
.summer .banner-box {background-color: rgba(36, 121, 192, 0); padding: 20px; }
.summer h3 { font-size: 300%; color: rgb(255, 255, 121); margin-bottom: 30px; line-height: 100%;    }
.summer .banner-box { font-size: 120%; }
.summer .cure h3.title { font-size: 200%; color: rgb(255, 255, 121); line-height: 100%; text-align: center;}
.summer .cure .lead { text-align: center;}
.summer img.left { margin-right: 10px; }
.summer img.main
{
    width: 120px;
    height: 120px;
}
.summer img.left { margin-right: 10px; }
.summer img.right { margin-left: 10px; }

 .ie7 #top-banner.summer,
}
}
}
}
.ie8 #top-banner.summer,
.ie7 .summer .banner-box,
.ie8 .summer .banner-box
{background-color: rgb(36, 121, 192);}

/* Hide the top banner on smaller screens */
@media only screen and (max-width: 767px) {
    #top-banner.summer    { background:url('../img/backgrounds/blue_sky_2.jpg') no-repeat 0 0px;}
}

/**************************************************************/

/**************************************************************/
/* Photo stack */
/* http://inspectelement.com/tutorials/create-the-illusion-of-stacked-elements-with-css3-pseudo-elements/ */

.stack { position: relative; z-index: 10; }

/* Image styles */
.stack img { max-width: 100%; height: auto; vertical-align: bottom; border: 10px solid #fff; border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

/* Stacks creted by the use of generated content */
.stack:before, .stack:after { content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fff; left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */

.stack.twisted:before {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.stack.twisted:after {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}