{% verbatim %}
<div id="match-comments" ng-show="context.match_is_in_past || context.commentary_is_active" ng-app="commentaryApp" ng-controller="CommentsController" ng-cloak class="ng-cloak">
  <form ng-show="context.commentary_is_active" ng-submit="postComment()" id="update-form" name="postCommentForm">
    <div class="row update-form-row">
      <div id="user-options">
        <div class="span10">
          <p ng-hide="access != 'not_authenticated'"><a href="/accounts/login/?next=/matches/{{ context.match_id }}/">Login</a> to post live comments on this match.</p>
          <p ng-hide="access != 'no_commentator'">There is no-one currently keeping score.</p>
          <p ng-hide="access != 'other_commentator'"><a href="/members/{{ commentator.commentator }}/">{{ commentator.commentator_name }}</a> is keeping score.</p>
          <p ng-hide="access != 'commentating'">You are keeping score.</p>
        </div>
        <div class="span2">
          <div class="comment-btns">
            <label ng-hide="access != 'no_commentator'" ng-click="startScoring()" class="input-block-level btn btn-primary">I'll keep score</label>
            <label ng-hide="access != 'commentating'" ng-click="stopScoring()" class="input-block-level btn btn-primary">Stop keeping score</label>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="access == 'not_authenticated'">
      <div class="row update-form-row" ng-hide="!error">
        <div class="span12">
          <div id="form-alert" class="alert alert-error">
            <strong>Error&nbsp; </strong>{{ error }}
          </div>
        </div>
      </div>
      <div id="comment-options" class="row update-form-row" ng-show="access == 'commentating'">
        <div class="span2">
          <label><input type="radio" name="toggle"
            ng-model="new_comment.comment_type"
            value="2">
            <i class="icon-edit"></i>&nbsp;Update
          </label>
        </div>
        <div class="span2">
          <label><input type="radio" name="toggle"
            ng-model="new_comment.comment_type"
            value="0"
            ng-disabled="access != 'commentating'">
            <i class="icon-thumbs-up"></i>&nbsp;We scored
          </label>
        </div>
        <div class="span2">
          <label><input type="radio" name="toggle"
            ng-model="new_comment.comment_type"
            value="1"
            ng-disabled="access != 'commentating'">
            <i class="icon-thumbs-down"></i>&nbsp;They scored
          </label>
        </div>
      </div>
      <div class="row update-form-row">
        <div id="comment-text" class="span10">
          <textarea id="comment-textarea" name="comment" class="" placeholder="What just happened?" bind-key="postComment()" key="13" ng-model="new_comment.comment"></textarea>
        </div>
        <div class="span2">
          <div class="comment-btns">
            <label id="select-photo" class="btn input-block-level" for="photo-selector">
              <input id="photo-selector" type="file" ng-file-select="onPhotoSelect($files)">
              <i class="icon-camera"></i>
            </label>
            <label id="submit-comment" class="btn btn-success input-block-level" for="submitter" ng-disabled="!new_comment.comment" >
              <input type="submit" id="submitter" class="btn btn-default">Post
            </label>
          </div>
        </div>
      </div>
      <div class="row update-form-row">
        <div class="span12">
          <div class="preview-wrapper">
            <img id="img-preview" ng-show="imageSrc" ng-src="{{ imageSrc }}" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="span12">
      <div id="comment-stats">
        <h4>Live match updates
          <span class="pull-right" ng-show="context.commentary_is_active" id="last-update">Last update: {{ last_update|date:"shortTime" }}
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span ng-click="refresh()"><i id="list-refresh-icon" class="icon-refresh"></i>&nbsp;Refresh&nbsp;</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" ng-click="toggleRefresh()"><i ng-show="auto_refresh" class="icon-check"></i>Auto-refresh</a></li>
              </ul>
            </div>
          </span>
        </h4>
      </div>
      <div id="live-comment-list" class="row">
        <div class="span12">
          <div ng-animate="'animate'" ng-repeat="comment in comments" class="media comment-item">
            <div class="pull-left">
              <i class="icon-3x" ng-class="{'icon-thumbs-up': comment.comment_type == 0, 'icon-thumbs-down': comment.comment_type == 1, 'icon-camera': comment.photo, 'icon-edit': comment.comment_type == 2}"></i>
              <div class="comment-meta">
                {{ comment.timestamp|date:"shortTime" }}<br/>
                <a href="/members/{{ comment.author }}/" title="Player Profile">{{ comment.author_name }}</a>
              </div>
            </div>
            <div class="media-body">
              <a href="javascript:void(0);" title="Delete" ng-hide="access != 'commentating'" class="close" ng-click="deleteComment(comment)">&times;</a>
              <h5 class="media-heading" ng-hide="comment.comment_type == 2">GOAL!&nbsp;
                <span ng-class="{'no-highlight': comment.comment_type == 1}">{{ context.our_team_name }} {{ our_score($index) }}</span>
                -
                <span ng-class="{'no-highlight': comment.comment_type == 0}">{{ opp_score($index) }} {{ context.opp_team_name }}</span>
              </h5>
              <img class="comment-img" ng-show="comment.photo" ng-src="{{ context.media_url }}{{ comment.photo }}" />
              <p>{{ comment.comment }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}