{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Club Dinner 2008{% endblock %}

{% block body_id %}dinner2008{% endblock body_id %}

{% block content %}

{% url 'about_social' as social %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ social }}">Social</a> <span class="divider">/</span></li>
  <li class="active">2008 Club Dinner &amp; Awards</li>
</ul>

<div class="page-header">
    <h1>Club Dinner &amp; Awards <small>2008</small><div class="pull-right">{% include 'core/social/_season_selector.html' with url_prefix='/archive/social/dinner' season='2008' %}</div></h1>
</div>


<p>The 2008 end of the season dinner and awards evening was held on Saturday 19th April in the dining hall of <b>Gonville and Caius College.</b></p>

<div class="row pics-row">
    <div class="span6">
        <img title="Gonville &amp; Caius College Dining Hall" alt="" src="{{ MEDIA_URL }}Social/Caius%20Dining%20Hall.jpg" />
    </div>
    <div class="span6">
         <img title="Gonville &amp; Caius College" alt="" src="{{ MEDIA_URL }}Social/Caius%20Aerial.jpg" />
    </div>
</div>
</p>

<p>Once again the attendance record was broken, with 85 people present. Such a successful evening was a fine reward for the efforts of the organisers, Rupert Webb and Hayley Sharpe. Thanks for the time and energy you put in, guys.</p>
<p>The End of Season Bash, as well as being the most formal evening of the social calendar, was also a chance for the club members to bestow honour upon the individuals who have made a difference to the club during the season (whether on or off the pitch).</p>

<h3>2008 Club Award Winners</h3>
<p>Here are the award winners for the 2007/08 season.</p>
<table class="table awards">
    <tbody>
        <tr>
            <td style="text-align: center" width="50%"><u><b>CLUBMAN OF THE YEAR</b></u></td>
            <td style="text-align: center" width="50%"><u><b>CLUB WOMAN OF THE YEAR</b></u></td>
        </tr>
        <tr>
            <td style="text-align: center">James Raikes</td>
            <td style="text-align: center">Emma Clarke</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;</td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Chris Graveling</td>
            <td style="text-align: center">Hayley Sharpe</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's 2nds Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' 2nds Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Colin Singleton</td>
            <td style="text-align: center">Anne-Isabelle Richard-Picchi</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's 3rds Player of the Season</b></td>
            <td style="text-align: center"><b>Mixed Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Paul South</td>
            <td style="text-align: center">Lou Tonkin</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's 4ths Player of the Season</b></td>
            <td style="text-align: center"><b>Umpiring Award</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Ian Glover</td>
            <td style="text-align: center">Steve Riches and Kevin Pride</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;</td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's&nbsp;Players' Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' 1sts Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Chris Graveling</td>
            <td style="text-align: center">Ellie Raffan</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's Young Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' 1sts Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Dave Stock</td>
            <td style="text-align: center">Ciara Metcalfe</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's Most Promising Newcomer</b></td>
            <td style="text-align: center"><b>Ladies' 2nds Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center">George Wych</td>
            <td style="text-align: center">Mel Harrison</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's Most Improved Player</b></td>
            <td style="text-align: center"><b>Ladies' 2nds Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Shahbaz Ali</td>
            <td style="text-align: center">Anne-Isabelle Richard-Picchi</td>
        </tr>
        <tr>
            <td style="text-align: center" valign="top" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center" valign="top" colspan="2"><b>'Accidental Tourist' award (for the most travelled player)</b></td>
        </tr>
        <tr>
            <td style="text-align: center" valign="top" colspan="2">John Sharp</td>
        </tr>
        <tr>
            <td style="text-align: center" valign="top" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center" valign="top" colspan="2"><b>Mick Beasley Perpetual Shield for Most Embarrassing Moment</b></td>
        </tr>
        <tr>
            <td style="text-align: center" valign="top" colspan="2">Simon Ta</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;</td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center" colspan="2"><b>Leading Goalscorers</b></td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men</b></td>
            <td style="text-align: center"><b>Ladies</b></td>
        </tr>
        <tr>
            <td style="text-align: center">1st: Mark Taylor (27 goals)</td>
            <td style="text-align: center">1st: Bex Baker (23 goals)</td>
        </tr>
        <tr>
            <td style="text-align: center">2nd: Chris Baker (23 goals)</td>
            <td style="text-align: center">2nd: Mel Harrison (17 goals)</td>
        </tr>
        <tr>
            <td style="text-align: center">3rd: Rob Barton (19 goals)</td>
            <td style="text-align: center">3rd: Gemma Thomas (15 goals)</td>
        </tr>
    </tbody>
</table>
{% endblock content %}