{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Club Dinner 2010{% endblock %}

{% block body_id %}dinner2010{% endblock body_id %}

{% block content %}

{% url 'about_social' as social %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ social }}">Social</a> <span class="divider">/</span></li>
  <li class="active">2010 Club Dinner &amp; Awards</li>
</ul>

<div class="page-header">
    <h1>Club Dinner &amp; Awards <small>2010</small><div class="pull-right">{% include 'core/social/_season_selector.html' with url_prefix='/archive/social/dinner' season='2010' %}</div></h1>
</div>

<p>The end of the year dinner and awards evening for the 2009/10 season was held on Saturday&nbsp;1st&nbsp;May in the Old Hall of <b>Queens' College.</b></p>
<div class="row pics-row">
    <div class="span6">
        <a target="_blank" href="{{ STATIC_URL }}media/Social/Queens_01.jpg"><img title="Queens' College Old Hall" alt="Queens' College Old Hall" src="{{ STATIC_URL }}media/Social/Queens_01.jpg" /></a>
    </div>
    <div class="span6">
        <a target="_blank" href="{{ STATIC_URL }}media/Social/Queens_02.jpg"><img width="400" height="266" title="Queens' College Gatehouse" alt="Queens' College Gatehouse" src="{{ STATIC_URL }}media/Social/Queens_02.jpg" /></a>
    </div>
</div>

<p>A great time was had by the hard core socialites of the club last night at the CSHC Annual Dinner. Queens' College did us proud but, as ever, it was the company that made the event so much fun. Thank you to Simon and Carla for a great job organising the evening.</p>
<h3>2010 Club Award Winners</h3>
<p>Each year, we give a number of awards to recognise the achievement and contribution of club members. Here are the award
winners for the 2009/10 season.</p>
<table class="table awards">
    <tbody>
        <tr>
            <td width="50%" style="text-align: center;"><u><b>CLUBMAN OF THE YEAR</b></u></td>
            <td width="50%" style="text-align: center;"><u><b>CLUB WOMAN OF THE YEAR</b></u></td>
        </tr>
        <tr>
            <td style="text-align: center;">Neil Sneade</td>
            <td style="text-align: center;">Hayley Sharpe</td>
        </tr>
        <tr>
            <td style="text-align: center;">&nbsp;</td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 1sts Player of the Season</b></td>
            <td style="text-align: center;"><b>Ladies' 1sts Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Matt Readman</td>
            <td style="text-align: center;">Georgie Hurford</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 1sts Best Newcomer</b></td>
            <td style="text-align: center;"><b>Ladies' 1sts Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Mark Pears</td>
            <td style="text-align: center;">Alice Hug</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 2nds Player of the Season</b></td>
            <td style="text-align: center;"><b>Ladies' 1st Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Nick Bristowe</td>
            <td style="text-align: center;">Louise Tonkin</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 2nds Best Newcomer</b></td>
            <td style="text-align: center;"><b>Ladies' 2nds Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Bhav Virdee</td>
            <td style="text-align: center;">Tracey Hunter</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 3rds Player of the Season</b></td>
            <td style="text-align: center;"><b>Ladies' 2nds Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">James Lee</td>
            <td style="text-align: center;">Simone Vis</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 3rds Best Newcomer</b></td>
            <td style="text-align: center;"><b>Ladies' 2nds Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">James Hodge</td>
            <td style="text-align: center;">Louise Gutteridge</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 3rds Outstanding Contribution</b></td>
            <td style="text-align: center;"><b>Indoor Team Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Andy Lewis</td>
            <td style="text-align: center;">Paul South</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 4ths Player of the Season</b></td>
            <td style="text-align: center;"><strong>Mixed Team Player of the Season</strong></td>
        </tr>
        <tr>
            <td style="text-align: center;">JJ Clarke</td>
            <td style="text-align: center;">Louise Gutteridge</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 4ths Most Improved Player</b></td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;">Boris Lossy</td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center;"><b>Umpires' Award</b></td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center;">Ian Evans</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center;"><b>Mick Beasley Perpetual Shield for Most Embarrassing Moment</b></td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center;">Not Awarded</td>
        </tr>
        <tr>
            <td style="text-align: center;">&nbsp;</td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;"><span style="font-size: medium;"><b>Leading Goalscorers</b></span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men</b></td>
            <td style="text-align: center;"><b>Ladies</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">1st: Rob Barton (26 goals)</td>
            <td style="text-align: center;">1st: Alice Hug (20 goals)</td>
        </tr>
        <tr>
            <td style="text-align: center;">2nd: Mark Pears (17 goals)</td>
            <td style="text-align: center;">2nd: Tash Cox (18 goals)</td>
        </tr>
        <tr>
            <td style="text-align: center;">3rd: Keith Hewitt (10 goals)</td>
            <td style="text-align: center;">3rd: Bex Baker (13 goals)</td>
        </tr>
    </tbody>
</table>

{% endblock content %}