{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Club Dinner 2007{% endblock %}

{% block body_id %}dinner2007{% endblock body_id %}

{% block content %}

{% url 'about_social' as social %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ social }}">Social</a> <span class="divider">/</span></li>
  <li class="active">2007 Club Dinner &amp; Awards</li>
</ul>

<div class="page-header">
    <h1>Club Dinner &amp; Awards <small>2007</small><div class="pull-right">{% include 'core/social/_season_selector.html' with url_prefix='/archive/social/dinner' season='2007' %}</div></h1>
</div>

<p>2007 Club Dinner and Awards Ceremony took place at the University Arms Hotel, Regent Street, on Friday 27th April.</p>
<p>The End of Season Bash, as well as being the most formal evening of the social calendar, was also a chance for the club members to bestow honour upon the individuals who have made a difference to the club during the season (whether on or off the pitch).</p>
<p>This years event was the best attended for a number of years, and included awards from the Ladies' club as well as the Men's. The turnout was especially impressive as the meal was arranged at short notice this year, due to the Chairman's imminent departure from these shores. Special thanks from everyone to Social Secretary, Jim Thorpe, for his efforts in getting a great evening together. Well done, mate.</p>
<h3>2007 Club Award Winners</h3>
<p>Here are the award winners for the 2006/07 season.</p>
<table border="0" cellspacing="1" cellpadding="5" width="100%">
    <tbody>
        <tr>
            <td width="50%" style="text-align: center"><u><b>CLUBMAN OF THE YEAR</b></u></td>
            <td width="50%" style="text-align: center"><u><b>CLUB WOMAN OF THE YEAR</b></u></td>
        </tr>
        <tr>
            <td style="text-align: center">Neil Sneade</td>
            <td style="text-align: center">Gemma Thomas</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;</td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;<b>Men's Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Steve Parker</td>
            <td style="text-align: center">Becca Lumb</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;<b>Men's Young Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Simon Ta</td>
            <td style="text-align: center">Hayley Sharpe</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;<b>Outstanding Player for Men's 1st XI</b></td>
            <td style="text-align: center"><b>Ladies' Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Eliot Read</td>
            <td style="text-align: center">Julie Sadler</td>
        </tr>
        <tr>
            <td style="text-align: center">&nbsp;<b>Men's 2nd XI Player of the Season</b></td>
            <td style="text-align: center"><b>Ladies' Special Contribution</b></td>
        </tr>
        <tr>
            <td style="text-align: center">Gareth Hebbron</td>
            <td style="text-align: center">Becca Lumb</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Outstanding Contribution for Men's 2nd XI</b></td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center">Rob Barton</td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center"><b>Men's 3rd XI Player of the Season</b></td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center">John Horsley</td>
            <td style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center"><b>Mixed Team Player of the Season</b></td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center">Lino Di Lorenzo</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center"><b>Mick Beasley Perpetual Shield for Most Embarrassing Moment</b></td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="text-align: center">James Raikes</td>
        </tr>
    </tbody>
</table>

{% endblock content %}