{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Club Dinner 2009{% endblock %}

{% block body_id %}dinner2009{% endblock body_id %}

{% block content %}

{% url 'about_social' as social %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ social }}">Social</a> <span class="divider">/</span></li>
  <li class="active">2009 Club Dinner &amp; Awards</li>
</ul>

<div class="page-header">
    <h1>Club Dinner &amp; Awards <small>2009</small><div class="pull-right">{% include 'core/social/_season_selector.html' with url_prefix='/archive/social/dinner' season='2009' %}</div></h1>
</div>

<p>The end of the year dinner and awards evening for the 2008/9 season was held on Saturday 19th April in the dining hall of <b>St Catharine's
College.</b>.</p>
<div class="row pics-row">
    <div class="span6">
        <img src="{{ STATIC_URL }}media/Social/catz_college.jpg" alt="Catz College Cambridge" title="Catz College Cambridge" />
    </div>
</div>
<p>Once again we had a fine attendance and the evening was a great success. Many thanks to our excellent Ents Team of Lino, Mel and Bex for all
their time and effort spent arranging the event.</p>
<h3>2009 Club Award Winners</h3>
<p>The End of Season Bash, as well as being the most formal evening of the social calendar, is also a chance for the club members to
bestow honour upon the individuals who have made a difference to the club during the season (whether on or off the pitch). Here are the award
winners for the 2008/09 season.</p>
<table width="100%" cellspacing="1" cellpadding="5" border="0">
    <tbody>
        <tr>
            <td width="50%" style="text-align: center;"><u><b>CLUBMAN OF THE YEAR</b></u></td>
            <td width="50%" style="text-align: center;"><u><b>CLUB WOMAN OF THE YEAR</b></u></td>
        </tr>
        <tr>
            <td style="text-align: center;">Rob Barton</td>
            <td style="text-align: center;">Louise Tonkin</td>
        </tr>
        <tr>
            <td style="text-align: center;">&nbsp;</td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 1sts Player of the Season</b></td>
            <td style="text-align: center;"><b>Ladies' 1sts Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Steve Parker</td>
            <td style="text-align: center;">Julie Sadler</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 1sts Best Newcomer</b></td>
            <td style="text-align: center;"><b>Ladies' 1sts Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Keith Hewitt</td>
            <td style="text-align: center;">Georgie Hurford</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 2nds Player of the Season</b></td>
            <td style="text-align: center;"><b>Ladies' 2nds Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Mark Pears</td>
            <td style="text-align: center;">Sarah Massen</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 2nds Best Newcomer</b></td>
            <td style="text-align: center;"><b>Ladies' 2nds Best Newcomer</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Dave Aston</td>
            <td style="text-align: center;">Carla Fitzachary</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 3rds Player of the Season</b></td>
            <td style="text-align: center;"><b>Ladies' Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Shahbaz Ali</td>
            <td style="text-align: center;">Tracey Hunter</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 3rds Outstanding Contribution</b></td>
            <td style="text-align: center;"><b>Indoor Team Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Andy Lewis</td>
            <td style="text-align: center;">Steve Parker</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 4ths Player of the Season</b></td>
            <td style="text-align: center;"><b>Indoor Team Most Improved Player</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Simon Jelley</td>
            <td style="text-align: center;">Tim Clapp</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men's 4ths Most Improved Player</b></td>
            <td style="text-align: center;"><b>Mixed Team Player of the Season</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">Shahzad Ali</td>
            <td style="text-align: center;">Dom Nelson</td>
        </tr>
        <tr>
            <td valign="top" style="text-align: center;" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style="text-align: center;" colspan="2"><b>Umpires' Award</b></td>
        </tr>
        <tr>
            <td valign="top" style="text-align: center;" colspan="2">Steve Riches</td>
        </tr>
        <tr>
            <td valign="top" style="text-align: center;" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" style="text-align: center;" colspan="2"><b>Mick Beasley Perpetual Shield for Most Embarrassing Moment</b></td>
        </tr>
        <tr>
            <td valign="top" style="text-align: center;" colspan="2">Kevin Rowland</td>
        </tr>
        <tr>
            <td style="text-align: center;">&nbsp;</td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="2"><span style="font-size: medium;"><b>Leading Goalscorers</b></span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Men</b></td>
            <td style="text-align: center;"><b>Ladies</b></td>
        </tr>
        <tr>
            <td style="text-align: center;">1st: Rob Barton (54 goals)</td>
            <td style="text-align: center;">1st: Mel Harrison (12 goals)</td>
        </tr>
        <tr>
            <td style="text-align: center;">2nd: Mark Pears (40 goals)</td>
            <td style="text-align: center;">2nd: Nicky Bareham (7 goals)</td>
        </tr>
        <tr>
            <td style="text-align: center;">3rd: Keith Hewitt (21 goals)</td>
            <td style="text-align: center;">3rd: Bex Baker (5 goals)</td>
        </tr>
    </tbody>
</table>

{% endblock content %}