{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Club Dinner 2012{% endblock %}

{% block body_id %}dinner2012{% endblock body_id %}

{% block content %}

{% url 'about_social' as social %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ social }}">Social</a> <span class="divider">/</span></li>
  <li class="active">2012 Club Dinner &amp; Awards</li>
</ul>

<div class="page-header">
    <h1>Club Dinner &amp; Awards <small>2012</small><div class="pull-right">{% include 'core/social/_season_selector.html' with url_prefix='/archive/social/dinner' season='2012' %}</div></h1>
</div>

<p>After the tremendous success of our first visit to Clare College in 2011, we returned this year to again enjoy dinner in the magnificent Great Hall and afterwards a private party in the subterranean cellar bar. Plaudits to Cath and Neil for organising another great do.</p>
<div class="row pics-row">
    <div class="span6">
        <img alt="Clare College Great Hall" src="{{ STATIC_URL }}media/Social/Clare%20Great%20Hall.jpg" title="Clare College Great Hall" />
    </div>
    <div class="span6">
        <img alt="Mick Beasley Shield" src="{{ STATIC_URL }}media/Social/Finn_Clare.jpg" title="Finn Johnson - Mick Beasley Shield winner" />
    </div>
</div>
<h3>2012 Club Award Winners</h3>
<p>Those recognised this year for their contribution and achievements over the season were:</p>
<table class="table awards">
<tbody>
    <tr>
        <td style="text-align: center;" width="50%">
            <u><b>CLUBMAN OF THE YEAR</b></u></td>
        <td style="text-align: center;" width="50%">
            <u><b>CLUB LADY&nbsp;OF THE YEAR</b></u></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            George Wych</td>
        <td style="text-align: center;">
            Lyn Wood</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            &nbsp;</td>
        <td style="text-align: center;">
            &nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 1sts Player of the Season</b></td>
        <td style="text-align: center;">
            <b>Ladies&#39; 1sts Player of the Season</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Eliot Read</td>
        <td style="text-align: center;">
            Lou Cantwell</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 1sts Most Improved Player</b></td>
        <td style="text-align: center;">
            <b>Ladies&#39; 1sts Best Newcomer</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Jon Hawkes</td>
        <td style="text-align: center;">
            Kylie Beasley</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 2nds Player of the Season</b></td>
        <td style="text-align: center;">
            <b>Ladies&#39; 2nds Player of the Season</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Paresh Parsot</td>
        <td style="text-align: center;">
            Leonie O&#39;Donnell</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 2nds Most Assertive Player</b></td>
        <td style="text-align: center;">
            <b>Ladies&#39; 2nds Best Newcomer</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Tom Howell</td>
        <td style="text-align: center;">
            Ali Graham</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 3rds Player of the Season</b></td>
        <td style="text-align: center;">
            <b>Ladies&#39; 2nds Most Improved Player</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Tom South</td>
        <td style="text-align: center;">
            Ami Chaplin</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 3rds Outstanding Contribution</b></td>
        <td style="text-align: center;">
            <b>Mixed Team Player of the Season</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            John Greaves</td>
        <td style="text-align: center;">
            John Benedikz</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 4ths Player of the Season</b></td>
        <td style="text-align: center;">
            <b>Umpiring Award</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Simon Frampton</td>
        <td style="text-align: center;">
            Ron Oren</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men&#39;s 4ths Team Player Award</b></td>
        <td style="text-align: center;">
            <b>Most Promising New Umpire</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            Shahzad Ali</td>
        <td style="text-align: center;">
            Shahbaz Ali</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            &nbsp;</td>
        <td style="text-align: center;">
            &nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <span style="font-size: medium;"><b>Leading Goalscorers</b></span></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <b>Men</b></td>
        <td style="text-align: center;">
            <b>Ladies</b></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            1st: Graham McCulloch (17&nbsp;goals, 0.61&nbsp;GPG)</td>
        <td style="text-align: center;">
            1st: Leonie O&#39;Donnell (11&nbsp;goals, 0.50&nbsp;GPG)</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            2nd: John Greaves (15&nbsp;goals, 0.94&nbsp;GPG)</td>
        <td style="text-align: center;">
            2nd: Kylie Beasley (7 goals, 0.54&nbsp;GPG)</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            3rd:&nbsp;Jack Chalk&nbsp;(15&nbsp;goals, 0.45&nbsp;GPG)</td>
        <td style="text-align: center;">
            3rd: Rebecca Baker&nbsp;(6&nbsp;goals, 0.55&nbsp;GPG)</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            &nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <span style="font-size: medium;"><b>Special Awards</b></span></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The Accidental Tourist Award (for distance travelled in the name of hockey) - Alice Hug and Russell Johnson</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The Reluctant Traveller Award (for those whose idea of an away fixture is playing City) - Cath Anthony and Alasdair Edge</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The Playa of the Season Award (for undeterred persistence in pursuit of the opposite sex) - Nick Venner</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The Strictly Ballroom Brucie Bonus Award (for demonstrating the full range of spins, twirls and pirouettes on the field) - Jack Chalk</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The Flying Lemon Award (for heaven-inspired goalkeeping) - Louise Tonkin</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The One Man Team Award (for excellence in every position) - Serin Dabb</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            The Manpower Award (for services to Club recruitment)&nbsp;- Cath Anthony</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            &nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <span style="font-size: medium;"><b>The Mick Beasley Perpetual Shield for Extracurricular Activities</b></span></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <p><b>Finn Johnson</b></p>
            <p>For his heroic commitment to club socialising, including promoting responsible drinking to junior members; as a barman, his legendary &ldquo;5 pound coins change from a fiver&rdquo; drinks deal for clubmates; for repeatedly shouting &ldquo;DIY SOS!&rdquo; in Nick Knowles&rsquo;s face on a club night out at The Castle; and for crippling his own team mate, Nick Bristowe, 5 minutes into Nick&rsquo;s first game back from injury putting him out for the rest of the season with a damaged ankle.</p>
        </td>
    </tr>
</tbody>
</table>

{% endblock content %}