{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Cambridge South 2008 Club Tour to Barcelona {% endblock %}

{% block body_id %}tour2008{% endblock body_id %}

{% block content %}

{% url 'about_social' as social %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ social }}">Social</a> <span class="divider">/</span></li>
  <li class="active">2008 Club Tour</li>
</ul>

<div class="page-header">
    <h1>Cambridge South Club Tour to Barcelona <small>2008</small></h1>
</div>

<p>We play hard at Cambridge South, but we party hard as well! To celebrate the end of the league season, the club took its playing and partying overseas on the Cambridge South Club Tour 2008.</p>
<p>Here's a recap of the fun that the ten girls and twelve guys who went on the 2008 Tour had....</p>
<h3>The Movie</h3>
<p>Whether you're one of the lucky people who came on the 2008 Tour and want to relive the highlights, one of the unfortunates who didn't come and want to see what you missed, or if you're thinking about whether to come on the 2012 Tour, the movie montage below should give you a flavour of the experience!</p>
<p><iframe width="480" height="390" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/1Fw0blZ1VqE?rel=0"></iframe></p>
<h3>The Tour</h3>
<p>For the inaugural Club Tour, we travelled to sunny <b>Barcelona</b> for four days, from <b>Saturday 26th</b> to <b>Tuesday 29th April</b>.</p>
<div class="row pics-row">
    <div class="span6">
        <img src="{{ MEDIA_URL }}Tour/Las%20Ramblas.jpg" alt="Las Ramblas" title="Barcelona Tour 2008 - Las Ramblas" />
    </div>
    <div class="span6">
        <img src="{{ MEDIA_URL }}Tour/Barceloneta.jpg" alt="Barceloneta Beach" title="Barcelona Tour 2008 - Barceloneta Beach" />
    </div>
</div>
<p>The Tour was a mixed Men's and Ladies Tour open to all members of the club, friends and supporters, organised through professional tour organisers, <a href="http://www.set-tours.com" target="_blank">SET Sports Tours</a>.</p>
<h3>Itinerary</h3>
<h4>Saturday 26th April</h4>
<ul>
    <li>4.30am - Taxi transfer to Stansted, easyJet flight 3031 to Barcelona (depart 0715, arrive 1035).</li>
    <li>Meet SET Sports tours representative in arrival lounge. Coach transfer to hostel.</li>
    <li>Free day to relax and evening enjoying the nightlife.</li>
</ul>
<h4>Sunday 27th April</h4>
<ul>
    <li>Breakfast in hostel.</li>
    <li>9.00am - Coach transfer to <b>Pau Negre Stadium</b>.</li>
    <li>9.30am-10.30am - Practice and training session at Pau Negre.</li>
    <li>10.45am - Coach transfer to <b>Campo Federativo, Terrassa</b>.</li>
    <li>12.00pm - <b>First Tour fixture: </b><u><b>Linea 22 vs Cambridge South HC</b></u>.</li>
    <li>1.30pm - Coach transfer from Campo Federativo to Linea 22's club house for post-match presentation and refreshments with hosts.</li>
    <li>4.00pm - Board coach for transfer back to hostel.</li>
    <li>Evening free.</li>
</ul>
<h4>Monday 28th April</h4>
<ul>
    <li>Breakfast in hostel, day free for sightseeing.</li>
    <li>4.30pm - Coach transfer to Pau Negre Stadium.</li>
    <li>5.00pm-6.00pm - Practice and training session at Pau Negre.</li>
    <li>6.30pm - Coach transfer to <b>Castelldefels</b>.</li>
    <li>8.30pm - <b>Second Tour fixture: <u>Castelldefels HC vs Cambridge South HC</u></b>. Post-match presentation and refreshments with hosts.</li>
    <li>10.30pm - Board coach for transfer back to hostel.</li>
    <li>Evening free.</li>
</ul>
<h4>Tuesday 29th April</h4>
<ul>
    <li>Breakfast in hostel.</li>
    <li>10.00am - Check out of accommodation. Store baggage at hostel until departure.</li>
    <li>Day free for relaxing or sightseeing.</li>
    <li>6.25pm - Convene at hostel and board coach.</li>
    <li>6.40pm - Depart hostel for transfer to Barcelona airport.</li>
    <li>7.50pm - Arrive Barcelona airport and check in for easyJet flight 3034 to Stansted (depart 2150, arrive 2315) and taxis to Cambridge.</li>
</ul>
<h3>Barcelona</h3> 
<img width="240" height="320" class="pull-right" src="{{ MEDIA_URL }}Tour/Barcelona%20Centric%20Point.jpg" alt="Hostel Centric Point, Barcelona" title="Hostel building on Passeig de Gracia" /><br />
<p>We stayed at the excellent <a href="http://www.centricpointhostel.com" target="_blank"><b>Hostel Centric Point</b></a>, in the centre of Barcelona, within walking distance of Las Ramblas and Barceloneta beach.</p>
<p>Thanks to the local knowledge and recommendations of our Barcelona specialists, Ellie and Steve, we enjoyed two local restaurants for the Saturday and Sunday evenings. On Saturday night we ate at <a href="http://www.10best.com/Barcelona/Restaurants/Spanish/Los_Caracoles_Barcelona_ES_BID_17825/" target="_blank">Los Caracoles</a> and on Sunday night we went to <a href="http://www.monchos.com/flash/monchosbarcelona/" target="_blank">Moncho's</a>. After our late match on Monday evening, the Tapas bar around the corner from the Hostel provided a perfect late supper venue.</p>
<h3>Tour Kit</h3>
<p>It doesn't just look smart, it's a memento of the Tour as well! We ordered a special Tour playing kit in custom colours, in individual sizes (a change from the usual bags full of XL shirts used in the league season - one size fits no-one) with shirts personalised with names and squad number printed on the back and the Tour legend embroidered on the chest.</p>
<h4>Playing Kit</h4>
<ul>
    <li><b>Shirts:</b> TK Montreal unisex polo-shirt in breathable hydrofeel fabric. Black with contrast pink collar and shoulder band.</li>
    <li><b>Shorts/Skirts:</b> TK Amsterdam shorts and TK Wien pleat skirt; microfibre windproof, water repellant and breathable. Black.</li>
    <li><b>Socks:</b> Hooped stretch nylon full length playing socks. Black with pink hoops.</li>
</ul>
<p><img width="104" height="120" src="{{ MEDIA_URL }}Tour/Strip%20(Tour).gif" alt="" /></p>
<h4>Non-Playing Kit</h4
<ul>
    <li>TK Madrid sweatshirt in navy or grey, personalised with name and/or the Tour legend embroidered on the chest.</li>
    <li>Zipped or pullover hoodies in navy or grey, personalised with name and/or the Tour legend embroidered on the chest.</li>
</ul>
<h3>Cost</h3>
<p>The cost, covering travel (including to/from airports), insurance, accommodation, breakfast, fixtures and coach transfers to/from games (but excluding Tour kit, other meals or spending money) came to a total of <b>&pound;340</b>. Brilliant value for four fantastic days!</p>
{% endblock content %}