{% include "venues/_gmap_js.html" %}

<script type="text/javascript">
    
    function initMap(full_address, position, index){
        var address = position.length ? null : full_address;
        var center = position.length ? position : null;
        $('#map_canvas' + index).gmap3({
            address: address,
            center: center,
            zoomControl: false,
            overviewMapControl: false,
            mapTypeControl: false,
            panControl: false,
            scaleControl: false,
            rotateControl: false,
            streetViewControl: false,
            zoom: 10,
            scrollwheel: true,
        })
        .marker({
            address: address,
            position: center,
        });
    }

    $(function(){
    {% for m in match_list %}
        {% if m.match.venue %}
            initMap("{{m.match.venue.full_address}}", [{{m.match.venue.position}}], "{{ forloop.counter0 }}")
        {% endif %}
    {% endfor %}
          
    });
</script>  

