{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Formatted display of all teams' matches on a particular season.
- Used by club.views.matches.by_season
Currently just lists the values that will be needed by this template - no UI design here yet!
{% endcomment %}

{% block title %}{{ block.super }} | All matches in {{ season }}{% endblock %}

{% block body_id %}matches-by-season{% endblock body_id %}

{% block content %}

{% url 'matches_by_season_default' as base_matches_by_season_url %}
{% url 'calendar' as calendar %}

<div class="page-header">
    <h1>All matches <small>{{ season }}</small><div class="pull-right">{% include 'core/_season_selector.html' with url_prefix=base_matches_by_season_url %}</div></h1>
</div>

<p class="lead">Dates with matches are highlighted.</p>

<div class"calendar">
    <div class="row">
    {% for year, matches_by_month in matches_by_year.items %}
        {% for month, m_list in matches_by_month.items %}
            <div class="span3">
                {% event_calendar year month m_list %}
            </div>
        {% endfor %}
    {% empty %}
        <p class="lead muted">No matches to display</p>
    {% endfor %}
    </div>
</div>

<div class="well">
    <h3>Make it easy for yourself!</h3>
    <p class="lead">All Cambridge South fixtures are available as a <strong>.ics calendar feed</strong> that you can link into your own calendar client (Outlook, iPhone etc).</p>
    <a class="calendar" href="{{ calendar }}#feeds"><button class="btn btn-large btn-primary"><i class="icon-calendar"></i>Plug me in!</button></a>
</div>

{% endblock %}