{% extends "base.html" %}

{% comment %}
Formatted display of a team's matches on a particular season.
- Used by club.views.matches.by_team and club.views.matches.by_season_and_team
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | {{ team.long_name }} matches - {{ season }}{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ team.long_name }} matches <small>{{ season }}</small></h1>
</div>

<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Date</th><th>Opposition</th><th>Start time</th><th>Venue</th><th>Result (CS-Op)</th><th>Scorers</th><th>MOM</th><th>LOM</th></tr>
    </thead>
    <tbody>
    {% for m in matches %}
        <tr>
            <td>{{ m.date }}</td>
            <td><a href="{{ m.opp_team.club.get_absolute_url }}">{{ m.opp_team.name }}</a></td>
            <td>{{ m.time }}</td>
            <td><a href="{{ m.venue.get_absolute_url }}">{{ m.venue.name }}</a></td>
            <td>{{ m.score_display }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %}