{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Formatted display of matches on a particular date.
- Used by club.views.matches.by_date
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | Matches on {{ date }}{% endblock %}

{% block body_id %}matches-by-date{% endblock body_id %}

{% block content %}

<div class="page-header">
    <h1>Matches <small>{{ date|date:"jS F Y" }}</small></h1>
</div>

{% include 'matches/_date_pager.html' %}

{% for m in match_list %}
    <div class="row match-score">
        <a class="match-link" href="{{ m.match.get_absolute_url }}" title="Match details">
        <table class="table table-score">
        <tbody>
            <tr>
                <td class="team-name">{{ m.match.our_team.abbr_name }}</td>
                {% if m.match.final_scores_provided %}
                <td class="team-score">{{ m.match.our_score }}</td>
                <td class="team-score score-divider">-</td>
                <td class="team-score">{{ m.match.opp_score }}</td>
                {% else %}
                <td class="team-score">vs</td>
                {% endif %}
                <td class="team-name">{{ m.match.opp_team.name }}</td>
            </td>
        </tbody>
        </table>
        </a>
    </div>

    <div class="row match-detail">    
        <div class="span12">
            {% if m.match.is_in_past %}
            <ul class="inline">
                {% if m.mom_winners %}
                    <li><i class="icon icon-star"></i>
                    {% for mom in m.mom_winners %}
                        <a href="{{ mom.member.get_absolute_url }}" title="{{ mom.comment }}">{{ mom.member.last_name }}</a>{% if not forloop.last %}, {% endif %} 
                    {% endfor %}            
                    </li>
                {% endif %}
                {% if m.lom_winners %}
                    <li><i class="icon icon-lemon"></i>
                    {% for lom in m.lom_winners %}
                        <a href="{{ lom.member.get_absolute_url }}" title="{{ lom.comment }}">{{ lom.member.last_name }}</a>{% if not forloop.last %}, {% endif %} 
                    {% endfor %}            
                    </li>
                {% endif %}
                {% if m.scoring_appearances %}
                    <li><strong>Scorers:</strong> 
                    {% for scorer in m.scoring_appearances %}
                        <a href="{{ scorer.member.get_absolute_url }}">{{ scorer.member.last_name }}</a>{% if scorer.goals > 1 %}({{ scorer.goals }}){% endif %}{% if not forloop.last %}, {% endif %} 
                    {% endfor %}
                    </li>
                {% endif %}
            </ul>
            <h4>{{ m.match.match_title_text }}</h4>
            {{ m.match.report_body.excerpt|safe }}
            {% else %}
    
            {% endif %}
        </div>
    </div>
    
{% empty %}
    <p class="muted">No matches on this date</p>
{% endfor %}

{% include 'matches/_date_pager.html' %}

{% endblock %}