{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Formatted display of all teams' matches on a particular season.
- Used by club.views.matches.by_season
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | All matches in {{ season }}{% endblock %}

{% block body_id %}matches-by-season{% endblock body_id %}

{% block content %}

{% 'matches_by_season' as base_matches_by_season %}

<div class="page-header">
    <h1>All matches <small>{{ season }}</small><div class="pull-right">{% include 'core/_season_selector.html' with url_prefix=base_match_by_season_url %}</div></h1>
</div>

<p class"lead">Dates with matches are highlighted.</p>

<div class"calendar">
    <div class="row">
    {% for year, matches_by_month in matches_by_year %}
        {% for month, matches in matches_by_month %}
        <div class="span4">
            {% event_calendar year, month, matches %}
        </div>
        {% endfor %}
    {% else %}
        <p class="lead muted">No matches to display</p>
    {% endfor %}
    </div>
</div>

{% endblock %}