{% extends "base.html" %}
{% load core_tags %}
{% load disqus_tags %}

{% comment %}
Formatted display of details about a particular match.
- Used by match_detail
Currently just lists the values that will be needed by this template - no UI design here yet!
{% endcomment %}

{% block title %}{{ block.super }} | {{ match.match_title_text }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "a00305df-8936-42fa-94f6-0b4d2380413f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

{% comment %}
See 'Handling CSRF protection', http://ozkatz.github.io/backbonejs-with-django-15.html
{% endcomment %}
<meta name="csrf-token" content="{{csrf_token}}">

{% endblock extra_head %}

{% block body_id %}match-detail{% endblock body_id %}

{% block content %}

{% url 'matches_by_date' match.date|date:"d-M-y" as matches_by_date %}
{% url 'match_list' as match_list_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ match_list_url }}">Matches</a> <span class="divider">/</span></li>
  <li class="active">{{ match.match_title_text }}</li>
</ul>

<div class="row quick-links">
    <div class="pull-right">
        {% if match.fixture_type == "league" %}<i class="icon icon-table"></i>{% if match.division.fixtures_url %}<a href="{{ match.division.fixtures_url }}">{{ match.division }}</a>{% else %}{{ match.division }}{% endif %}&nbsp;&nbsp;{% endif %}
        {% if match.fixture_type == "cup" %}<i class="icon icon-trophy"></i>{{ match.cup }}&nbsp;&nbsp;{% endif %}
        {% if match.venue %}<i class="icon icon-map-marker"></i>{{ match.venue|urlise_model }}&nbsp;&nbsp;{% endif %}
        <i class="icon icon-calendar"></i><a href="{{ matches_by_date }}">{{ match.date }}</a>&nbsp;&nbsp;
        {% if match.time %}<i class="icon icon-time"></i>{{ match.time_display }}&nbsp;&nbsp;{% endif %}

        {% url 'admin:matches_match_change' match.id as admin_url %}
        {% instance_admin_links match change=True %}
    </div>
</div>

<div class="row match-score">
<table class="table table-score">
<tbody>
    <tr>
        <td class="team-name"><a href="{{ match.our_team.get_absolute_url }}">{{ match.our_team.abbr_name }}</a></td>
        {% if match.final_scores_provided %}
        <td class="team-score">{{ match.our_score }}</td>
        <td class="team-score score-divider">-</td>
        <td class="team-score">{{ match.opp_score }}</td>
        {% elif match.is_off %}
        <td class="team-score alt-score">{{ match.get_alt_outcome_display }}</td>
        {% else %}
        <td class="team-score">vs</td>
        {% endif %}
        <td class="team-name"><a href="{{ match.opp_team.club.get_absolute_url }}">{{ match.opp_team.name }}</a></td>
    </tr>
</tbody>
</table>
</div>

{% if match.is_in_past %}
{% include 'matches/_result_detail.html' %}
{% else %}
{% include 'matches/_fixture_detail.html' %}
{% endif %}

{% if comments %}
<div id="commentary" class="row">
    <hr/>
    <h3>Live Match Updates</h3>
    <div class="span12">

    </div>
    <div class="span12 match_comments">
        {% for comment in comments %}
            <div class="media match_comment">
                <i class="icon-thumbs-up icon-2x pull-left media-object"></i>
                <div class="media-body">
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
</div>
{% endif %}

<ul class="pager">
  <li class="previous{% if not prev_match %} disabled{% endif %}">
    <a href="{% if prev_match %}{{ prev_match.get_absolute_url }}{% else %}#{% endif %}" {% if prev_match %}title="{{ prev_match.fixture_title }}"{% endif %}>&larr; Previous match</a>
  </li>
  <li class="next{% if not next_match %} disabled{% endif %}">
    <a href="{% if next_match %}{{ next_match.get_absolute_url }}{% else %}#{% endif %}" {% if next_match %}title="{{ next_match.fixture_title }}"{% endif %}>Next match &rarr;</a>
  </li>
</ul>

<div class="row">
    <hr/>
    <span class='st_sharethis_large' displayText='ShareThis' st_title='{{ match.match_title_text }}' st_summary='{% if match.report_body %}{{ match.report_body|truncatewords:100 }}{% else %}{{ match }}{% endif %}'></span>

    <span class='st_facebook_large' displayText='Facebook' st_title='{{ match.match_title_text }}' st_summary='{% if match.report_body %}{{ match.report_body|truncatewords:100 }}{% else %}{{ match }}{% endif %}'></span>

    <span class='st_twitter_large' displayText='Tweet' st_title='{{ match.match_title_text|truncatechars:80 }}'></span>

    <span class='st_googleplus_large' displayText='Google +' st_title='{{ match.match_title_text }}' st_summary='{% if match.report_body %}{{ match.report_body|truncatewords:100 }}{% else %}{{ match }}{% endif %}'></span>

    <span class='st_email_large' displayText='Email' st_title='{{ match.match_title_text }}' st_summary='{% if match.report_body %}{{ match.report_body|truncatewords:100 }}{% else %}{{ match }}{% endif %}'></span>

    {% set_disqus_developer 1 %}
    {% set_disqus_title match.fixture_title %}
    {% disqus_show_comments %}
    {% disqus_config request.user %}
</div>

{% if same_date_matches|length > 0 %}
<div class="row same-day">
    <div class="bottom-box">
        <h4>Other matches on {{ match.date|date:"jS M" }}</h4>
        <ul class="icons-ul">
            {% for m in same_date_matches %}
                <li><i class="icon-li {% if m.our_team.gender == 'Mens' %}icon-male{% else %}icon-female{% endif %}"></i>&nbsp;<a href="{{ m.get_absolute_url }}">{{ m.fixture_title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/handlebars-v1.3.0.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/commentary.js"></script>

    {% if not match.is_in_past %}
        {% include "venues/_venue_map_js.html" with venue_address=match.venue.full_address %}
    {% endif %}
{% endblock body_js %}