{% extends "base.html" %}
{% load core_tags %}
{% load disqus_tags %}

{% comment %}
Formatted display of matches on a particular date.
- Used by club.views.matches.by_date
Currently just lists the values that will be needed by this template - no UI design here yet!
{% endcomment %}

{% block title %}{{ block.super }} | Matches on {{ date|date:"jS M Y" }}{% endblock %}

{% block body_id %}matches-by-date{% endblock body_id %}

{% block content %}
{% url 'match_list' as match_list_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{ match_list_url }}">Matches</a> <span class="divider">/</span></li>
  <li class="active">{{ date|date:"jS M Y" }}</li>
</ul>

<div class="page-header">
    <h1>Matches <small>{{ date|date:"jS M Y" }}</small></h1>
</div>

{% include 'matches/_date_pager.html' %}

{% for m in match_list %}
    <div class="row match-score">
        <a class="match-link" href="{{ m.match.get_absolute_url }}" title="Match details">
        <table class="table table-score">
        <tbody>
            <tr>
                <td class="team-name">{{ m.match.our_team.abbr_name }}</td>
                {% if m.match.final_scores_provided %}
                <td class="team-score">{{ m.match.our_score }}</td>
                <td class="team-score score-divider">-</td>
                <td class="team-score">{{ m.match.opp_score }}</td>
                {% elif m.match.is_off %}
                <td class="team-score alt-score">{{ m.match.get_alt_outcome_display }}</td>
                {% else %}
                <td class="team-score">vs</td>
                {% endif %}
                <td class="team-name">{{ m.match.opp_team.name }}</td>
            </td>
        </tbody>
        </table>
        </a>
    </div>

    <div class="row match-detail">
        {% if m.match.is_in_past %}
            <div class="span12">
                <div class="match-content past-match">
                    <ul class="inline">
                        {% if m.mom_winners %}
                            <li><i class="icon icon-star"></i>
                            {% for mom in m.mom_winners %}
                                <a href="{{ mom.member.get_absolute_url }}" title="{{ mom.comment }}">{{ mom.member.first_name_and_initial }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        {% if m.lom_winners %}
                            <li><i class="icon icon-lemon"></i>
                            {% for lom in m.lom_winners %}
                                <a href="{{ lom.member.get_absolute_url }}" title="{{ lom.comment }}">{{ lom.member.first_name_and_initial }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        {% if m.scoring_appearances %}
                            <li><strong>Scorers:</strong>
                            {% for scorer in m.scoring_appearances %}
                                <a href="{{ scorer.member.get_absolute_url }}">{{ scorer.member.first_name_and_initial }}</a>{% if scorer.goals > 1 %}({{ scorer.goals }}){% endif %}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
                    <h4>{{ m.match.match_title_text }}</h4>
                    {{ m.match.report_body.excerpt|safe }}
                    {% if m.match.report_body.has_more %}
                        <p class="pull-right"><a class="btn btn-mini btn-success" href="{{ m.match.get_absolute_url }}" title="Match details">Read more...</a></p>
                    {% endif %}
                    <p><i class="icon-comment"></i><a href="{{ m.match.get_absolute_url }}#disqus_thread" data-disqus-identifier="match_{{ m.match.pk }}">View Comments</a></p>
                    {% disqus_num_replies %}
                </div>
            </div>
        {% else %}
            <div class="span7">
                <div class="match-content future-match">
                    <ul class="inline">
                        <li><i class="icon icon-time"></i>{{ m.match.time_display }}</li>
                        <li><i class="icon icon-map-marker"></i>{% if m.match.venue %}{{ m.match.venue|urlise_model }}{% else %}TBD{% endif %}</li>
                        {% if m.match.division %}<li><i class="icon icon-table"></i>{{ m.match.division }}</li>{% endif %}
                    </ul>
                    {{ m.match.pre_match_hype.excerpt|safe }}
                    {% if m.match.pre_match_hype.has_more %}
                        <p class="pull-right"><a class="btn btn-mini btn-success" href="{{ m.match.get_absolute_url }}" title="Match details">Read more...</a></p>
                    {% endif %}
                    <p><i class="icon-comment"></i><a href="{{ m.match.get_absolute_url }}#disqus_thread" data-disqus-identifier="match_{{ m.match.pk }}">View Comments</a></p>
                    {% disqus_num_replies %}
                </div>
            </div>
            <div class="span5">
                {% if m.match.venue and m.match.venue.address_known %}
                    <div class="gmap3 map_small" id="map_canvas{{ forloop.counter0 }}"></div>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% empty %}
    <p class="muted">No matches on this date</p>
{% endfor %}

{% include 'matches/_date_pager.html' %}

{% endblock %}

{% block body_js %}
    {{ block.super }}
    {% include "matches/_match_list_map_js.html" %}
{% endblock body_js %}