{% comment %}
Link to be put on the front-end that points to the admin back-end that corresponds
to the content being displayed.

Requires at least one of: 
   'edit_url' - the admin url for editing an item
   'add_url' - the admin url for adding an item
   'list_url' - the admin url for displaying the list of items
{% endcomment %}

{% if user.is_superuser %}

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Admin
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% if edit_url %}<li><a href="edit_url" target="_blank">Edit</a></li>{% endif %}
    {% if add_url %}<li><a href="add_url" target="_blank">Add</a></li>{% endif %}
    {% if list_url %}<li><a href="list_url" target="_blank">List</a></li>{% endif %}
  </ul>
</div>

{% endif %}