<ul class="media-list">
{% for entry in entries %}
    <li class="media">
        <a class="pull-left" title="{{ entry.title }}" href="{{ entry.get_absolute_url }}">
            {% load thumbnail %}
            {% if entry.image %}
                {% thumbnail entry.image "150x100" crop="center" as im %}
                    <img class="article-pic" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% else %}
                {% with absolute_static_url|add:'media/placeholder.png' as img_path %}
                    {% thumbnail img_path "150x100" crop="center" as placeholder %}
                        <img class="article-pic" src="{{ placeholder.url }}" width="{{ placeholder.width }}" height="{{ placeholder.height }}">
                    {% endthumbnail %}
                {% endwith %}
            {% endif %}
        </a>
        <div class="media-body">
            <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
                <h4 class="media-heading">{{ entry.title }}</h4>
            </a>
            <p>{{ entry.excerpt|safe|linebreaks|truncatewords_html:40 }}</p>
        </div>
    </li>
    {% empty %}
    <p class="lead">No articles yet.</p>
{% endfor %}
</ul>
