{% extends "base.html" %}

{% comment %}
Static page with general info about the club.
Note - this can't be a 'Flatpage' because it has some bespoke javascript (for the carousel).
{% endcomment %}

{% block title %}{{ block.super }} | About Us{% endblock %}

{% block body_id %}about-us{% endblock body_id %}

{% block content %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'cantabs' as cantabs_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">About Us</li>
</ul>

<div class="page-header">
    <h1>About Cambridge South Hockey Club</h1>
</div>

<div class="section_header">
    <h3>Background</h3>
</div>

<div id="image-carousel" class="carousel slide pull-right">
  <ol class="carousel-indicators">
    <li data-target="#image-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#image-carousel" data-slide-to="1"></li>
    <li data-target="#image-carousel" data-slide-to="2"></li>
    <li data-target="#image-carousel" data-slide-to="3"></li>
    <li data-target="#image-carousel" data-slide-to="4"></li>
    <li data-target="#image-carousel" data-slide-to="5"></li>
    <li data-target="#image-carousel" data-slide-to="6"></li>
    <li data-target="#image-carousel" data-slide-to="7"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src="{{ STATIC_URL }}media/Rolling/M2vsEly2.jpg" alt="">
        <div class="carousel-caption">
            <p>Men's 2nds vs Ely 2nds</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/L2vsHunts1.jpg" alt="">
        <div class="carousel-caption">
            <p>Ladies 2nds vs Huntingdon 1sts</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/M4vsM3_1.jpg" alt="">
        <div class="carousel-caption">
            <p>Men's 4ths vs Men's 3rds</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/M1_Aston.jpg" alt="">
        <div class="carousel-caption">
            <p>Dave 'Average' Aston</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/L1_Cup_Final.jpg" alt="">
        <div class="carousel-caption">
            <p>Ladies 1sts in the Cup Final</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/M4vsM3_2.jpg" alt="">
        <div class="carousel-caption">
            <p>Men's 4ths vs Men's 3rds (2)</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/L1_Cup_Final_2.jpg" alt="">
        <div class="carousel-caption">
            <p>Ladies 1sts in the Cup Final (2)</p>
        </div>
    </div>
    <div class="item">
        <img src="{{ STATIC_URL }}media/Rolling/M3vsM4.jpg" alt="">
        <div class="carousel-caption">
            <p>Men's 3rds vs Men's 4ths</p>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#image-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#image-carousel" data-slide="next">&rsaquo;</a>
</div>

<p>
Cambridge South Hockey Club is based in the city of Cambridge, UK. The club runs four Ladies' league teams and five Men's league teams, playing on Saturdays during the season, along with a social Mixed team on occasional Sundays. We offer opportunities for both experienced players and those new to the sport to play at a level that suits them.</p>
<p>
In 2014 the club moved to the brand new pitch at <a href="{{ long_road_url }}" title="Pitch details">Long Road Sixth Form College</a>, laid by the London 2012 pitch contractors. Our <a href="{{ cantabs_url }}" title="Club house location">club house</a>, shared with Cantabs RUFC, is situated immediately opposite the college.</p>
<p>
Players at the club cover a broad range of ages, from teenagers to veterans, but with a significant portion drawn from the university, both undergraduate and postgraduate students, and from recent and not-so-recent graduates working in the Cambridge area. Many members have moved to Cambridge for work or study and contribute greatly to the friendly, social nature of the club.</p>
<p>
Recent seasons have seen some of the best performances in the history of the club, with the Ladies' 1st XI achieving promotion from Division 1 to the Premier division of the Cambridgeshire Ladies' League and the Ladies' 2nd XI following that up with promotion from Division 2 to Division 1. Both teams now play in the expanded East Women’s League along with the Ladies' 3rd XI development side.</p>
<p>
The Men's 1st XI have been promoted as champions of Division 3NW, moving up to Division 2N and joining the elite ‘Top 5’ division group of the East Men’s League for the first time in the club’s history. The Men's 2nd XI were promoted twice in three seasons to join the 1st XI in Div 3NW before dropping back to Div 4NW. The Men's 3rd XI play at the upper end of Div 5NW, while the 4th XI provide hockey for a mix of old heads and new hands at the entry level of the league in Div 6NW(S).
</p>

<div class="section_header">
    <h3>History</h3>
</div>

<img align="left" alt="CSHC Crest" src="{{ STATIC_URL }}media/crest.png" id="crest" />
<p>
The detailed history of the Club has been lost in the mists of time, but we do know that it was formed in about 1935, originally as a company team for the paper manufacturer Spicers, based in the village of Sawston (south of Cambridge). At some point the club 'left home' and became Sawston Hockey Club, still based in the village and playing at the grass pitches owned by Spicers.
</p>
<p>
When league regulations demanded that clubs play their games on artificial pitches the club was forced to move its home games into Cambridge, initially based at The Perse School, then at a variety of pitches around the city before settling at Long Road in 2014.
</p>
<p>
The move into the city eventually resulted (at the end of the 1997/98 season) in the Men's club deciding on a second change of name to Cambridge South Hockey Club with the Ladies' club following suit the next season. Cambridge South Hockey Club (the men’s club) and Cambridge South Ladies’ Hockey Club, having historically been separate but increasingly-connected clubs, merged to form a single club in 2009.
</p>

{% endblock %}

{% block body_js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.carousel').carousel();
});
</script>
{% endblock body_js %}
