{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Calendar{% endblock %}

{% block body_id %}calendar{% endblock body_id %}

{% block content %}

{% url 'match_ical_feed' as all_fixtures_cal %}
{% url 'clubteam_ical_feed' 'm1' as m1_cal %}
{% url 'clubteam_ical_feed' 'm2' as m2_cal %}
{% url 'clubteam_ical_feed' 'm3' as m3_cal %}
{% url 'clubteam_ical_feed' 'm4' as m4_cal %}
{% url 'clubteam_ical_feed' 'm5' as m5_cal %}
{% url 'clubteam_ical_feed' 'l1' as l1_cal %}
{% url 'clubteam_ical_feed' 'l2' as l2_cal %}
{% url 'clubteam_ical_feed' 'l3' as l3_cal %}
{% url 'trainingsession_ical_feed' as training_cal %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Calendar</li>
</ul>

<div class="page-header">
    <h1><i class="icon icon-calendar"></i>Calendar</h1>
</div>

<div class="row">
    <div class="span12">
<iframe frameborder="0" height="900" scrolling="no" src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;
mode={% if flavour = 'mobile' %}AGENDA{% else %}MONTH{% endif %}&amp;
height800&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;
src={{ m1_gcal }}&amp;color=%23125A12&amp;
src={{ m2_gcal }}&amp;color=%23125A12&amp;
src={{ m3_gcal }}&amp;color=%23125A12&amp;
src={{ m4_gcal }}&amp;color=%23125A12&amp;
src={{ m5_gcal }}&amp;color=%23125A12&amp;
src={{ l1_gcal }}&amp;color=%232952A3&amp;
src={{ l2_gcal }}&amp;color=%232952A3&amp;
src={{ l3_gcal }}&amp;color=%232952A3&amp;
src={{ training_gcal }}&amp;color=%23000000&amp;
src={{ events_gcal }}&amp;color=%23000000&amp;
ctz=Europe%2FLondon" style="border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px" width="100%"></iframe>
    </div>
</div>

<section id="feeds">
<div class="section_header">
    <h3>Calendar feeds</h3>
</div>

<div class="row">
    <div class="span12">
<p>There are a series of calendars that you can link into your normal calendar client (Outlook, iPhone etc). The addresses are in the table below.</p>
<table class="table table-hover">
<thead>
    <tr>
        <th>Calendar</th>
        <th>Address / Link</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>All fixtures</td>
        <td><a href="{{ all_fixtures_cal }}" title="Calendar of fixtures for all teams">http://{{ request.get_host }}{{ all_fixtures_cal }}</a></td>
    </tr>

    <tr>
        <td>Men's 1st XI fixtures</td>
        <td><a href="{{ m1_cal }}" title="Men's 1st XI fixture calendar">http://{{ request.get_host }}{{ m1_cal }}</a></td>
    </tr>
     <tr>
        <td>Men's 2nd XI fixtures</td>
        <td><a href="{{ m2_cal }}" title="Men's 2nd XI fixture calendar">http://{{ request.get_host }}{{ m2_cal }}</a></td>
    </tr>
    <tr>
        <td>Men's 3rd XI fixtures</td>
        <td><a href="{{ m3_cal }}" title="Men's 3rd XI fixture calendar">http://{{ request.get_host }}{{ m3_cal }}</a></td>
    </tr>
    <tr>
        <td>Men's 4th XI fixtures</td>
        <td><a href="{{ m4_cal }}" title="Men's 4th XI fixture calendar">http://{{ request.get_host }}{{ m4_cal }}</a></td>
    </tr>
    <tr>
        <td>Men's 5th XI fixtures</td>
        <td><a href="{{ m5_cal }}" title="Men's 5th XI fixture calendar">http://{{ request.get_host }}{{ m5_cal }}</a></td>
    </tr>
    <tr>
        <td>Ladies' 1st XI fixtures</td>
        <td><a href="{{ l1_cal }}" title="Ladies' 1st XI fixture calendar">http://{{ request.get_host }}{{ l1_cal }}</a></td>
    </tr>
    <tr>
        <td>Ladies' 2nd XI fixtures</td>
        <td><a href="{{ l2_cal }}" title="Ladies' 2nd XI fixture calendar">http://{{ request.get_host }}{{ l2_cal }}</a></td>
    </tr>
    <tr>
        <td>Ladies' 3rd XI fixtures</td>
        <td><a href="{{ l3_cal }}" title="Ladies' 3rd XI fixture calendar">http://{{ request.get_host }}{{ l3_cal }}</a></td>
    </tr>
    <tr>
        <td>Training</td>
        <td><a href="{{ training_cal }}" title="Training calendar">http://{{ request.get_host }}{{ training_cal }}</a></td>
    </tr>

    <tr>
        <td>Club events</td>
        <td><a href="https://www.google.com/calendar/ical/t7dhl1k54rqb6mmt0huu778ac8%40group.calendar.google.com/public/basic.ics" title="Club events calendar">https://www.google.com/calendar/ical/t7dhl1k54rqb6mmt0huu778ac8%40group.calendar.google.com/public/basic.ics</a></td>
    </tr>
</tbody>
</table>
    </div>
</div>

<p>How you actually subscribe to the calendar depends on the device that you are using. Below are instructions for iOS, Apple Mac and Outlook 2007. Otherwise, you can try clicking on the links above and see if your OS will automatically start the subscription.</p>

<h4>iOS (iPhones and iPads)</h4>
<ol>
<li>
    Copy the iCal link.</li>
<li>
    Go to &quot;Settings&quot; on your iPhone or iPad and choose &quot;Mail, Contacts, Calendars&quot;</li>
<li>
    Under &quot;Accounts&quot; select &quot;Add Account...&quot;</li>
<li>
    Select &quot;Other&quot;</li>
<li>
    Under &quot;Calendars&quot; select &quot;Add Subscribed Calendar&quot;</li>
<li>
    Paste the iCal link into the &quot;Server&quot; box and select &quot;Next&quot;.</li>
<li>
    The calendar is now viewable in the pre-installed &quot;Calendar&quot; app.</li>
</ol>

<h4>Android</h4>
<ol>
<li>
    <em>On your PC</em>, go to <a href="http://calendar.google.com" target="_blank">http://calendar.google.com</a> using a browser such as Chrome or Internet Explorer.</li>
<li>
    Log in using your Gmail account, e.g. fred.bloggs@gmail.com.  (Note: If you are already logged into Gmail, you can choose the Calendar app by clicking the Apps button  or using the &quot;More...&quot; menu on old browsers).</li>
<li>
    Choose: &quot;Other calendars->Add by URL&quot;, from the left-hand-side menus.</li>
<li>
    Paste in the South fixtures calendar, e.g. http://www.cambridgesouthhockeyclub.co.uk/matches/cshc_matches.ics</li>
<li>
    <em>On your Android device(s)</em>, start Google's &quot;Calendar&quot; app.</li>
<li>
    Choose: &quot;Menu->Calendars to display->Calendars to sync&quot;.</li>
<li>
    Tick &quot;CSHC fixtures&quot;, which is listed under your gmail calendar, and click &quot;OK&quot; to synchronise and view the fixtures.</li>
</ol>

<h4>Apple Mac</h4>
<ol>
<li>
    Copy the iCal link.</li>
<li>
    Launch the Calendar application, click on &quot;File&quot; in the top menu bar and choose &quot;New Calendar Subscription...&quot;.</li>
<li>
    Paste the iCal link into the &quot;Calendar URL&quot; box and click &quot;Subscribe&quot;.</li>
<li>
    From the &quot;Location&quot; menu choose &quot;iCloud&quot;.</li>
<li>
    Click the &quot;Auto-refresh&quot; drop down menu and choose a frequency for the calendar to check for updates (&quot;Every day&quot; is probably sufficient).</li>
<li>
    Click OK.</li>
<li>
    The calendar will now appear in the Calendar app and also in the calendars of any other iCloud-connected Apple devices you have.</li>
</ol>

<h4>Outlook 2007</h4>
<ol>
<li>
    Select Tools &gt; Account Settings</li>
<li>
    Select the Internet Calendars tab</li>
<li>
    Press New</li>
<li>
    Copy the iCal link from the table above and paste it into the New Internet Calendar Subscription screen that appears.</li>
<li>
    Press Add.</li>
<li>
    In the screen that appears type &quot;CSHC&quot; into the Folder Name box (it currently says &quot;basic&quot;) and press OK</li>
<li>
    Press Close</li>
<li>
    Go to the Calendar view in Outlook and on the left hand side you should now see, under &quot;Other Calendars&quot; a check box for &quot;CSHC&quot;. If you don&#39;t see it then wait a few minutes and it should refresh (try closing Outlook and reopening if necessary). Tick the check box when you see it and the calendar should appear.</li>
</ol>
</section>

{% endblock content %}