{% extends "base.html" %}
{% load core_tags %}

{% comment %}

{% endcomment %}

{% block title %}{{ block.super }} | Chairman&#39;s Notes{% endblock %}

{% block body_id %}chairmans-notes{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Chairman&#39;s Notes</li>
</ul>

<div class="page-header">
    <h1>Chairman&#39;s Notes</h1>
</div>
<div class="row">
    <div class="span8">
        <p class="lead">Periodic ramblings from Club Chairman, John Greaves...</p>
        <ul class="unstyled jump-nav">
            <li><a href="#Sept 2013">September 2013</a></li>
            <li><a href="#Jan 2013">New Year 2013</a></li>
            <li><a href="#Oct 2012">October 2012</a></li>
            <li><a href="#Sept 2012">September 2012</a></li>
            <li><a href="#Mar 2012">March 2012</a></li>
            <li><a href="#Xmas 2011">Christmas 2011</a></li>
            <li><a href="#Nov 2011">November 2011</a></li>
            <li><a href="#Oct 2011">October 2011</a></li>
        </ul>
    </div>
    <div class="span4">
        <img class="pull-right chairman img-polaroid" alt="John Greaves, Club Chairman" src="{{ STATIC_URL }}media/Web%20site%20images/John_Greaves.jpg" />
    </div>
</div>
<hr/>
<h3><a name="Sept 2013"></a>Chairman&#39;s Message&nbsp;&ndash;&nbsp;September 2013</h3>
<p>Welcome to the new hockey season. Can the club surpass last season's successes ? Doubt is not an option. We will need the training
(Mondays 7pm-9pm from Sept 9th ) currently being schemed by Jack Chalk and our expert coaches (thanks again chaps for committing to
CSouth once again), a few pre-season fixtures (thanks to fixtures secretary George Wych), and the inspiration of our cadre of
captains. Here are their recipes for glory for 2013 - 2014:</p>

<h4>Ladies 1sts - East League 3NW(S) <small>(last season....4th  in Camb Prem)</small></h4>
<p>The L1s would like win more matches, finish higher in the league table and maybe even go for promotion..We're going to play some beautiful
hockey, with lots of passing and movement.We will support Cath and the L2s and hope to get two good, strong teams out every week
<em><strong>(Kylie Beasley / Louise Tonkin)</strong></em></p>

<h4>Ladies 2nds - East League 4NW(S) <small>(last season ...8th in Camb Div 1)</small></h4>
<p>The 2s would like to build on last season.  We want to enjoy playing (on and off the pitch), score plenty of goals and most importantly,
aim to beat City - again!  We will be considering formations such as the 'Flying V' and other Mighty Ducks tactics so watch this space…
<em><strong>(Cath Anthony / Louise Gutteridge)</strong></em></p>

<h4>Mens 1sts - Eastern League 3NW <small>(last season... 3rd in East 3NW)</small></h4>
<p>The obvious target for the men's 1st team is to top last season's 'best ever' year, if we can achieve that, promotion may be the likely
reward!  The focus week to week however will be much shorter term, win the game! Pass the ball and be decisive when in possession and
when the other fellas have it, get it back! There's a great team spirit and nothing to fear, this could be our year!.
<em><strong>(Mark Williams)</strong></em></p>

<h4>Mens 2nds - Eastern League 3NW <small>(last season...10th in East 3NW)</small></h4>
<p>2s' aim is to improve our best ever result in Div 3, gain 28 points and hit 6th place. More importantly, we will aim to enjoy ourselves
every week and play the best hockey we can during each game.
<em><strong>(Ron Oren / Nick Venner)</strong></em></p>

<h4>Mens 3rd Team - Eastern League 4W <small>(last season...3rd in East 5NW)</small></h4>
<p>Cambridge South 3s, aka "The Cambridge Globetrotters", will be looking to consolidate on back to back promotions with a solid mid table
finish this season. We have an extensive tour of thrilling Lincolnshire towns and attractions planned, taking in such thrills as one of
the tallest TV masts in Europe (Louth), the famous bulb museum (Spalding) and who can forget the Little Chef near Boston (although we
will only be passing through this year(3 times)). We will be looking to play the same flowing attacking hockey combined with hard tackling
and structured defence that has been the trademark of the 3s for the last 2 years.
<em><strong>(Alistair Edge / John Benedikz)</strong></em></p>

<h4>Mens 4th Team - Eastern League 6NW(s) <small>(Last season...6th in 6NW(s))</small></h4>
<p>The targets are:</p>
<ol>
<li>To get a team out each week, and have fun in the process.</li>
<li>Get good attendance at CSHC events from the 4’s.</li>
<li>Win the league (as long as City don't field a ridiculously strong team which is highly likely)</li>
</ol>
<p>The Team will play..hopefully together, playing hockey similar to how the Brazilians play football – glorious and angelic with a pinch
 of flair. Although a Dave ‘super-smash’ 16 down the middle from defence will suffice for now. We will be for being the most successful
 team and the most ‘fun/friendly’ team.  The team which people one day will go “damn…..I wish I had played for that team”
<em><strong>(Joe Whittaker / Boris Lossy)</strong></em></p>

<h4>Mens 5th Team - Eastern League 6NW(s)</h4>
<p>For the inaugural season, the M5s aims are to put out a full 11 each week and keep the number of double-ups to a minimum. We also want to
provide a platform for players new to the club (and possibly the game) to get a taste of competitive hockey in Cambridge and progress to
other teams within the club, while also giving a run out to those players who enjoy spending their saturday's chasing grown men with a
stick without fear of falling foul of the local constabulary (dodgy tackles notwithstanding).
<em><strong>(Simon Frampton)</strong></em></p>

<p>..in addition there is a rumour that the CSouth Mixed team will be re-invented, under the leadership of <strong>Alice Hug and Nick Venner</strong>. Watch this space</p>

<p>The Leagues start on Saturday September 21st (M1,2,3), and October 5th (L1, L2, M4, M5)</p>

<p>And don't forget the key ingredients of success.......<br/>
- The smartest hockey-related kit in the region, accessible at unbeatable prices through SneadeEnterprises
- an unbeatable social programme, led by our new lifestyle gurus Chris Pearson and Liz Dunsby, starting with...</p>

<blockquote>
    <p><strong>Pizza and Drinks Social</strong></p>
    <p>Saturday, 14th September 2013. The Cow, Guildhall Street. The plan is to meet at The Cow from 7.30pm for some food, some drinks and a few
    more drinks before hitting the bright lights of Cambridge. Friends, guests, partners welcome. Your ticket includes your choice of food
    as well as a beer, cider, house wine or soft drink. Purchase tickets via the about to be even more amazing
    <a href="http://www.cambridgesouthhockeyclub.co.uk/">Club Website</a></p>
</blockquote>

<p>I wish all teams and players a successful, injury-free, enjoyable 2013-2014 season</p>

<p>John Greaves<br/>
Chairman CSHC</p>


<a class="btt" href="#page-top">Back to top</a>
<hr/>
<h3><a name="Jan 2013"></a>Chairman&#39;s 2013 New Year Message</h3>
<p>Happy 2013 from me, and welcome to the second half of the season, with the Ladies&#39; 1sts and Men&#39;s 3rds already showing the way with triumphs in Cup (5-2) and mid season friendly (8-2) respectively.&nbsp;So what is the plan for the rest of the season?</p>
<p>&hellip;Keep calm and carry on winning. In slightly more detail:</p>
<h4>Ladies&#39; 1sts -&nbsp;remain 4th in Camb Premier League, just 5 points behind the leaders</h4>
<p><em>Two tough games coming up against high-flying Rutland and Newmarket will test the mettle. We hoped for mid-table respectability this season; finishing 4th or higher is within our grasp.</em></p>
<h4>Ladies&#39; 2nds - 8th in Camb Div 1</h4>
<p><em>Next games are against beatable local rivals Cambridge City. We need the points, and maximum availability of the squad for the run in.</em></p>
<h4>Men&#39;s 1sts - 3rd in Eastern League 3NW</h4>
<p><em>Next up Ely, then the big one - 1sts vs 2nds. Promotion is definitely ON.</em></p>
<h4>Men&#39;s 2nds - 10th in Eastern League 3NW</h4>
<p><em>It is still possible to finish in the top half with games coming up against Alford and Nomads in the lower reaches&hellip;oh and that minor tussle with McCulloch&#39;s gang.</em></p>
<h4>Men&#39;s 3rd Team - 2nd in Eastern League 5NW</h4>
<p><em>Is back to back promotion really possible for a CSouth team again? You bet. We just need to roll over Newmarket and Grantham, see off leaders Boston, and it all looks rosy. No pressure.</em></p>
<h4>Men&#39;s 4th Team - 8th in Eastern League 6NW(S).</h4>
<p><em>This is the team to watch. Lots of goals (OK so not always in the opposition&#39;s net). Constant thrills. And rising up the division. Ely and St Ives to come next, and the chance to avenge narrow defeats from earlier in the season.</em></p>
<p><strong>Goal Kings</strong>&hellip;can Rob Barton get to the magic 50? Four more yesterday all helps. Can McCulloch make a contest of it? Oh the excitement</p>
<p>Dont forget the Social Events coming up&hellip;</p>
<p>&hellip;and enjoy the rest of the season!</p>
<a class="btt" href="#page-top">Back to top</a>
<hr />
<h3><a name="Oct 2012"></a>Chairman&#39;s Message&nbsp;&ndash;&nbsp;October 2012</h3>
<p>We are now well into the new campaign, and it is all going rather well, except where it isn&#39;t. As CSouth is a friendly club, then any success is a collective effort, from which we all draw satisfaction, whereas those parts of the front where the enemies are in the ascendancy merely require careful re-interpretation of the facts. How are the various battalions faring?&hellip;&hellip;</p>
<h4>Ladies&#39; 1sts - 4th in Camb Premier League</h4>
<p><em>An improved position compared to last season&#39;s finish and a winning streak going back to September. Three winnable games coming up, against St Ives, Newmarket and Huntingdon, should see us closing the gap to top of the table Rutland.</em></p>
<h4>Ladies&#39; 2nds - 8th in Camb Div 1</h4>
<p><em>Firmly in the mid-table bunch with 2 wins out of 5 games. Up next is a tough one against Newmarket but St Ives after that should yield point(s).</em></p>
<h4>Men&#39;s 1sts - 3rd in Eastern League 3NW</h4>
<p><em>As the team is only 1 point from the top of this league, the promotion target is definitely &quot;on&quot;. Indeed only a narrow 3 - 2 defeat vs top of the table Wisbech yesterday prevents the Men&#39;s 1sts looking down on all comers. The next three games vs teams immediately above and below will be crucial in keeping us up there.</em></p>
<h4>Men&#39;s 2nds - 9th in Eastern League 3NW</h4>
<p><em>A morale-boosting 5 - 2 tonking of Camb City 4ths yesterday gave the team its first league win of the campaign. The next few fixtures are tough but these boys thrive on it. At least 4 points from the next 3 games please, chaps.</em></p>
<h4>Men&#39;s 3rd Team - 4th in Eastern League 5NW (last season...1st in East 6NW(s)</h4>
<p><em>Best ever position; only 3 points from the top of the table. The going is getting tougher with a couple of away defeats after 6 straight wins (and 41 goals !) extended the record winning streak from last season. The tricky fixture coming up against leaders Louth (away) is sandwiched between winnable games vs Ely and Peterborough, so we expect the position to be at least maintained.</em></p>
<h4>Men&#39;s 4th Team - 9th in Eastern League 6NW(s)</h4>
<p><em>Although 27 people have played for the 4ths so far this season, only 11 are allowed on the pitch at one time. This unfair restriction has so distracted the team that they are still looking for their first win. The next two fixtures against teams in the nether reaches of 6NW(S) should change this situation and get us onto the comeback trail. Definitely.</em></p>
<p>As for Goal Kings, the bookies are almost paying out on Rocket Robbie Barton, who has already got 19 goals for the Mens 3rds. Nearest challenger is Graham McCulloch, on 9.</p>
<p>Overall the club is in great shape, with more people playing hockey for CSouth than ever before, and our teams benefiting from our training and midweek hockey&hellip;all fuelled by the frequent Social events. Which reminds me, don&#39;t forget:</p>
<p>- <strong>Club Christmas Party....Fun, Food, and Frolicks at CB2 on 8th Dec.</strong> See Neil and Cath for details.<br />
- the annual <strong>Cambridge South Hockey Quiz, this Thursday 1st Nov at 7.30pm at the Panton Arms.</strong> Just turn up (with brain) and join in the fun.</p>
<p>Also:</p>
<ul>
<li>
    <em>The club is looking for more umpires. This is an essential role, and enables you to dress up in day-glo colours&nbsp;and blow your whistle alot. The club will support you in the simple process of getting qualified. Ask Rob Barton / Vicky Benedikz, our &quot;ULOs&quot; for details.</em></li>
<li>
    <em>Don&#39;t forget to pay your annual subscriptions. The end-Oct deadline&nbsp;period is almost over. Payment is easy, via direct transfer, or cheque or cash. Our Treasurer, George Wych, is most accommodating&nbsp;although he does have a dark side revealed only to outstanding debtors.</em></li>
</ul>
<p>Onwards and Upwards</p>

<a class="btt" href="#page-top">Back to top</a>
<hr />
<h3>
<a name="Sept 2012"></a>Chairman&#39;s Message&nbsp;&ndash;&nbsp;September 2012</h3>
<p>Welcome to the new hockey season. Here are your battle plans, cooked up by our captains / vice captains to inspire the club to even greater achievements than last season.....</p>
<h4>Ladies&#39; 1sts - Camb Premier League (last season....6th in Camb Prem; 3rd highest ever)</h4>
<p>Ladies 1s had an up and down season last year. If we can play every game like we did our best matches of last season, I&#39;ll be happy. This year I&#39;d like to see us working really well together as a team (even if its not the same people every week!), with lots of passing, and lots of excellent plays in groups of 2 and 3 up the field. The most important thing for us is increasing our chances in attack, and keeping the ball up front. This means people need to run into good space to receive the ball, and and be confident in passing it to each other in the goal and the attacking 25. We may not win every game, but as long as we are a hard team to beat every week, that&#39;s o.k. This season, finishing mid-table would be great, anything higher is definitely possible, and would be awesome. (Serin Dabb / Louise Cantwell)</p>
<h4>Ladies&#39; 2nds - Camb Div 1 (Last season ...5th in Camb Div 1; highest ever)</h4>
<p>We aim to get full teams out each week ideally with subs, bringing together experience and introducing new players into the club. We need to work together as a team with good communication, accurate passing and making the most of our strong breaks to score more goals. Playing needs to be fun yet challenging. Hopefully this will enable us to push for a strong position in Cambs Div 1. ( Leonie Dickman / Gemma Young)</p>
<h4>Men&#39;s 1sts - Eastern League 3NW (Last season... 4th in East 3NW = highest ever)</h4>
<p>Having finished 4th in Div 3 for the last two years, the Men&#39;s 1sts are once again aiming for promotion to the elusive heights of Div 2. The main strength of our team has tended to be a solid defence - so with the loss of two key defenders from last year, our ability to reform as a cohesive defensive unit will be crucial this coming season. The integration of some exciting new faces into the squad will certainly mean competition for places remains stiff. A core aim for the year will be to improve our passing, while not losing our direct attacking style. (Graham McCulloch / Mark Williams)</p>
<h4>Men&#39;s 2nds - Eastern League 3NW (last season....9th in East 3 NW: highest ever)</h4>
<p>M2s will redouble their efforts to conquer the mid-table of Div3, overwhelming our opponents with the flowing champagne-hockey we&#39;ve come to expect from the team. With some fresh new faces to support the old guard, the team is well set to repeat last year&#39;s successes and improve on some disappointing results. Most hotly anticipated are the double trashing that we intend to give City and - of course - the fight with M1s. Our aim for the season is to finish in the top half of the table - 6th or better. (Ron Oren / Colin Troll)</p>
<h4>Men&#39;s 3rd Team - Eastern League 5NW (last season...1st in East 6NW(s)</h4>
<p>&hellip;the first time a CSouth men&#39;s team have been league champs EVER) This season we are looking to finish firmly in the middle of Div 5, making sure that we consolidate last season&rsquo;s promotion, and hopefully play some attractive attacking hockey along the way (Alistair Edge / John Benedikz) .</p>
<h4>Men&#39;s 4th Team - Eastern League 6NW(s) (Last season...8th in 6NW(s))</h4>
<p>We hope to improve on last years 8th place finish / 19 point haul in the league. We will encourage the development of both new players and youngsters within the club, and field a full side each week (and find a goalkeeper). Generally, we want to have fun and play the game in the right spirit - fair, fun, friendly but competitive..and take at least 4 points off Camb City 5&#39;s (Simon Frampton, Boris Lossy)</p>
<p>The Leagues start on Saturday September 15th. The anticipated glorious success will require:&nbsp;</p>
<ul>
<li>
    Training - Mondays 7pm to 9pm at the Leys. For all levels from beginners upwards, with our professional coaches</li>
<li>
    Keeping fit...Pay-and-Play (Wednesday evenings 8pm to 9pm at the Abbey)</li>
<li>
    Talent spotting / Recruitment....we are always looking for new players. Reduced annual subscriptions, deep gratitude from the club, and inner satisfaction through serving your community in this way all available. Let someone from the Committee know and we&#39;ll ensure new people are made welcome</li>
<li>
    The smartest hockey-related kit in the region, accessible at unbeatable prices through SneadeEnterprises</li>
<li>
    ..and in order to maintain our reputation as a friendly lively club (as stated on the Interweb, so must be true), a programme of Social events, courtesy of Cath and Neil. First up is the Pizza night at the Cow on Saturday 22 September (&quot;more details to follow but same format as last year - pizza/salad/quesadilla and a drink for a bargain price then on to other drinking establishments for the hardcore who fancy a dance&quot;).</li>
</ul>
<p>Everything you could possibly want to know is there on the club website http://www.cambridgesouthhockeyclub.co.uk/</p>
<p>I wish all teams and players a successful, injury-free, enjoyable 2012-2013 season</p>

<a class="btt" href="#page-top">Back to top</a>
<hr />
<h3>
<a name="Mar 2012"></a>Chairman&#39;s Message&nbsp;&ndash;&nbsp;March 2012</h3>
<p>As we get to the final few games of the season, how is the club doing?</p>
<p>&hellip;about the same as we were at Christmas, with all teams maintaining their positions over the last couple of months. But there is still pride, glory and, fingers crossed, promotion to go for&hellip;</p>
<p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<h4>Ladies&#39; 1sts</h4>
<p>Remain 6th in Cambs Premier league. Recent highlight was 2-1 victory vs high flyers Newmarket, proving we are a match for anyone in this league. The remaining games vs Peterboro and Cambs Uni are definitely winnable.</p>
<h4>Ladies&#39; 2nds</h4>
<p>Also 6th&hellip;in Cambs Div 1 with games against lower teams Deeping and St Ives to come, so 2 more wins please.</p>
<h4>Men&#39;s 1sts</h4>
<p>Still 4th in Div 3NW, just out of the promotion spots. Doing the double over Camb City was sweet. Forthcoming games against other teams around us will be a good test, and enable the 1sts to maintain station and finish in their equal best ever position.</p>
<h4>Men&#39;s 2nds</h4>
<p>10th in Div 3NW, but should be safe. On an upward trajectory&hellip;a draw in last weekend&#39;s internicine battle vs our Men&#39;s 1sts followed a run of defeats. 3 more wins against lowly placed opposition will provide confidence for the future at this level.</p>
<h4>Men&#39;s 3rds</h4>
<p>2nd in Div 6NW(S), only missing the top spot through all those cancellations. Respect to the defence with 9 goals conceded all season. Perfect record in 2012 capped by the 6-0 thumping of league leaders Newmarket last Saturday. 4 games to go. 4 more wins?</p>
<h4>Men&#39;s 4ths</h4>
<p>8th in Div 6NW(S) and improving all the time. The next two games vs March and Bourne will provide benchmarks for our progress.</p>
<h4>Mixed Team</h4>
<p>A fun 3-3 draw in February should entice more players to join the LavisBenedikz gang. Two more games planned.</p>
<p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<p><strong>Goal Kings</strong> &ndash; Jack Chalk and Graham McCulloch just ahead on 13, with old man Greaves catching up on 12 after that long injury break, and John Hawkes close behind on 11. Oh the tension.</p>
<p><strong>Fantasy League</strong>&nbsp;&ndash; <em>Willy Won&#39;t He</em> (Mark Williams) still just ahead of <em>Graveling&#39;s Gamble</em> and <em>Lossy&#39;s League Leaders</em>. All to play for.</p>
<p>&hellip;and dont forget to sign up for the Social Event of the Year:</p>
<p><strong>CSHC Annual Dinner - Clare College, 21st April</strong></p>
<p>&hellip;accessible through Mr Sneade&#39;s cunning interweb autolink groupspace thingy.</p>

<a class="btt" href="#page-top">Back to top</a>
<hr />
<h3>
<a name="Xmas 2011"></a>Christmas 2011 &ndash; Half-Term Report</h3>
<p>Young C. South remains our most friendly pupil, and continues to put in dedicated efforts in all subjects (or &quot;leagues&quot; as we call them). He is at, or near, the top of the class in some, and battling away with the middle of the pack in others. We are particularly pleased with his general disciplinary record, and active contribution to the running of the school (or &quot;umpiring the matches&quot;).&nbsp;</p>
<p>He has organised many extra-curricular activities, notably quiz night, punter party(?), and fantasy league, but has not allowed these to distract from his main studies. It is great to see C. South growing in members (?!?) (I hesitate to say maturing as that might be pushing our luck). We look forward to a successful second half of term, and exam success to enable him to study some of the more difficult subjects (yes...&quot;higher leagues&quot;) he deserves.</p>
<p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<h4>Ladies&#39; 1sts</h4>
<p>6th in Cambs Premier league. Bit of a dip in December but with a couple of winnable games in January vs Wisbech and St Ives before the challenge of Newmarket,&nbsp; confidence will be restored.</p>
<h4>Ladies&#39; 2nds</h4>
<p>6th in Cambs Div 1. Unbeaten in December, aided significantly by the Kylie/Leonie sharpshooting combo. The winning habit should continue in January at the expense of March and Ely.</p>
<h4>Men&#39;s 1sts</h4>
<p>4th in Div 3NW. Still in the top bunch although just out of the promotion spots. Revenge against Bourne Deeping in the first match after the break will get us back on track.</p>
<h4>Men&#39;s 2nds</h4>
<p>9th in Div 3NW. Out of the relegation zone and on a roll; 3 wins out of 3 since that battling performance against the 1sts in November, with more wins very possible in January.</p>
<h4>Men&#39;s 3rds</h4>
<p>1st in 6NW(S). Back on top with thumping victories against Ely and Bourne Deeping after a momentary stumble. One point ahead of rivals Newmarket and St Neots, with the best goal difference in this league. The intra-club rivalry resumes in the next game vs the 4ths. Youngsters making decisive contributions withTom South particularly finding&nbsp; his scoring touch.</p>
<h4>Men&#39;s 4ths</h4>
<p>9th in Div 6NW(S), with a couple of confidence boosting wins putting us in touch with mid table. That Raikes hatrick to turn a 1-3 potential loss into 4-3 victory vs Bourne Deeping will live long. Numbers are up enabling a more settled line up, but the 4ths remain grateful for other players helping them out as needed.</p>
<p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<p><strong>Goal Kings</strong> &ndash; Jack Chalk just ahead on 12 with GMaC close behind on 11. Return of chairman limp-alot Greaves in January will hopefully open this competition up beyond Mens first team dominance</p>
<p><strong>Fantasy League</strong>&nbsp;&ndash; <em>Lossy&#39;s League Leaders</em> (Boris Lossy) are only second to <em>Willy Won&#39;t He</em> (Mark Williams)</p>
<p><strong>Club Training</strong>&nbsp;&ndash; resumes on January 11th&nbsp;</p>
<p>The cunning idea to have a social knock about hockey game, probably around New Years Day, is still &quot;live&quot;. Ron Oren is the man with a plan on this.&nbsp; As always, check out our great website for everything you need to know.</p>
<p>Meanwhile, please have a&nbsp;<u>Great Christmas</u>, and <u>Happy New Year</u>.</p>

<a class="btt" href="#page-top">Back to top</a>
<hr />
<h3>
<a name="Nov 2011"></a>Chairman&#39;s Letter &ndash;&nbsp;November 2011</h3>
<p>Q: How is Camb South HC doing so far, a month or so into the 2011-2012 season ?</p>
<p>A: Covering all the bases, with our teams strategically placed at top, middle and bottom of their various leagues&hellip;</p>
<p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<h4>Ladies&#39;&nbsp;1sts</h4>
<p>Mid table in Cambs Premier league after 6 games. Back to winning ways with yesterday&rsquo;s 3-2 victory vs Rutland avenging the defeat to them earlier in the season. Next up are mid-table rivals Peterborough, and then the chance for more revenge vs Wisbech.</p>
<h4>Ladies&#39; 2nds</h4>
<p>6th in Cambs Div 1, helped by yesterday&rsquo;s 2-1 win against City. Hoorah. The next two games will be a test, firstly vs Bourne Deeping, just below us, and then league leaders Huntingdon. Another chance for revenge for the earlier narrow 4-2 defeat.</p>
<h4>Men&#39;s 1sts</h4>
<p>3rd in East 3NW with 6 wins out of 7 and only 3 points behind the leaders. Beating City 4-3 this weekend was sweet. Coming up we need a convincing victory vs St Neots, and then the big one&hellip;CSHC 1sts vs 2nds, Be there.</p>
<h4>Men&#39;s 2nds</h4>
<p>12th in 3NW. Finding things tough in this higher league, but only 2 wins off 7th place. This division contains a broad range of levels, and the 5 teams immediately above are surely within reach. Next week will be proof as the 2s face 11th placed St Ives, and then&hellip;you know what comes after that&hellip;</p>
<h4>Men&#39;s 3rds</h4>
<p>On course and top of Div 6NW(S) with 6 wins out of 6. Nuff said. Next league game is Newmarket, sitting in 2nd place.</p>
<h4>Men&#39;s 4ths</h4>
<p>9th in 6NWS. Looking for that elusive first win but finding a bunch of promising youngsters.</p>
<p>The&nbsp;<strong>Mixed Team</strong>&nbsp;are on their extended Christmas break after early season forays.</p>
<p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<p><strong>Goal Kings</strong>&nbsp;&ndash; most of the mens&rsquo; first team dominate the table, led by Jack Chalk on 11, with your sprightly (for his age) &ldquo;goal-a-game&rdquo; chairman handily placed on 8, not helped by temporary absence with Achilles trouble</p>
<p>Don&rsquo;t forget&hellip;</p>
<p>Club Training &ndash;&nbsp;with Colin &amp; Dave, our two excellent coaches, continues on Tuesdays (Leys 7pm to 9)</p>
<p>Pay-and-Play is now on Wednesday evenings 8pm to 9pm at Abbey</p>
<p>The Social scene (see Neil Sneade and Cath Anthony for details):</p>
<p>&ndash;&nbsp;Pub Quiz &ndash; Panton Arms on 16th&nbsp; Nov<br />
&ndash; CSHC Christmas Party &ndash; County Arms on 3rd Dec<br />
&ndash; Annual Club Dinner &ndash; Clare College on 21st April 2012</p>
<p>The &ldquo;real&rdquo; CSHC fantasy league is just starting; check out our great website for this and all other nuggets of information on the club.</p>
<p>Onwards and Upwards.</p>

<a class="btt" href="#page-top">Back to top</a>
<hr />
<h3>
<a name="Oct 2011"></a>Chairman&#39;s message - the new season</h3>
<p><u><strong>Welcome to the 2011&ndash;2012 Hockey season</strong></u></p>
<p>How do we match the epic 2010&ndash;2011 season ? This is what our captains think&hellip;</p>
<h4>Ladies&#39; 1sts (5th in Cambs Premier and cup finalists last season)</h4>
<p><em>We are looking to consolidate and get into the promotion frame this year, although it is perhaps too early for our squad to mix it in the stratosphere above this level. Cambs Premier League has already started and the L1&#39;s are now into winning ways after a &quot;challenging&quot; start.</em>&nbsp;(Ellie Raffan / Julie Sadler)</p>
<h4>Ladies&#39; 2nds (Cambs Div 1, 7th last season)</h4>
<p><em>We need to push for strong position in Cambs Div 1 to keep the pressure on the L1s in the league above. O</em><em>ur league is underway and the&nbsp;</em><em>L2s are winning already. </em>(Lyn Wood / Leonie O&#39;Donnell)</p>
<p>Both teams need to work on core skills of communication, accurate passing.&nbsp; Commitment to play on Saturdays and turn up to training much appreciated by captaincy teams.&nbsp;</p>
<h4>Men&#39;s 1sts (4th in Eastern League 3NW)</h4>
<p><em>Having retained almost all of last year&#39;s &#39;best-ever-finish&#39; squad and acquired a few more very handy players, the aim for the 1st team this season must be to improve again on last years position of 4th in Div 3NW. Or, to put it another way, promotion to Div 2N.</em></p>
<p><em>Our two strengths are our mean defence (best in the league last year) and our speed as a team. Our success this season will depend on our ability to turn those strengths into actual goals - something we traditionally struggle with. Bring. It. On.</em>&nbsp;(Graham McCulloch / Mark Williams)</p>
<h4>Men&#39;s 2nds (Promoted from Eastern League 4NW)</h4>
<p><em>The 2s are in uncharted territory, playing in Div 3NW for this first time. With a large number of new faces in the team, the first order of the day is to form a cohesive unit out of individual players. The main goal in the season is to stay up in Div 3, aiming to come away with about 25 points. In addition, we&#39;re aiming to soundly beat City 4s twice and give our own 1s as hard a game as possible.</em> (Ron Oren / Tom Anns)</p>
<h4>Men&#39;s 3rds (11th in Eastern League 5NW&hellip;er&hellip;relegated)</h4>
<p><em>There is a clear goal for the 3s this year: to get promoted. We will be looking to score more goals while keeping our defence strong. To do this we will look to get the ball forwards cleanly without losing possession; passing to keep the ball out of danger and to make the ball do more of the work on the attack. Off the ball we will defend as&nbsp;a team. Playing for the 3s needs to be both enjoyable and challenging and I want our opposition think of us as tenacious and good spirited.</em> (Simon Jelley)</p>
<h4>Men&#39;s 4ths (4th in Eastern League 6NW(S))</h4>
<p><em>We are aiming to get a full team out each week, blending experience and youth, bringing new players into the club and indoctrinating them into the ways of CSHC. Hopefully this will enable us to push for promotion and give the 3rds a couple of tough, but of course friendly, games in due course.</em>&nbsp;(Ky Ho / Dave Monck)</p>
<p>All the men&#39;s leagues start this Saturday. Failure is not an option.</p>
<h4>Mixed Team (new league)</h4>
<p>A voyage of discovery as a new once-a-month Sunday league starts. Team soon-to-be-Benedikz steering the ship (John Benedikz / Vicky Lavis)</p>
<p>The anticipated glorious success will require:</p>
<p>&ndash;&nbsp;Much training: Tuesdays 7pm to 9pm<br />
&ndash; Keeping fit&hellip;Pay-and-Play (Thursday evenings 8pm to 9pm at university Ground in Wilberforce Road)<br />
&ndash;&nbsp;Playing regularly.&hellip;who wants to go shopping / visiting friends away from Cambridge / home DIY anyway ?<br />
&ndash;&nbsp;Talent spotting / Recruitment&hellip;some of the squads are fairly tight for numbers; you must have friends out there just itching to join in the fun of CSouth. Can you deny them?</p>
<p>I wish all teams and players a successful, injury-free, enjoyable 2011&ndash;2012 season.</p>

<a class="btt" href="#page-top">Back to top</a>
{% endblock content %}