{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about CSHC getting money from companies when you spend money with them.
{% endcomment %}

{% block title %}{{ block.super }} | Commission{% endblock %}

{% block body_id %}commission{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Commission</li>
</ul>

<div class="page-header">
    <h1>Companies will pay CSHC commission!</h1>
</div>

<p>You can use this page to buy stuff and South will get a percentage (varying from 1% to 7%) of your purchases as commission. The price 
that you pay is exactly the same so make sure that everything you buy from goes through this link!</p>

<p>Whenever you want to buy something through one of our affiliate companies don&#39;t go direct to the site, <strong>click one of 
the banners below</strong> which will take you to the usual site and anything that you buy during that session will generate some 
much-needed cash for your club.</p>

<p class="lead">You will still pay just the same price as normal ..... but South will benefit!</p>

<table class="front_rolling">
<tbody>
    <tr>
        <td>
            <iframe src="http://rcm-uk.amazon.co.uk/e/cm?t=camsouhocclu-21&o=2&p=26&l=ur1&category=sports_and_leisure&banner=0J3JB6BWSMCQZTCD6VG2&f=ifr" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </td>
        <td>
            <strong>AMAZON</strong><br />
            <small>We get 5% commission on goods bought if you visit Amazon through this link. We also get 6% on any Gift Certificates.</small>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name PC World from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=166834&amp;v=1598&amp;q=59796&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=166834&amp;v=1598&amp;q=59796&amp;r=104799" /></a> <!--END MERCHANT:merchant name PC World from affiliatewindow.com--></td>
        <td>
            <strong>PC World</strong><br />
            <small>We get 2% commission on stuff bought from PC World.</small>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td class="images">
            <a href="http://www.thegrovecromer.co.uk" target="_blank">
            <img alt="The Grove,&#10; Cromer" height="120" name="slide" src="http://www.cambridgesouthhockeyclub.co.uk/media/banners/grove.jpg" title="The Grove,&#10; Cromer" width="180" /></a></td>
        <td valign="middle">
            <strong>THE GROVE, CROMER</strong><br />
            <small>For high quality bed-and-breakfast or self-catering accommodation visit The Grove in Cromer, Norfolk click 
            <a href="http://www.thegrovecromer.co.uk" target="_blank">here</a> to make a booking. Mention CSHC and we will be paid commission on each booking.</small></td>
    </tr>
    <tr>
        <td>
            <a href="http://hoptpink.co.uk" target="_blank">
            <img alt="Hot Pink Rings" height="104" src="http://www.cambridgesouthhockeyclub.co.uk/media/offers/hotpink.png" width="445" /></a></td>
        <td>
            <strong>HOT PINK JEWELLERY</strong><br />
            <small>Run by our very own Manu Bhardwaj, 
            <a href="http://hotpink.co.uk/" target="_blank">Hot Pink</a> are the new way to buy the perfect engagement, eternity or other special occasion ring, designed using the latest technology and 100% bespoke to your requirements.</small></td>
    </tr>
    <tr>
        <td>
            <a href="http://www.awin1.com/awclick.php?mid=3456&amp;id=104799" target="_blank">Expedia UK</a></td>
        <td valign="middle">
            <strong>EXPEDIA</strong><br />
            <small>We get 1% for flights and 6% for hotels booked through Expedia</small></td>
    </tr>
    <tr>
        <td>
            <script type="text/javascript">
                var uri = 'http://impgb.tradedoubler.com/imp?type(iframe)g(18559954)a(1803880)' + new String (Math.random()).substring (2,
                 11);
                document.write('<iframe src="'+uri +'" width="468" height="60" frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>');
            </script>
        </td>
        <td>
            <strong>LAST MINUTE</strong><br />
            <small>We get similar commission (1% for flights,&nbsp;6% for hotels and amounts in between for things like shows and car hire)&nbsp;from LastMinute.com through this link.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Majestic Wine from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=137263&amp;v=1546&amp;q=85364&amp;r=104799">
            <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=137263&amp;v=1546&amp;q=85364&amp;r=104799" /></a> <!--END MERCHANT:merchant name Majestic Wine from affiliatewindow.com--></td>
        <td>
            <strong>MAJESTIC</strong><br />
            <small>We get 4% commission from Majestic</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Evans Cycles from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=56139&amp;v=1302&amp;q=44341&amp;r=104799">
            <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=56139&amp;v=1302&amp;q=44341&amp;r=104799" /></a> <!--END MERCHANT:merchant name Evans Cycles from affiliatewindow.com--></td>
        <td>
            <strong>EVANS</strong><br />
            <small>We get 4% commission from Evans Cycles - and they are normally good value.</small></td>
    </tr>
    <tr>
        <td>
            <script type="text/javascript">
                var uri = 'http://impgb.tradedoubler.com/imp?type(js)pool(322402)a(1803880)' + new String (Math.random()).substring (2,
                 11);
                document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset="ISO-8859-1"></sc'+'ript>');
            </script>
        </td>
        <td>
            <strong>DELL COMPUTERS</strong><br />
            <small>We get around 5% commission from Dell through this link.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Canterbury.com from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=242527&amp;v=2676&amp;q=117589&amp;r=104799">
            <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=242527&amp;v=2676&amp;q=117589&amp;r=104799" /></a> <!--END MERCHANT:merchant name Canterbury.com from affiliatewindow.com--></td>
        <td>
            <strong>CATERBURY</strong><br />
            <small>We get around 6% commission from&nbsp;Canterbury through this link.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Adnams Cellar & Kitchen from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=107615&amp;v=2069&amp;q=75463&amp;r=104799">
            <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=107615&amp;v=2069&amp;q=75463&amp;r=104799" /></a> <!--END MERCHANT:merchant name Adnams Cellar & Kitchen from affiliatewindow.com--></td>
        <td>
            <strong>ADNAMS</strong><br />
            <small>We get around 6% commission from&nbsp;Adnams through this link.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name UK Theatre Tickets from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=190693&amp;v=2781&amp;q=101276&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=190693&amp;v=2781&amp;q=101276&amp;r=104799" /></a> <!--END MERCHANT:merchant name UK Theatre Tickets from affiliatewindow.com--></td>
        <td>
            <strong>UK THEATRE TICKETS</strong><br />
            <small>We get around 6% commission if you book theatre tickets through this link.</small></td>
    </tr>
    <tr>
        <td>
            <script type="text/javascript">
                var uri = 'http://impgb.tradedoubler.com/imp?type(img)g(19118214)a(1803880)' + new String (Math.random()).substring (2,
                 11);
                document.write('<a href="http://clkuk.tradedoubler.com/click?p=2054&a=1803880&g=19118214" target="_BLANK"><img src="'+uri+'" border=0></a>');
            </script>
        </td>
        <td>
            <strong>CO-OP ELECTRICAL</strong><br />
            <small>Co-Op Electrical will give us 2% on all purchases.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Super Tramp Direct from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=160930&amp;v=2545&amp;q=92981&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=160930&amp;v=2545&amp;q=92981&amp;r=104799" /></a> <!--END MERCHANT:merchant name Super Tramp Direct from affiliatewindow.com--></td>
        <td>
            <strong>SUPER TRAMP</strong><br />
            <small>Come on, get bouncing! SuperTramp will give 7% commission on sales through this site.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Oregon Scientific from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=208406&amp;v=2951&amp;q=107339&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=208406&amp;v=2951&amp;q=107339&amp;r=104799" /></a> <!--END MERCHANT:merchant name Oregon Scientific from affiliatewindow.com--></td>
        <td>
            <strong>OREGON SCIENTIFIC</strong><br />
            <small>Producer of award winning lifestyle electronics products like action cams, weather stations, childrens laptops etc. South get 10% commission on sales.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Musto.com from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=265819&amp;v=3119&amp;q=115502&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=265819&amp;v=3119&amp;q=115502&amp;r=104799" /></a> <!--END MERCHANT:merchant name Musto.com from affiliatewindow.com--></td>
        <td>
            <strong>MUSTO</strong><br />
            <small>Legendary range of outdoor lifestyle and sporting clothes, jackets etc. We get 6% commission on sales.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Opodo from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=181511&amp;v=2729&amp;q=98594&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=181511&amp;v=2729&amp;q=98594&amp;r=104799" /></a> <!--END MERCHANT:merchant name Opodo from affiliatewindow.com--></td>
        <td>
            <strong>OPODO</strong><br />
            <small>Flight and hotel aggregator. We get 4% on hotels, 1.3% on flights and 4% on Eurostar bookings.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Hugo Boss from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=288566&amp;v=3767&amp;q=136482&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=288566&amp;v=3767&amp;q=136482&amp;r=104799" /></a> <!--END MERCHANT:merchant name Hugo Boss from affiliatewindow.com--></td>
        <td>
            <strong>HUGO BOSS</strong><br />
            <small>One of the world&#39;s best known fashion brands. We get 8% commission on sales.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Six Whiting Street from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=277710&amp;v=3816&amp;q=131798&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=277710&amp;v=3816&amp;q=131798&amp;r=104799" /></a> <!--END MERCHANT:merchant name Six Whiting Street from affiliatewindow.com--></td>
        <td>
            <strong>SIX WHITING STREET</strong><br />
            <small>Boutique men&#39;s fashion store, stocking only the hippest brands. Based in Bury St Edmunds. We get 10% commission on sales.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name adidas Shop from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=299745&amp;v=2675&amp;q=138380&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=299745&amp;v=2675&amp;q=138380&amp;r=104799" /></a> <!--END MERCHANT:merchant name adidas Shop from affiliatewindow.com--></td>
        <td>
            <strong>ADIDAS</strong><br />
            <small>We get 7% commission on sales from Adidas.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name feelunique.com from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=216651&amp;v=2150&amp;q=78779&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=216651&amp;v=2150&amp;q=78779&amp;r=104799" /></a> <!--END MERCHANT:merchant name feelunique.com from affiliatewindow.com--></td>
        <td>
            <strong>FEEL UNIQUE</strong><br />
            <small>Go on, pamper yourself! We get up to 7% commission on sales from Feel Unique.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name For Runners By Runners from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=256742&amp;v=3506&amp;q=122781&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=256742&amp;v=3506&amp;q=122781&amp;r=104799" /></a> <!--END MERCHANT:merchant name For Runners By Runners from affiliatewindow.com--></td>
        <td>
            <strong>FOR RUNNERS, BY RUNNERS</strong><br />
            <small>A range of the best running and fitness equipment available in the UK. We get 8% commission whilst you get fit for the hockey season.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Joules from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=194089&amp;v=1283&amp;q=43306&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=194089&amp;v=1283&amp;q=43306&amp;r=104799" /></a> <!--END MERCHANT:merchant name Joules from affiliatewindow.com--></td>
        <td>
            <strong>JOULES</strong><br />
            <small>Clothes to live the good life. Traditional but with a twist. And we get 5% commission on sales.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Opodo from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=181508&amp;v=2729&amp;q=98594&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=181508&amp;v=2729&amp;q=98594&amp;r=104799" /></a> <!--END MERCHANT:merchant name Opodo from affiliatewindow.com--></td>
        <td>
            <strong>OPODO</strong><br />
            <small>Pan-european travel service pays us 4% on hotels, 4% on Eurostar.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Under Armour from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=294769&amp;v=3279&amp;q=138869&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=294769&amp;v=3279&amp;q=138869&amp;r=104799" /></a> <!--END MERCHANT:merchant name Under Armour from affiliatewindow.com--></td>
        <td>
            <strong>UNDER ARMOUR</strong><br />
            <small>The leader in performance apparel, footwear and accessories. Pays us 7% commission.</small></td>
    </tr>
    <tr>
        <td>
            <!--START MERCHANT:merchant name Twinings Teashop from affiliatewindow.com.-->
            <a href="http://www.awin1.com/cread.php?s=265297&amp;v=3578&amp;q=126623&amp;r=104799">
            <img border="0" src="http://www.awin1.com/cshow.php?s=265297&amp;v=3578&amp;q=126623&amp;r=104799" /></a> <!--END MERCHANT:merchant name Twinings Teashop from affiliatewindow.com--></td>
        <td>
            <strong>TWININGS</strong><br />
            <small>After a match what do you need to unwind? &quot;A shedload of beer&quot; I hear you say. No, a nice cup of tea. And earn South 10% commission in the process.</small></td>
    </tr>
</tbody>
</table>

{% endblock content %}