{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about the club committee.
{% endcomment %}

{% block title %}{{ block.super }} | Committee{% endblock %}

{% block body_id %}committee{% endblock body_id %}

{% block content %}

{% url 'about_minutes' as minutes_url %}
{% url 'about_committee' as base_committee_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Committee</li>
</ul>

<div class="page-header">
    <h1>CSHC Committee and Constitution</h1>
</div>

<p>CSHC is a not-for-profit organisation run by its own members in accordance with the club Constitution. Prior to the 2009/10
season the Men&#39;s and Ladies&#39; clubs were seperate entities&nbsp;but since then the two have merged and a single Committee
now administers the club, with sub-committees for men&#39;s and ladies&#39; playing matters. The Committee is appointed at the
Annual General Meeting and appointments run for a single season.</p>
<blockquote>You can see the Club Constitution <a href="{{ STATIC_URL }}media/Documents/CSHC_Constitution_June_2014.pdf">here</a>.</blockquote>
<blockquote>Minutes of all club meetings can be found <a href="{{ minutes_url }}">here</a>.</blockquote>


<div class="row committee">
    <div class="media span12">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Stephen Fleck</h4>
            <p>President</p>
        </div>
    </div>

    <div class="media span12">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Frank Allen, Mick Beasley, Roger Craigen, Mike Gronow, Eric Jacobs, Richard Jacobs, Peter Mercer, Kevin Pride, Harry Rider, Noel Sutcliffe, Keith Westley, Colin Worboys</h4>
            <p>Hon. Life Members</p>
        </div>
    </div>
</div>
<hr/>
<h3>Club Committee <small>{{ season }}</small><div class="pull-right">{% include 'core/_season_selector.html' with url_prefix=base_committee_url %}</div></h3>
<div class="section_header">
    <h3>General Committee</h3>
</div>
<div class="row committee">

{% for member in general_committee %}
    <a href="{{ member.member.get_absolute_url }}">
    <div class="media span4">
        <div class="pull-left media-object">
            {% include 'members/_profile_pic_thumbnail.html' with member=member.member %}
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ member.member }}</h4>
            <p>{{ member.position.name }}</p>
        </div>
    </div>
    </a>
{% endfor %}

</div>
<hr/>
<div class="section_header">
    <h3>Men's Captains</h3>
</div>
<div class="row">
{% for team in mens_captains %}
    {% if team.captain %}
    <div class="span6">
        <div class="team-title">
            <h3>{{ team.name }}</h3>
        </div>
        <div class="team-box">
            {% include 'core/_committee_member.html' with role=team.captain role_name="Captain" %}
            {% if team.vice_captain %}
                {% include 'core/_committee_member.html' with role=team.vice_captain role_name="Vice-Captain" %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>

<hr/>
<div class="section_header">
    <h3>Ladies Captains</h3>
</div>
<div class="row">
{% for team in ladies_captains %}
    {% if team.captain %}
        <div class="span6">
            <div class="team-title">
                <h3>{{ team.name }}</h3>
            </div>
            <div class="team-box">
                {% include 'core/_committee_member.html' with role=team.captain role_name="Captain" %}
                {% if team.vice_captain %}
                    {% include 'core/_committee_member.html' with role=team.vice_captain role_name="Vice-Captain" %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
{% model_admin_links 'members' 'committeemembership' %}

{% endblock content %}