{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about the club committee.
{% endcomment %}

{% block title %}{{ block.super }} | Committee{% endblock %}

{% block body_id %}committee{% endblock body_id %}

{% block content %}

{% url 'about_minutes' as minutes_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Fees</li>
</ul>

<div class="page-header">
    <h1>CSHC Committee and Constitution</h1>
</div>

<p>CSHC is a not-for-profit organisation run by its own members in accordance with the club Constitution. Prior to the 2009/10 
season the Men&#39;s and Ladies&#39; clubs were seperate entities&nbsp;but since then the two have merged and a single Committee 
now administers the club, with sub-committees for men&#39;s and ladies&#39; playing matters. The Committee is appointed at the 
Annual General Meeting and appointments run for a single season.</p>
<blockquote>You can see the Club Constitution <a href="{{ MEDIA_URL }}Documents/CSHC_Constitution.pdf">here</a>.</blockquote>
<blockquote>Minutes of all club meetings can be found <a href="{{ minutes_url }}">here</a>.</blockquote>

<h3>Club Committee</h3>

<div class="row committee">
    <div class="media span12">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Stephen Fleck</h4>
            <p>President</p>
        </div>
    </div>

    <div class="media span12">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Frank Allen, Mick Beasley, Roger Craigen, Mike Gronow, Eric Jacobs, Richard Jacobs, Peter Mercer, Kevin Pride, Harry Rider, Noel Sutcliffe, Keith Westley, Colin Worboys</h4>
            <p>Hon. Life Members</p>
        </div>
    </div>
</div>
<hr/>
<div class="row committee">

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">John Greaves</h4>
            <p>Chairman</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Neil Sneade</h4>
            <p>Hon. Secretary</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">George Wych</h4>
            <p>Hon. Treasurer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Ellie Raffan</h4>
            <p>Club Liaison Officer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">TBC</h4>
            <p>Fixture Secretary</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Neil Sneade</h4>
            <p>Mens League Liason Officer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Diane Eichelsheim</h4>
            <p>Ladies League Liason Officer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Rob Barton</h4>
            <p>Mens Umpire Liaison Officer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Serin Dabb</h4>
            <p>Ladies Umpire Liaison Officer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Jack Chalk</h4>
            <p>Training Co-ordinator</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Graham McCulloch</h4>
            <p>Website Officer</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Chris Pearson</h4>
            <p>Mens Social Secretary</p>
        </div>
    </div>

    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Liz Dunsby</h4>
            <p>Ladies Social Secretary</p>
        </div>
    </div>
</div>
<hr/>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Mark Williams</h4>
            <p>Mens 1st XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">TBC</h4>
            <p>Mens 1st XI Vice-Captain</p>
        </div>
    </div>
</div>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Ron Oren</h4>
            <p>Mens 2nd XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Nick Venner</h4>
            <p>Mens 2nd XI Vice-Captain</p>
        </div>
    </div>
</div>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Ali Edge</h4>
            <p>Mens 3rd XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">John Benedikz</h4>
            <p>Mens 3rd XI Vice-Captain</p>
        </div>
    </div>
</div>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Joe Whittaker</h4>
            <p>Mens 4th XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Boris Lossy</h4>
            <p>Mens 4th XI Vice-Captain</p>
        </div>
    </div>
</div>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Simon Frampton</h4>
            <p>Mens 5th XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">TBC</h4>
            <p>Mens 5th XI Vice-Captain</p>
        </div>
    </div>
</div>
<hr/>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Kylie Beasley</h4>
            <p>Ladies 1st XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Louise Tonkin</h4>
            <p>Ladies 1st XI Vice-Captain</p>
        </div>
    </div>
</div>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Cath Anthony</h4>
            <p>Ladies 2nd XI Captain</p>
        </div>
    </div>
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Louise Gutteridge</h4>
            <p>Ladies 2nd XI Vice-Captain</p>
        </div>
    </div>
</div>
<hr/>
<div class="row captains">
    <div class="media span4">
        <img class="pull-left media-object" src="{{ MEDIA_URL }}profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading">Nick Venner/Alice Hug</h4>
            <p>Mixed Co-Captains</p>
        </div>
    </div>
</div>
{% endblock content %}