{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about CSHC getting money from companies when you spend money with them.
{% endcomment %}

{% block title %}{{ block.super }} | Commission{% endblock %}

{% block body_id %}commission{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Commission</li>
</ul>

<div class="page-header">
    <h1>Companies will pay CSHC commission!</h1>
</div>

<p class="lead">You can use this page to buy stuff and South will get a percentage (varying from 1% to 7%) of your purchases as commission. The price
that you pay is exactly the same so make sure that everything you buy from goes through this link!</p>

<p>Whenever you want to buy something through one of our affiliate companies don&#39;t go direct to the site, <strong>click one of
the banners below</strong> which will take you to the usual site and anything that you buy during that session will generate some
much-needed cash for your club.</p>

<p class="lead"><strong>You will still pay just the same price as normal ..... but South will benefit!</strong></p>
<hr/>
<div id="commission-links">
    <div class="row">
        <div class="span6">
            <iframe border="0" frameborder="0" height="60" marginwidth="0" scrolling="no" src="http://rcm-uk.amazon.co.uk/e/cm?t=camsouhocclu-21&amp;o=2&amp;p=26&amp;l=ur1&amp;category=sports_and_leisure&amp;banner=0J3JB6BWSMCQZTCD6VG2&amp;f=ifr" style="border: currentColor;" width="468"></iframe>
        </div>
        <div class="span6">
            <strong>AMAZON</strong><br />
            <small>We get 5% commission on goods bought if you visit Amazon through this link. We also get 6% on any Gift Certificates.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name PC World from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=166834&amp;v=1598&amp;q=59796&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=166834&amp;v=1598&amp;q=59796&amp;r=104799" /></a> <!--END MERCHANT:merchant name PC World from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>PC World</strong><br />
            <small>We get 2% commission on stuff bought from PC World.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <a href="http://www.thegrovecromer.co.uk" target="_blank">
            <img alt="The Grove, Cromer" src="{{ STATIC_URL }}media/banners/grove_banner.png" title="The Grove, Cromer" /></a>
        </div>
        <div class="span6">
            <strong>THE GROVE, CROMER</strong><br />
            <small>For high quality bed-and-breakfast or self-catering accommodation visit The Grove in Cromer, Norfolk click
            <a href="http://www.thegrovecromer.co.uk" target="_blank">here</a> to make a booking. Mention CSHC and we will be paid commission on each booking.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <a href="http://hoptpink.co.uk" target="_blank">
            <img alt="Hot Pink Rings" height="104" src="{{ STATIC_URL }}media/offers/hotpink.png" width="445" /></a>
        </div>
        <div class="span6">
            <strong>HOT PINK JEWELLERY</strong><br />
            <small>Run by our very own Manu Bhardwaj,
            <a href="http://hotpink.co.uk/" target="_blank">Hot Pink</a> are the new way to buy the perfect engagement, eternity or other special occasion ring, designed using the latest technology and 100% bespoke to your requirements.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Expedia UK from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=282612&amp;v=3456&amp;q=130867&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=282612&amp;v=3456&amp;q=130867&amp;r=104799" /></a> <!--END MERCHANT:merchant name Expedia UK from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>EXPEDIA</strong><br />
            <small>We get 1% for flights and 6% for hotels booked through Expedia</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Majestic Wine from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=137263&amp;v=1546&amp;q=85364&amp;r=104799">
                <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=137263&amp;v=1546&amp;q=85364&amp;r=104799" /></a> <!--END MERCHANT:merchant name Majestic Wine from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>MAJESTIC</strong><br />
            <small>We get 4% commission from Majestic</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Evans Cycles from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=56139&amp;v=1302&amp;q=44341&amp;r=104799">
                <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=56139&amp;v=1302&amp;q=44341&amp;r=104799" /></a> <!--END MERCHANT:merchant name Evans Cycles from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>EVANS</strong><br />
            <small>We get 4% commission from Evans Cycles - and they are normally good value.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Canterbury.com from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=376411&amp;v=2676&amp;q=177478&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=376411&amp;v=2676&amp;q=177478&amp;r=104799" /></a> <!--END MERCHANT:merchant name Canterbury.com from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>CANTERBURY</strong><br />
            <small>We get around 6% commission from&nbsp;Canterbury through this link.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Adnams Cellar & Kitchen from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=107615&amp;v=2069&amp;q=75463&amp;r=104799">
                <img alt="" border="0" src="http://www.awin1.com/cshow.php?s=107615&amp;v=2069&amp;q=75463&amp;r=104799" /></a> <!--END MERCHANT:merchant name Adnams Cellar & Kitchen from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>ADNAMS</strong><br />
            <small>We get around 6% commission from&nbsp;Adnams through this link.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Oregon Scientific from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=208406&amp;v=2951&amp;q=107339&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=208406&amp;v=2951&amp;q=107339&amp;r=104799" /></a> <!--END MERCHANT:merchant name Oregon Scientific from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>OREGON SCIENTIFIC</strong><br />
            <small>Producer of award winning lifestyle electronics products like action cams, weather stations, childrens laptops etc. South get 10% commission on sales.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Musto.com from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=269842&amp;v=3119&amp;q=128398&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=269842&amp;v=3119&amp;q=128398&amp;r=104799" /></a> <!--END MERCHANT:merchant name Musto.com from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>MUSTO</strong><br />
            <small>Legendary range of outdoor lifestyle and sporting clothes, jackets etc. We get 6% commission on sales.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name feelunique.com from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=216651&amp;v=2150&amp;q=78779&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=216651&amp;v=2150&amp;q=78779&amp;r=104799" /></a> <!--END MERCHANT:merchant name feelunique.com from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>FEEL UNIQUE</strong><br />
            <small>Go on, pamper yourself! We get up to 7% commission on sales from Feel Unique.</small>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <!--START MERCHANT:merchant name Twinings Teashop from affiliatewindow.com.-->
                <a href="http://www.awin1.com/cread.php?s=265297&amp;v=3578&amp;q=126623&amp;r=104799">
                <img border="0" src="http://www.awin1.com/cshow.php?s=265297&amp;v=3578&amp;q=126623&amp;r=104799" /></a> <!--END MERCHANT:merchant name Twinings Teashop from affiliatewindow.com-->
        </div>
        <div class="span6">
            <strong>TWININGS</strong><br />
            <small>After a match what do you need to unwind? &quot;A shedload of beer&quot; I hear you say. No, a nice cup of tea. And earn South 10% commission in the process.</small>
        </div>
    </div>
</div>
 {% endblock content %}