{% extends "base.html" %}

{% comment %}
Form used to email a message to the club secretary
{% endcomment %}

{% block title %}{{ block.super }} | Contact Us{% endblock %}

{% block body_id %}contact-us{% endblock body_id %}

{% block content %}

{% url 'upcoming_trainingsession_list' as training %}
{% url 'contact_us' as contact_us %}

<div id="contact">
    <div class="page-header">
        <h1><i class="icon-envelope"></i>We'd like to hear from you</h1>
    </div>
    <div class="row">
        <div class="span5">
        <p class="lead">We are always looking for new members to join the club, whether experienced players or new to the sport!</p>
        <p>If you're interested in joining or would just like more information about the club, simply fill in this form. Joining the club mailing lists means you will receive email alerts about games, training, socials etc.</p>
        <p>Alternatively, come along to our evening <a href="{{ training }}">club training</a> and introduce yourself.</p>
        </div>
        <div class="span7">
            <form action="{{ contact_us }}" method="post">{% csrf_token %}

                {{ form.first_name.errors }}
                <label for="id_first_name" class="control-label required"></label>
                <input id="id_first_name" maxlength="255" name="first_name" class="name" type="text" placeholder="First name*">

                {{ form.last_name.errors }}
                <label for="id_last_name" class="control-label required"></label>
                <input id="id_last_name" maxlength="255" name="last_name" class="name" type="text" placeholder="Last name*">

                {{ form.email.errors }}
                <label for="id_email" class="control-label required"></label>
                <input id="id_email" maxlength="254" name="email" class="mail" type="text" placeholder="Email*">

                {{ form.phone.errors }}
                <label for="id_phone" class="control-label"></label>
                <input id="id_phone" maxlength="25" name="phone" class="phone" type="text" placeholder="Phone">

                {{ form.message.errors }}
                <label for="id_message" class="control-label required"></label>
                <textarea id="id_message" name="message" placeholder="Message*"></textarea>

                {{ form.mailing_list.errors }}
                <label class="control-label checkbox">
                    <input id="id_mailing_list" name="mailing_list" type="checkbox"> I would like to join the Club mailing lists
                </label>

                <input class="btn btn-primary" type="submit" value="Send your message">
                <p class="required">* required fields</p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

