{% extends "base.html" %}

{% comment %}
Form used to email a message to the club secretary
{% endcomment %}

{% block title %}{{ block.super }} | Contact Us{% endblock %}

{% block body_id %}contact-us{% endblock body_id %}

{% block content %}

{% url 'contact_us' as contact_us %}

<div id="contact">
    <div class="page-header">
        <h1><i class="icon-envelope"></i>Contact Us</h1>
    </div>
    <div class="row">
        <div class="span5">
        <p class="lead">We'd love to hear from you, so drop us a line!</p>
        <p>Some more blurb</p>
        </div>
        <div class="span7">
            <form action="{{ contact_us }}" method="post">{% csrf_token %}
                    <input id="id_name" maxlength="255" name="name" class="name" type="text" placeholder="Name">
                    <input id="id_email" maxlength="254" name="email" class="mail" type="text" placeholder="Email">
                    <input id="id_subject" maxlength="254" name="subject" class="subject" type="text" placeholder="Subject">
                    <textarea id="id_message" name="message" placeholder="Message"></textarea>
                    <input class="btn btn-primary" type="submit" value="Send your message">
            </form>
        </div>
    </div>
</div>

{% endblock content %}

