{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about fees.
{% endcomment %}

{% block title %}{{ block.super }} | Fees{% endblock %}

{% block body_id %}fees{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Fees</li>
</ul>

<div class="page-header">
    <h1>Fees and Subscriptions</h1>
</div>

<div class="section_header">
    <h3>2013/14 Annual Subscriptions</h3>
</div>
<div class="row">
    <div class="span2">
        <h3 class="box-heading">Men</h3>
    </div>
    <div class="span3">
        <div class="box male">
            <div class="wrapper">
                <h3>Senior</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">100</span>
                    <span class="annual">/year</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="box male">
            <div class="wrapper">
                <h3>Students/Unwaged</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">40</span>
                    <span class="annual">/year</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span2">
        <h3 class="box-heading">Ladies</h3>
    </div>
    <div class="span3">
        <div class="box female">
            <div class="wrapper">
                <h3>Senior</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">100</span>
                    <span class="annual">/year</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="box female">
            <div class="wrapper">
                <h3>Students/Unwaged</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">40</span>
                    <span class="annual">/year</span>
                </div>
            </div>
        </div>
    </div>
</div>


<hr/>

<div class="section_header">
    <h3>2013/14 Match Fees</h3>
</div>

<div class="row">
    <div class="span2">
        <h3 class="box-heading">Men</h3>
    </div>
    <div class="span3">
        <div class="box male">
            <div class="wrapper">
                <h3>Senior</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">9</span>
                    <span class="annual">/match</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="box male">
            <div class="wrapper">
                <h3>Students/Unwaged</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">4.50</span>
                    <span class="annual">/match</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span2">
        <h3 class="box-heading">Ladies</h3>
    </div>
    <div class="span3">
        <div class="box female">
            <div class="wrapper">
                <h3>Senior</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">8</span>
                    <span class="annual">/match</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="box female">
            <div class="wrapper">
                <h3>Students/Unwaged</h3>
                <div class="price">
                    <span class="pound">&pound;</span>
                    <span class="qty">4</span>
                    <span class="annual">/match</span>
                </div>
            </div>
        </div>
    </div>
</div>

<p>* Match fees are reduced proportionally for substitutes playing part of a game.</p>

{% get_clubinfo 'TreasurerName' as treasurer_name %}

<p><b><i>Players who have not paid their subscription by 31st October will no longer be covered by our members&#39; insurance and so will not able
to be selected until they have paid.</i></b></p>
<p>Annual subscriptions should be given to your team captain or the Club Treasurer ({{ treasurer_name }}). Payment can be made by cheque payable to
<q>Cambridge South Hockey Club</q> or directly by bank transfer: contact {% clubinfo_email 'TreasurerEmail' treasurer_name %}
for bank details and to notify them of your payment.</p>

<div class="section_header">
    <h3>New Players</h3>
</div>

<p>If you are new to the club this season (i.e. did not pay an annual subscription last year), you can play a number of games before deciding whether to pay your annual subscription and join the club. <b>Men who have played three games&nbsp;or ladies who have played two games&nbsp;will not subsequently be able to be selected until they have joined the club.</b></p>
<p>For players who join part way through the season, if you pay your annual subscription before the New Year then the normal annual subscription is due. If you pay after the New Year then you will pay 50% of the normal subscription plus 10% for each game played (i.e. up to 80%) before the New Year.</p>
<p>Of course, we&#39;re sure you&#39;ll be champing at the bit to join us and hand over your subscription after your first game!</p>

<div class="section_header">
    <h3>Umpires</h3>
</div>

<p>Players who umpire receive a fee of &pound;6 per home game and &pound;8 per&nbsp;away game and for away games can claim fuel expenses if they take a team player in accordance with the table below.</p>

<div class="section_header">
    <h3>Travel Costs</h3>
</div>

<p>The Men&#39;s club will make a contribution towards travel costs to away matches for players who drive and give a lift to <strong>and</strong> from the match venue to at least one of their team mates. A maximum of four cars should be used to give lifts. Payment will be made by team captains.</p>
<p>Due to the shorter distances travelled by the Ladies&#39; teams, travel costs are recompensed through reductions in match fees for drivers.</p>
<p>The contribution is calculated at a rate of 15p a mile based on the round trip distance from Milton Park &amp; Ride, for all games north of Cambridge, or Trumpington Park &amp; Ride, for all games south, rounded to the nearest 5 miles and 50p. The table below shows the contribution which will be paid for trips to each pitch in our region.&nbsp;</p>
<table class="table table-hover table-condensed">
<thead>
    <tr>
        <th>Location</th>
        <th>Astro Pitch</th>
        <th>Clubs Used By</th>
        <th class="center-align">Round trip<br/>(miles)</th>
        <th class="center-align">Payment</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td rowspan="2">
            Bishop&#39;s Stortford</td>
        <td>
            Bishop&#39;s Stortford College</td>
        <td>
            Bishop&#39;s Stortford</td>
        <td style="text-align: center">
            50</td>
        <td style="text-align: center">
            &pound;7.50</td>
    </tr>
    <tr>
        <td>
            Hockerill College</td>
        <td>
            Bishop&#39;s Stortford</td>
        <td style="text-align: center">
            50</td>
        <td style="text-align: center">
            &pound;7.50</td>
    </tr>
    <tr>
        <td>
            Boston</td>
        <td>
            Peter Paine Sports Centre</td>
        <td>
            Boston</td>
        <td style="text-align: center">
            130</td>
        <td style="text-align: center">
            &pound;19.50</td>
    </tr>
    <tr>
        <td>
            Braintree</td>
        <td>
            Four Releet Sports Ground</td>
        <td>
            Phoenix</td>
        <td style="text-align: center">
            85</td>
        <td style="text-align: center">
            &pound;13</td>
    </tr>
    <tr>
        <td>
            Ely</td>
        <td>
            Ely City HC Astro</td>
        <td>
            Ely City</td>
        <td style="text-align: center">
            30</td>
        <td style="text-align: center">
            &pound;4.50</td>
    </tr>
    <tr>
        <td>
            Grantham</td>
        <td>
            Meres Leisure Centre</td>
        <td>
            Grantham</td>
        <td style="text-align: center">
            130</td>
        <td style="text-align: center">
            &pound;19.50</td>
    </tr>
    <tr>
        <td>
            Great Dunmow</td>
        <td>
            Dunmow Leisure Centre</td>
        <td>
            Phoenix</td>
        <td style="text-align: center">
            60</td>
        <td style="text-align: center">
            &pound;9</td>
    </tr>
    <tr>
        <td>
            Horncastle</td>
        <td>
            Horncastle HC Astro</td>
        <td>
            Horncastle</td>
        <td style="text-align: center">
            165</td>
        <td style="text-align: center">
            &pound;25</td>
    </tr>
    <tr>
        <td>
            Huntingdon</td>
        <td>
            Hinchingbrooke School</td>
        <td>
            St Ives, Bourne Deeping</td>
        <td style="text-align: center">
            35</td>
        <td style="text-align: center">
            &pound;5</td>
    </tr>
    <tr>
        <td>
            Kettering</td>
        <td>
            Kettering Astro</td>
        <td>
            Kettering</td>
        <td style="text-align: center">
            90</td>
        <td style="text-align: center">
            &pound;13.50</td>
    </tr>
    <tr>
        <td>
            King&#39;s Lynn</td>
        <td>
            Pelicans HC Astro (Lynnsport)</td>
        <td>
            Pelicans</td>
        <td style="text-align: center">
            85</td>
        <td style="text-align: center">
            &pound;13</td>
    </tr>
    <tr>
        <td>
            Long Sutton</td>
        <td>
            Peele School</td>
        <td>
            Long Sutton</td>
        <td style="text-align: center">
            90</td>
        <td style="text-align: center">
            &pound;13.50</td>
    </tr>
    <tr>
        <td>
            Louth</td>
        <td>
            Louth HC Astro</td>
        <td>
            Louth</td>
        <td style="text-align: center">
            190</td>
        <td style="text-align: center">
            &pound;28.50</td>
    </tr>
    <tr>
        <td>
            March</td>
        <td>
            Neale-Wade Community College</td>
        <td>
            March Town</td>
        <td style="text-align: center">
            55</td>
        <td style="text-align: center">
            &pound;8</td>
    </tr>
    <tr>
        <td>
            Market Deeping</td>
        <td>
            Deeping Leisure Centre</td>
        <td>
            Bourne Deeping</td>
        <td style="text-align: center">
            100</td>
        <td style="text-align: center">
            &pound;15</td>
    </tr>
    <tr>
        <td>
            Newmarket</td>
        <td>
            Newmarket Leisure Centre</td>
        <td>
            Newmarket</td>
        <td style="text-align: center">
            30</td>
        <td style="text-align: center">
            &pound;4.50</td>
    </tr>
    <tr>
        <td>
            Newport</td>
        <td>
            Newport Free Grammar School</td>
        <td>
            Saffron Walden</td>
        <td style="text-align: center">
            30</td>
        <td style="text-align: center">
            &pound;4.50</td>
    </tr>
    <tr>
        <td>
            Oakham</td>
        <td>
            Catmose Sports Centre</td>
        <td>
            Rutland</td>
        <td style="text-align: center">
            110</td>
        <td style="text-align: center">
            &pound;16.50</td>
    </tr>
    <tr>
        <td rowspan="3">
            Peterborough</td>
        <td>
            City of Peterborough HC Astro (Bretton Gate)</td>
        <td>
            City of Peterborough</td>
        <td style="text-align: center">
            80</td>
        <td style="text-align: center">
            &pound;12</td>
    </tr>
    <tr>
        <td>
            Thomas Deacon Academy</td>
        <td>
            City of Peterborough</td>
        <td style="text-align: center">
            80</td>
        <td style="text-align: center">
            &pound;12</td>
    </tr>
    <tr>
        <td>
            Voyager School</td>
        <td>
            Bourne Deeping, Rutland</td>
        <td style="text-align: center">
            85</td>
        <td style="text-align: center">
            &pound;13</td>
    </tr>
    <tr>
        <td>
            Saffron Walden</td>
        <td>
            Saffron Walden County High School</td>
        <td>
            Saffron Walden</td>
        <td style="text-align: center">
            25</td>
        <td style="text-align: center">
            &pound;4</td>
    </tr>
    <tr>
        <td>
            Sawbridgeworth</td>
        <td>
            Leventhorpe School</td>
        <td>
            Harlow</td>
        <td style="text-align: center">
            55</td>
        <td style="text-align: center">
            &pound;8</td>
    </tr>
    <tr>
        <td>
            Skegness</td>
        <td>
            Skegness Grammar School</td>
        <td>
            Alford</td>
        <td style="text-align: center">
            170</td>
        <td style="text-align: center">
            &pound;25.50</td>
    </tr>
    <tr>
        <td>
            Spalding</td>
        <td>
            Glen Park Astro</td>
        <td>
            Spalding</td>
        <td style="text-align: center">
            120</td>
        <td style="text-align: center">
            &pound;18</td>
    </tr>
    <tr>
        <td>
            Stamford</td>
        <td>
            Stamford High School</td>
        <td>
            Rutland</td>
        <td style="text-align: center">
            90</td>
        <td style="text-align: center">
            &pound;13.50</td>
    </tr>
    <tr>
        <td>
            St Ives</td>
        <td>
            One Leisure St Ives</td>
        <td>
            St Ives</td>
        <td style="text-align: center">
            35</td>
        <td style="text-align: center">
            &pound;5</td>
    </tr>
    <tr>
        <td>
            St Neots</td>
        <td>
            Longsands School</td>
        <td>
            St Neots</td>
        <td style="text-align: center">
            40</td>
        <td style="text-align: center">
            &pound;6</td>
    </tr>
    <tr>
        <td>
            Uppingham</td>
        <td>
            Uppingham School</td>
        <td>
            Rutland</td>
        <td style="text-align: center">
            105</td>
        <td style="text-align: center">
            &pound;16</td>
    </tr>
    <tr>
        <td>
            Wisbech</td>
        <td>
            Wisbech Town HC Astro</td>
        <td>
            Wisbech Town</td>
        <td style="text-align: center">
            75</td>
        <td style="text-align: center">
            &pound;11</td>
    </tr>
</tbody>
</table>

{% endblock content %}
