{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about fees.
{% endcomment %}

{% block title %}{{ block.super }} | Fees{% endblock %}

{% block body_id %}fees{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Fees</li>
</ul>

<div class="page-header">
    <h1>Fees and Subscriptions</h1>
</div>

<div class="row">
    <div class="span8">
        <div class="section_header">
            <h3>2013/14 Annual Subscriptions</h3>
        </div>
        <div class="row">
            <div class="span2">
                <h3 class="box-heading">Men</h3>
            </div>
            <div class="span3">
                <div class="box male">
                    <div class="wrapper">
                        <h3>Senior</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">100</span>
                            <span class="annual">/year</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box male">
                    <div class="wrapper">
                        <h3>Students/Unwaged</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">40</span>
                            <span class="annual">/year</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <h3 class="box-heading">Ladies</h3>
            </div>
            <div class="span3">
                <div class="box female">
                    <div class="wrapper">
                        <h3>Senior</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">100</span>
                            <span class="annual">/year</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box female">
                    <div class="wrapper">
                        <h3>Students/Unwaged</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">40</span>
                            <span class="annual">/year</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <hr/>

        <div class="section_header">
            <h3>2013/14 Match Fees</h3>
        </div>

        <div class="row">
            <div class="span2">
                <h3 class="box-heading">Men</h3>
            </div>
            <div class="span3">
                <div class="box male">
                    <div class="wrapper">
                        <h3>Senior</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">9</span>
                            <span class="annual">/match</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box male">
                    <div class="wrapper">
                        <h3>Students/Unwaged</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">4.50</span>
                            <span class="annual">/match</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <h3 class="box-heading">Ladies</h3>
            </div>
            <div class="span3">
                <div class="box female">
                    <div class="wrapper">
                        <h3>Senior</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">8</span>
                            <span class="annual">/match</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box female">
                    <div class="wrapper">
                        <h3>Students/Unwaged</h3>
                        <div class="price">
                            <span class="pound">&pound;</span>
                            <span class="qty">4</span>
                            <span class="annual">/match</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <p>* Match fees are reduced proportionally for substitutes playing part of a game.</p>

        {% get_clubinfo 'TreasurerName' as treasurer_name %}

        <p><b><i>Players who have not paid their subscription by 31st October will no longer be covered by our members&#39; insurance and so will not able
        to be selected until they have paid.</i></b></p>
        <p>Annual subscriptions should be given to your team captain or the Club Treasurer ({{ treasurer_name }}). Payment can be made by cheque payable to
        <q>Cambridge South Hockey Club</q> or directly by bank transfer: contact {% clubinfo_email 'TreasurerEmail' treasurer_name %}
        for bank details and to notify them of your payment.</p>

        <div class="section_header">
            <h3>New Players</h3>
        </div>

        <p>If you are new to the club this season (i.e. did not pay an annual subscription last year), you can play a number of games before deciding whether to pay your annual subscription and join the club. <b>Men who have played three games&nbsp;or ladies who have played two games&nbsp;will not subsequently be able to be selected until they have joined the club.</b></p>
        <p>For players who join part way through the season, if you pay your annual subscription before the New Year then the normal annual subscription is due. If you pay after the New Year then you will pay 50% of the normal subscription plus 10% for each game played (i.e. up to 80%) before the New Year.</p>
        <p>Of course, we&#39;re sure you&#39;ll be champing at the bit to join us and hand over your subscription after your first game!</p>

        <div class="section_header">
            <h3>Umpires</h3>
        </div>

        <p>Players who umpire receive a fee of &pound;6 per home game and &pound;8 per&nbsp;away game and for away games can claim fuel expenses if they take a team player in accordance with the table below.</p>
    </div>
    <div class="span4">
        <div class="box">
            <h3>Travel Costs</h3>
            <hr/>
            <p>The Men&#39;s club will make a contribution towards travel costs to away matches for players who drive and give a lift to <strong>and</strong> from the match venue to at least one of their team mates. A maximum of four cars should be used to give lifts. Payment will be made by team captains.</p>
            <p>Due to the shorter distances travelled by the Ladies&#39; teams, travel costs are recompensed through reductions in match fees for drivers.</p>
            <p>The contribution is calculated at a rate of 15p a mile based on the round trip distance from Cambridge, rounded to the nearest 5 miles and 50p. The table below shows the contribution which will be paid for trips to each pitch in our region.&nbsp;</p>
            <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Venue</th>
                    <th class="center-align">Round trip<br/>(miles)</th>
                    <th class="center-align">Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for venue in venues %}
                <tr>
                    <td><a href="{{ venue.get_absolute_url }}" title="Venue details">{{ venue.name }}</a></td>
                    <td class="center-align">{{ venue.round_trip_distance }}</td>
                    <td class="center-align">£{{ venue.round_trip_cost|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
