{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about the juniors section of the club.
{% endcomment %}

{% block title %}{{ block.super }} | Juniors{% endblock %}

{% block body_id %}juniors{% endblock body_id %}

{% block content %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'juniors_index' as juniors_index %}
{% url 'join_us' as join_us %}
{% url 'upcoming_trainingsession_list' as training %}
{% get_clubinfo 'InSeason' as in_season %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Juniors</li>
</ul>

<div class="page-header">
  <h1>Juniors</h1>
</div>

<div class="row">
  <div class="span7">
    <img src="{{ STATIC_URL }}media/Web%20site%20images/hockey-sticks-flat.jpg"/>
    <p class="lead">
    Hockey training for boys and girls aged 6 - 14<br/>on Saturday mornings
    </p>
    <p>
      Cambridge South Hockey Club’s junior section trains weekly on Saturday mornings during the hockey season between September and March. Training sessions are led by a professional coach assisted by club player-coaches.
    </p>
    <p>
      The sessions are for boys and girls, aimed at ages 6-14 (please contact us for ages outside this range). Training is based around the <a href="http://www.playquicksticks.co.uk" target="_blank"/>‘Quicksticks’</a> (for younger children) and <a href="http://in2hockey.englandhockey.co.uk/">In2Hockey</a> (for older players) forms of the game played in schools. The junior sessions are focused on teaching and developing basic skills and team play, ultimately providing a pathway towards senior team hockey (minimum age 13).
    </p>
    <p>
      We offer a <strong>free 3 session taster</strong> for new players to try out without commitment. The subscription fee is due your fourth session - if you decide not to continue beyond your first 3 sessions there is nothing to pay!
    </p>
    {% comment %} <div class="alert alert-info">
      <strong>Summer Term hockey:</strong> 5 week post-season junior training programme, runs Saturdays 9.30-10.30am at <a href="{{ long_road_url }}">Long Road</a> from 21st April to 19th May. For new and existing players, cost £25. Complete the contact form on this page or <a href="mailto:juniors@cambridgesouthhockeyclub.co.uk">email the Juniors Secretary</a> for more information or to register.
    </div> {% endcomment %}
    <table class="table table-hover">
      <tbody>
        <tr>
          <td class="heading">Location</td>
          <td class="details"><a href="{{ long_road_url }}" title="Pitch details">Long Road Sixth Form College</a></td>
        </tr>
        <tr>
          <td class="heading">Time</td>
          <td class="details">Saturdays 9-10am</td>
        </tr>
        <tr>
          <td class="heading">Dates</td>
          <td class="details">
            <div class="title">2018/19</div><br/>
            <div class="heading">Autumn term (12 weeks)</div>
            <div class="context">8th September - 8th December (half term break 20th &amp; 27th October)</div><br/>
            <div class="heading">Spring term (10 weeks)</div>
            <div class="context">12th January - 30th March (half term break 16th &amp; 23rd February)</div>
          </td>
        </tr>
        <tr>
          <td class="heading">Cost</td>
          <td class="details">
            <div class="heading">Season subscription</div>
            <div class="context">£100 (£50 due September, £50 in January).</div>
            <div class="context">25% discount for players starting after the October break (£25 due on joining; £50 in January).</div>
            <div class="context">50% discount for players starting after the winter break (£50 due on joining).</div>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      No previous hockey experience is necessary and beginners are welcomed. All sticks, balls and equipment are provided, but players may bring their own stick if they have one (please label clearly in permanent marker). Players require comfortable sportswear and trainers with grippy soles. <strong>Mouthguards and shinguards are strongly recommended for all players.</strong>
    </p>
    <p>
      Junior players who are eligible and also wish to <a href="{{ training }}" title="Seniors Training">play or train with the club’s senior section</a> (age 13+) are not required to pay separate <a href="{{ join_us }}#fees" title="Fees">senior membership subs</a>. Usual senior match fees will be payable.        
    </p>
    <p>
      To apply for a place, or for more information, please fill in the contact form on this page. <strong>Following confirmation of a place, a Registration and Consent form must be completed and returned before a player may attend a session.</strong>
    </p>

    <div class="section_header">
        <h3>Contacts</h3>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/members/neil.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Juniors Secretary</span> - <span class="name">Neil Sneade</span> <a href="mailto:juniors@cambridgesouthhockeyclub.co.uk" title="Email Neil Sneade"><i class="icon icon-envelope"></i></a></h4>
            <p>As well as turning out for the Men’s 3rd XI, Neil acts as Club Secretary and now also Junior Secretary. He has two daughters aged 8 and 6 and will be assisting with junior coaching.</p>
        </div>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Welfare Officer</span> - <span class="name">Jack Chalk</span> <a href="mailto:welfare@cambridgesouthhockeyclub.co.uk" title="Email Jack Chalk"><i class="icon icon-envelope"></i></a></h4>
            <p>The Welfare Officer is a member of the club committee and represents the interests of junior members during Cambridge South Hockey Club committee meetings, to ensure that club policies decided at these meetings comply to those outlined by England Hockey.</p>
        </div>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/members/ColinHulett.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Juniors Coach</span> - <span class="name">Colin Hulett</span></h4>
            <p>An experienced PE teacher and qualified hockey coach, he has coached children of various ages in numerous sports and also acts as one of the club’s senior team coaches.</p>
        </div>
    </div>

    <div class="section_header">
        <h3>Resources</h3>
    </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Junior_Registration.pdf?v=4" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Registration and Consent form</h4>
            <p class="media-subheading">One form per child. We can't train your child without it!</p>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Safeguarding_Protecting_Policy.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Safeguarding & Protecting Policy</h4>
            <p class="media-subheading">England Hockey’s policy on protecting young people. We have fun but we take our responsibilities with minors seriously.</p>
            <p class="media-subheading">Please see for information on:</p>
            <ul>
              <li class="media-details">England Hockey / Club policy on children's welfare at hockey</li>
              <li class="media-details">England Hockey / Club policy on children's welfare at outside of hockey</li>
              <li class="media-details">Code of conduct for working with junior member / young people</li>
            </ul>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Safeguarding_Protecting_Commitment.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Safeguarding & Protecting Commitment</h4>
            <p class="media-subheading">Cambridge South has adopted the England Hockey Safeguarding & Protecting policy.</p>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Reporting_Procedures.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Reporting concerns about a child's welfare</h4>
            <p class="media-subheading">Policies and procedures for dealing with concerns.</p>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Photography_Guidance.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Photography Best Practice Guidance</h4>
            <p class="media-subheading">England Hockey’s guidance on photographing and videoing of junior hockey, which Cambridge South follows.</p>
          </div>
        </a>
      </div>
  </div>

  <div class="span5">
    <div class="box">
      <div class="wrapper">
        <p>
          If you're interested in Juniors hockey at Cambridge South, just fill in this form and we'll get back to you!
        </p>
        <form class="cshc-form" action="{{ juniors_index }}" method="post">{% csrf_token %}

          <section class="your-details">
            <h3>Your details</h3>
            <hr/>
            {{ form.first_name.errors }}
            <label for="id_first_name" class="control-label required"></label>
            <input id="id_first_name" maxlength="255" name="first_name" class="name" type="text" placeholder="First name*">

            {{ form.last_name.errors }}
            <label for="id_last_name" class="control-label required"></label>
            <input id="id_last_name" maxlength="255" name="last_name" class="name" type="text" placeholder="Last name*">

            {{ form.email.errors }}
            <label for="id_email" class="control-label required"></label>
            <input id="id_email" maxlength="254" name="email" class="mail" type="text" placeholder="Email*">

            {{ form.phone.errors }}
            <label for="id_phone" class="control-label"></label>
            <input id="id_phone" maxlength="25" name="phone" class="phone" type="text" placeholder="Phone">
          </section>

          <section class="your-childs-details">
            <h3>Your child's details</h3>
            <hr/>

            {{ form.child_name.errors }}
            <label for="id_child_name" class="control-label required"></label>
            <input id="id_child_name" maxlength="255" name="child_name" class="name" type="text" placeholder="Name*">

            {{ form.child_gender.errors }}
            <div class="form-item">
              <div class="form-label"><label for="id_child_gender">Gender: </label></div>
              <div class="form-control">
                {{ form.child_gender }}
              </div>
            </div>

            {{ form.child_age.errors }}
            <div class="form-item">
              <div class="form-label"><label for="id_child_age">Age: </label></div>
              <div class="form-control">
                {{ form.child_age }}
              </div>
            </div>

          </section>

          <hr/>

          {{ form.message.errors }}
          <label for="id_message" class="control-label"></label>
          <textarea id="id_message" name="message" placeholder="Message"></textarea>

          {{ form.mailing_list.errors }}
          <label class="control-label checkbox">
              <input id="id_mailing_list" name="mailing_list" type="checkbox"> I would like to join the Club mailing lists
          </label>

          <div class="form-section">
            {{ form.trigger.errors }}
            <label for="id_trigger">How did you hear about Cambridge South Junior Hockey?</label>
            {{ form.trigger }}
          </div>

          <input class="btn btn-primary" type="submit" value="Submit">
          <p class="required">* required fields</p>
        </form>
      </div>
    </div>
    <div class="box">
        <div class="wrapper">
          <span class="pull-right">
              <a href="https://calendar.google.com/calendar/ical/4oati7ee6231hb6gtajift5hvs%40group.calendar.google.com/public/basic.ics" title="Subscribe to the CSHC Juniors calendar" class="btn btn-small btn-primary">
                  <i class="icon-calendar"></i>Subscribe
              </a>
          </span>
          <h3>Juniors Calendar</h3>
        </div>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=800&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=4oati7ee6231hb6gtajift5hvs%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Europe%2FLondon" 
          style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="box shirt-offer">
      <div class="wrapper">
        <p>
          Membership subscription includes a <strong>free club T-shirt</strong>.
        </p>
        <img src="{{ STATIC_URL }}media/kit/JC001J purple.png"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}
