{% extends "base.html" %}

{% comment %}
Static page with info about the juniors section of the club.
{% endcomment %}

{% block title %}{{ block.super }} | Juniors{% endblock %}

{% block body_id %}juniors{% endblock body_id %}

{% block content %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'juniors_index' as juniors_index %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Juniors</li>
</ul>

<div class="page-header">
  <h1>Juniors</h1>
</div>

<div class="row">
  <div class="span7">
    <img src="{{ STATIC_URL }}media/Web%20site%20images/hockey-sticks-flat.jpg"/>

    <p class="lead">
    Hockey training for boys and girls aged 6 - 12<br/>on Saturday mornings
    </p>
    <p>
      For the 2016/17 hockey season, Cambridge South Hockey Club is establishing a new junior section. Training sessions will run weekly on Saturday mornings during the hockey season led by a professional coach assisted by club player-coaches.
    </p>
    <p>
      The sessions are for boys and girls, aimed at ages 6-12 (please contact us for ages outside this range). Training is based around the <a href="http://www.playquicksticks.co.uk" target="_blank"/>‘Quicksticks’</a> form of the game played in schools, using larger, lighter and safer balls. The junior sessions are focused on teaching and developing basic skills and team play, ultimately providing a pathway towards senior team hockey (minimum age 13).
    </p>
    <p>
      Full season or ‘taster programme’ subscriptions are available. The ‘taster’ subscription covers 3 <u>consecutive</u> Saturdays, for new players wanting to try out hockey before committing to a full membership. Upgrade simply by paying the balance!
    </p>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td class="heading">Location</td>
          <td class="details"><a href="{{ long_road_url }}" title="Pitch details">Long Road Sixth Form College</a></td>
        </tr>
        <tr>
          <td class="heading">Time</td>
          <td class="details">Saturdays 9-10am</td>
        </tr>
        <tr>
          <td class="heading">Dates</td>
          <td class="details">
            <p><span class="heading">Autumn term (13 weeks)</span><br/>
            <span class="context">10th September - 10th December (half term break 22nd October)</span></p>
            <p><span class="heading">Spring term (10 weeks)</span><br/>
            <span class="context">14th January - 25th March (half term break 18th February)</span></p>
          </td>
        </tr>
        <tr>
          <td class="heading">Cost</td>
          <td class="details">
            <p><span class="heading">3 week ‘taster’ programme</span><br/>
            <span class="context">£15</span></p>
            <p><span class="heading">Full season subscription</span><br/>
            <span class="context">£100 (or £85 upgrade from ‘taster’ programme)</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      No previous hockey experience is necessary and beginners are welcomed. All sticks, balls and equipment are provided, but players may bring their own stick if they have one (please label clearly in permanent marker). Players require comfortable sportswear and trainers with grippy soles.
    </p>
    <p>
      To apply for a place, or for more information, please fill in the contact form on this page. Following confirmation of a place, a Registration and Consent form must be completed and returned, together with payment, before a player may attend a session.
    </p>

    <div class="section_header">
        <h3>Contacts</h3>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/members/neil.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Juniors Secretary</span> - <span class="name">Neil Sneade</span> <a href="mailto:juniors@cambridgesouthhockeyclub.co.uk" title="Email Neil Sneade"><i class="icon icon-envelope"></i></a></h4>
            <p>As well as turning out for the Men’s 3rd XI, Neil acts as Club Secretary and now also Junior Secretary. He has two daughters aged 8 and 6 and will be assisting with junior coaching.</p>
        </div>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/profile_pics/default.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Welfare Officer</span> - <span class="name">Jack Chalk</span> <a href="mailto:welfare@cambridgesouthhockeyclub.co.uk" title="Email Jack Chalk"><i class="icon icon-envelope"></i></a></h4>
            <p>Responsible for the club’s welfare policy and procedures, Jack is a teacher by profession with extensive experience in child welfare and protection. He is the main point of contact for any issues or concerns relating to junior player welfare.</p>
        </div>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/members/Ania.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Welfare Advisor</span> - <span class="name">Ania Rygielska</span></h4>
            <p>Since joining the club in the Ladies 3rd XI development side, Ania has qualified as an umpire and taken on responsibility for arranging the club’s umpiring. She has previous experience working with children in volunteer roles.</p>
        </div>
    </div>

    <div class="media contact">
        <img class="pull-left media-object" src="{{ STATIC_URL }}media/members/ColinHulett.jpg">
        <div class="media-body">
            <h4 class="media-heading"><span class="position">Juniors Coach</span> - <span class="name">Colin Hulett</span></h4>
            <p>An experienced PE teacher and qualified hockey coach, he has coached children of various ages in numerous sports and also acts as one of the club’s senior team coaches.</p>
        </div>
    </div>

    <div class="section_header">
        <h3>Resources</h3>
    </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Junior_Registration.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Registration and Consent form</h4>
            <p class="media-subheading">One form per child. We can't train your child without it!</p>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Safeguarding_Protecting_Policy.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Safeguarding & Protecting Policy</h4>
            <p class="media-subheading">England Hockey’s policy on protecting young people. We have fun but we take our responsibilities with minors seriously.</p>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Safeguarding_Protecting_Commitment.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Safeguarding & Protecting Commitment</h4>
            <p class="media-subheading">Cambridge South has adopted the England Hockey Safeguarding & Protecting policy.</p>
          </div>
        </a>
      </div>

      <div class="media resource">
        <a href="{{ STATIC_URL }}media/Documents/Juniors/CSHC_Photography_Guidance.pdf" target="_blank">
          <div class="pull-left">
            <span class="icon-stack icon-2x">
              <i class="icon-file icon-stack-base"></i>
              <i class="icon-cloud-download icon-light"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Photography Best Practice Guidance</h4>
            <p class="media-subheading">England Hockey’s guidance on photographing and videoing of junior hockey, which Cambridge South follows.</p>
          </div>
        </a>
      </div>
  </div>

  <div class="span5">
    <div class="box">
      <div class="wrapper">
        <p>
          If you're interested in Juniors hockey at Cambridge South, just fill in this form and we'll get back to you!
        </p>
        <form class="cshc-form" action="{{ juniors_index }}" method="post">{% csrf_token %}

          <section class="your-details">
            <h3>Your details</h3>
            <hr/>
            {{ form.first_name.errors }}
            <label for="id_first_name" class="control-label required"></label>
            <input id="id_first_name" maxlength="255" name="first_name" class="name" type="text" placeholder="First name*">

            {{ form.last_name.errors }}
            <label for="id_last_name" class="control-label required"></label>
            <input id="id_last_name" maxlength="255" name="last_name" class="name" type="text" placeholder="Last name*">

            {{ form.email.errors }}
            <label for="id_email" class="control-label required"></label>
            <input id="id_email" maxlength="254" name="email" class="mail" type="text" placeholder="Email*">

            {{ form.phone.errors }}
            <label for="id_phone" class="control-label"></label>
            <input id="id_phone" maxlength="25" name="phone" class="phone" type="text" placeholder="Phone">
          </section>

          <section class="your-childs-details">
            <h3>Your child's details</h3>
            <hr/>

            {{ form.child_name.errors }}
            <label for="id_child_name" class="control-label required"></label>
            <input id="id_child_name" maxlength="255" name="child_name" class="name" type="text" placeholder="Name*">

            {{ form.child_gender.errors }}
            <div class="form-item">
              <div class="form-label"><label for="id_child_gender">Gender: </label></div>
              <div class="form-control">
                {{ form.child_gender }}
              </div>
            </div>

            {{ form.child_age.errors }}
            <div class="form-item">
              <div class="form-label"><label for="id_child_age">Age: </label></div>
              <div class="form-control">
                {{ form.child_age }}
              </div>
            </div>

          </section>

          <hr/>

          {{ form.message.errors }}
          <label for="id_message" class="control-label"></label>
          <textarea id="id_message" name="message" placeholder="Message"></textarea>

          {{ form.mailing_list.errors }}
          <label class="control-label checkbox">
              <input id="id_mailing_list" name="mailing_list" type="checkbox" checked> I would like to join the Club mailing lists
          </label>

          <input class="btn btn-primary" type="submit" value="Submit">
          <p class="required">* required fields</p>
        </form>
      </div>
    </div>
    <div class="box shirt-offer">
      <div class="wrapper">
        <p>
          Full season membership includes a <strong>free club T-shirt</strong>. Club members also receive a 10% discount* off clothing and equipment at Hobbs Sports.
        </p>
        <p class="small">
          * Minimum spend £10. Excludes sale, service and official replica items.
        </p>
        <img src="{{ STATIC_URL }}media/kit/JC001J purple.png"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}