{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about playing kit.
{% endcomment %}

{% block title %}{{ block.super }} | Kit{% endblock %}

{% block body_id %}kit{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Kit</li>
</ul>

<div class="page-header">
    <h1>Club Colours and Kit</h1>
</div>
<p class="lead">Playing shirts are custom manufactured for the club by special order. New members are required to purchase a home shirt on joining the club. These are offered at a subsidised price. Away shirts are provided by the club.</p>

<div class="row">
    <div class="span12">
        <div class="section_header">
            <h3>Men</h3>
        </div>
    </div>
    <div class="span6">
        <span class="label label-inverse label-kit">Home</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/adidas_home_kit_men.png" /></td>
                    <td>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Purple shirts</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Purple socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <span class="label label-kit">Away</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/adidas_away_kit_men.png" /></td>
                    <td>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Yellow shirts</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Yellow socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr/>
<div class="row">
    <div class="span12">
        <div class="section_header">
            <h3>Ladies</h3>
        </div>
    </div>
    <div class="span6">
        <span class="label label-inverse label-kit">Home</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/adidas_home_kit_ladies.png" /></td>
                    <td>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Purple shirts</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts or skirt</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Purple socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <span class="label label-kit">Away</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/adidas_away_kit_ladies.png" /></td>
                    <td>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Yellow shirts</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts or skirt</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Yellow socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr/>

<div class="section_header">
    <h3>Ordering Kit</h3>
</div>

<p>In addition to the playing shirts, the club also offers a variety of official playing and training kit available to order on our <strong>
<a href="http://shop.cambridgesouthhockeyclub.co.uk/" target="_blank">online club shop</a></strong>.</p>
<p>The playing kit items are all constructed out of high performance fabrics and are selected to complement your club shirt. The training wear is smart and practical and incorporates the club crest and personalised embroidery and printing options.</p>

<div class="section_header">
    <h3>Colour Clashes</h3>
</div>
<p>The change strip is used away from home against clubs who wear purple or other dark colours, indicated by a <i class="icon-user" title="Away kit"></i> symbol on the team fixture pages</p>
{% endblock content %}
