{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about playing kit.
{% endcomment %}

{% block title %}{{ block.super }} | Kit{% endblock %}

{% block body_id %}kit{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Kit</li>
</ul>

<div class="page-header">
    <h1>Club Colours and Kit</h1>
</div>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>New kit!</strong>&nbsp;&nbsp;Starting with the 2015-16 season, both mens and ladies teams will play in a new purple kit. More details from the club secretary...
</div>
<p class="lead">Playing shirts are custom manufactured for the Club by special order. New members are required to purchase a home shirt. These are provided at a subsidised price of &pound;15, discounted from the full cost of &pound;26. Away shirts are provided by the Club.</p>

<div class="row">
    <div class="span12">
        <div class="section_header">
            <h3>Men</h3>
        </div>
    </div>
    <div class="span4">
        <span class="label label-inverse label-kit">Home</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/Men%20-%20home.png" /></td>
                    <td>
                        <p>Emerald green shirts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>White shorts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Emerald green socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span4">
        <span class="label label-kit">Away</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/Men%20-%20away.png" /></td>
                    <td>
                        <p>Yellow shirts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>White shorts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Yellow socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span4">
        <span class="label label-important label-kit">New for 2015-16!</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/Men%20-%20new.png" /></td>
                    <td>
                        <p>Purple shirts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Purple socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr/>
<div class="row">
    <div class="span12">
        <div class="section_header">
            <h3>Ladies</h3>
        </div>
    </div>
    <div class="span4">
        <span class="label label-inverse label-kit">Home</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/Ladies%20-%20home.png" /></td>
                    <td>
                        <p>Royal blue shirts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts or skirt<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Royal blue socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span4">
        <span class="label label-kit">Away</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/Ladies%20-%20away.png" /></td>
                    <td>
                        <p>Yellow shirts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts or skirt<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Yellow socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span4">
        <span class="label label-important label-kit">New for 2015-16!</span>
        <table cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td class="kit-pic">
                        <img alt="" src="{{ STATIC_URL }}media/kit/Ladies%20-%20new.png" /></td>
                    <td>
                        <p>Purple shirts<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Navy shorts or skirt<br />
                        &nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Purple socks</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr/>

<div class="section_header">
    <h3>Ordering Kit</h3>
</div>

<p>In addition to the playing shirts, the Club also offers a variety of official playing and training kit availble to order at&nbsp; <strong>
<a href="http://groupspaces.com/cambridgesouthhockeyclub/public/pay/shop/" target="_blank">http://groupspaces.com/cambridgesouthhockeyclub/public/pay/shop/</a></strong>.</p>
<p>The playing kit items are all constructed out of high performance fabrics and are selected to complement your Club shirt. The training wear is smart and practical and again incorporates the Club crest and personalised embroidery and printing options.</p>

<div class="section_header">
    <h3>Colour Clashes</h3>
</div>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Note:</strong>&nbsp;&nbsp;The colour clashes below apply to the 2014-15 season (old kit)
</div>
<p>The change strip is used when we play the following clubs away from home:</p>
<div class="row">
    <div class="span6">
        <div class="box">
            <table class="table table-hover">
                <thead>
                    <tr><th colspan="2" class="center-align">Men</th></tr>
                    <tr><th>Team</th><th>Colours</th></tr>
                </thead>
                <tbody>
                    <tr><td>Ely City</td><td>Green shirts/black shorts/black socks</td></tr>
                    <tr><td>Long Sutton</td><td>Green shirts/white shorts/green socks</td></tr>
                    <tr><td>St Ives</td><td>Green shirts/navy shorts/navy socks</td></tr>
                    <tr class="local"><td>Harlow</td><td>Green shirts/black shorts/green socks</td></tr>
                    <tr class="local"><td>Letchworth*</td><td>Green shirts/navy shorts/yellow socks</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="span6">
        <div class="box">
            <table class="table table-hover">
                <thead>
                    <tr><th colspan="2" class="center-align">Ladies</th></tr>
                    <tr><th>Team</th><th>Colours</th></tr>
                </thead>
                <tbody>
                    <tr><td>Cambridge Nomads</td><td>Blue shirts/navy skirts/blue socks</td></tr>
                    <tr><td>St Neots</td><td>Light blue shirts/navy skirts/light blue socks</td></tr>
                    <tr><td>Bishops Stortford</td><td>Blue shirts/navy skirts/red socks</td></tr>
                    <tr><td>Blueharts</td><td>Blue shirts/navy skirts/blue socks</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p>Teams in normal text are league opponents; in <em>italics</em> are other local teams.<br />
*Away shirts to be worn with home socks</p>
{% endblock content %}
