{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about the minutes of club meetings.
{% endcomment %}

{% block title %}{{ block.super }} | Minutes{% endblock %}

{% block body_id %}minutes{% endblock body_id %}

{% block content %}

{% url 'about_committee' as committee_url %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Committee Meetings</li>
</ul>

<div class="page-header">
    <h1>CSHC Committee Meeting Minutes</h1>
</div>

<p>CSHC is a not-for-profit organisation run by its own members in accordance with the club Constitution. Prior to the 2009/10
season the Men&#39;s and Ladies&#39; clubs were seperate entities&nbsp;but since then the two have merged and a single Committee
now administers the club, with sub-committees for men&#39;s and ladies&#39; playing matters. The Committee is appointed at the
Annual General Meeting and appointments run for a single season.</p>
<blockquote>You can see the Club Constitution <a href="{{ STATIC_URL }}media/Documents/CSHC_Constitution_June_2014.pdf">here</a>.</blockquote>
<blockquote>Details of the current committee members can be found <a href="{{ committee_url }}">here</a>.</blockquote>

<p>Listed below are the minutes from previous club general meetings and committee meetings as well as the club accounts.</p>
<div class="row">
    <div class="span4">
        <h4>Club general meetings</h4>
        <ul class="unstyled downloads">
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2018_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2018</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2017_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2017</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2016_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2016</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2015_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2015</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2014_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2014</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2013_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2013</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2012_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2012</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2011_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2011</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_AGM_2010_Minutes.pdf"><i class="icon-file"></i>CSHC AGM 2010</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSMHC_EGM_2009_Minutes.pdf"><i class="icon-file"></i>Men's EGM 2009</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSLHC_EGM_2009_Minutes.pdf"><i class="icon-file"></i>Ladies' EGM 2009</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSMHC_AGM_2009_Minutes.pdf"><i class="icon-file"></i>Men's AGM 2009</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Ladies_2009_AGM_Minutes.pdf"><i class="icon-file"></i>Ladies' AGM 2009</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Mens_2008_AGM_Minutes.pdf"><i class="icon-file"></i>Men's AGM 2008</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Ladies_2008_AGM_Minutes.pdf"><i class="icon-file"></i>Ladies' AGM 2008</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Mens_2003_AGM_Minutes.pdf"><i class="icon-file"></i>Men's AGM 2003</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/SMHC_AGM_1998_Minutes.pdf"><i class="icon-file"></i>SMHC AGM 1998</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/SMHC_AGM_1997_Minutes.pdf"><i class="icon-file"></i>SMHC AGM 1997</a></li>
        </ul>
    </div>
    <div class="span4">
    <h4>Committee meetings</h4>
        <ul class="unstyled downloads">
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_May_2019_Minutes.pdf"><i class="icon-file"></i>May 2019</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Sep_2018_Minutes.pdf"><i class="icon-file"></i>September 2018</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Mar_2018_Minutes.pdf"><i class="icon-file"></i>March 2018</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jan_2018_Minutes.pdf"><i class="icon-file"></i>January 2018</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Nov_2017_Minutes.pdf"><i class="icon-file"></i>November 2017</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Sep_2017_Minutes.pdf"><i class="icon-file"></i>September 2017</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_May_2017_Minutes.pdf"><i class="icon-file"></i>May 2017</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Mar_2017_Minutes.pdf"><i class="icon-file"></i>March 2017</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jan_2017_Minutes.pdf"><i class="icon-file"></i>January 2017</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Nov_2016_Minutes.pdf"><i class="icon-file"></i>November 2016</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Sep_2016_Minutes.pdf"><i class="icon-file"></i>September 2016</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_May_2016_Minutes.pdf"><i class="icon-file"></i>May 2016</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jan_2016_Minutes.pdf"><i class="icon-file"></i>January 2016</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Nov_2015_Minutes.pdf"><i class="icon-file"></i>November 2015</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jun_2015_Minutes.pdf"><i class="icon-file"></i>June 2015</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Apr_2014_Minutes.pdf"><i class="icon-file"></i>April 2014</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_May_2013_Minutes.pdf"><i class="icon-file"></i>May 2013</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Apr_2012_Minutes.pdf"><i class="icon-file"></i>April 2012</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jan_2012_Minutes.pdf"><i class="icon-file"></i>January 2012</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Apr_2011_Minutes.pdf"><i class="icon-file"></i>April 2011</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Dec_2010_Minutes.pdf"><i class="icon-file"></i>December 2010</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Sep_2010_Minutes.pdf"><i class="icon-file"></i>September 2010</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jun_2010_Minutes.pdf"><i class="icon-file"></i>June 2010</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Jan_2010_Minutes.pdf"><i class="icon-file"></i>January 2010</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Cmte_Feb_2009_Minutes.pdf"><i class="icon-file"></i>Febuary 2009</a></li>
        </ul>
    </div>
    <div class="span4">
        <h4>Club Accounts</h4>
        <ul class="unstyled downloads">
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2017_18_Accounts.pdf"><i class="icon-file"></i>2017-18</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2016_17_Accounts.pdf"><i class="icon-file"></i>2016-17</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2015_16_Accounts.pdf"><i class="icon-file"></i>2015-16</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2014_15_Accounts.pdf"><i class="icon-file"></i>2014-15</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2013_14_Accounts.pdf"><i class="icon-file"></i>2013-14</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2012_13_Accounts.pdf"><i class="icon-file"></i>2012-13</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2011_12_Accounts.pdf"><i class="icon-file"></i>2011-12</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2010_11_Accounts_Ladies.pdf"><i class="icon-file"></i>2010-11 (Ladies)</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2010_11_Accounts_Men.pdf"><i class="icon-file"></i>2010-11 (Mens)</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2009_10_Accounts_Ladies.pdf"><i class="icon-file"></i>2009-10 (Ladies)</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_2008_09_Accounts_Ladies.pdf"><i class="icon-file"></i>2008-09 (Ladies)</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="section_header">
            <h3>Newsletter Archive</h3>
        </div>
        <p>A few salvaged club newsletters from years gone by!</p>
        <ul class="unstyled downloads">
            <li><a href="{{ STATIC_URL }}media/Documents/CSHC_Newsletter_Jun_1998.pdf"><i class="icon-file"></i>CSHC Newsletter June 1998</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/SMHC_Newsletter_Dec_1997.pdf"><i class="icon-file"></i>SMHC Newsletter December 1997</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/SMHC_Newsletter_Nov_1997.pdf"><i class="icon-file"></i>SMHC Newsletter November 1997</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/SMHC_Newsletter_Apr_1997.pdf"><i class="icon-file"></i>SMHC Newsletter April 1997</a></li>
            <li><a href="{{ STATIC_URL }}media/Documents/SMHC_Newsletter_Jan_1997.pdf"><i class="icon-file"></i>SMHC Newsletter January 1997</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
