{% extends "base.html" %}
{% load core_tags %}

{% comment %}
Static page with info about social activities.
{% endcomment %}

{% block title %}{{ block.super }} | Social{% endblock %}

{% block body_id %}social{% endblock body_id %}

{% block content %}

{% comment %}
Facebook Page Embed
Ref: https://developers.facebook.com/docs/plugins/page-plugin
{% endcomment %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=224662550925394";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% get_clubinfo 'MaleSocialSecName' as male_social_sec_name %}
{% get_clubinfo 'FemaleSocialSecName' as female_social_sec_name %}
{% url 'calendar' as calendar %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Social</li>
</ul>

<div class="page-header">
    <h1>Social Events</h1>
</div>
<p>Cambridge South is a very friendly and sociable club. Keep an eye on your emails and the <a href="{{ calendar }}">calendar</a> for information about forthcoming events. With our super Social (and super-sociable) Secretaries, {{ female_social_sec_name }} and {{ male_social_sec_name }},
there&#39;s sure to be some exciting events in the near future.</p>

<p>You can also read about previous socials on our <a href="/blog/categories/social/">blog</a>.</p>
<h3>Upcoming events</h3>
<p>Club socials are usually posted on our <a href="http://groupspaces.com/cambridgesouthhockeyclub" target="_blank">GroupSpaces page</a>. This is where you can tell us you're coming and buy tickets if required.</p>
<script type="text/javascript" src="http://groupspaces.com/cambridgesouthhockeyclub/api/api.js?wid=654"></script><noscript><a href="http://groupspaces.com/cambridgesouthhockeyclub/calendar">View Calendar</a></noscript>
<h3>Cambridge South's Facebook Page</h3>
<p>Why not 'Like' our <a href="https://www.facebook.com/cambridgesouthhc" target="_blank">Facebook page</a>? We typically use this to post details of social events.</p>
<div class="fb-page" data-href="https://www.facebook.com/cambridgesouthhc" data-width="500" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/cambridgesouthhc"><a href="https://www.facebook.com/cambridgesouthhc">Cambridge South Hockey Club</a></blockquote></div></div>
{% endblock %}

