{% extends "venue_map_page.html" %}

{% comment %}
Formatted display of details about a particular match.
- Used by club.views.matches.details
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | {{ match }}{% endblock %}

{% block content %}
<h1>Match details</h1>
<h3>The match</h3>
<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Property</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><td>Home/away</td><td>{{ match.get_home_away_display }}</td></tr>
        <tr><td>Our club</td><td>{{ match.our_team.club.name }}</td></tr>
        <tr><td>Our team</td><td><a href="/matches/{{match.our_team.gender|lower}}-{{match.our_team.ordinal|lower}}">{{ match.our_team.name }}</a></td></tr>
        <tr><td>Opposition club</td><td>{{ match.opp_team.club.name }}</td></tr>
        <tr><td>Opposition team</td><td>{{ match.opp_team.name }}</td></tr>
        <tr><td>Our score</td><td>{{ match.our_score }}</td></tr>
        <tr><td>Opposition score</td><td>{{ match.opp_score }}</td></tr>
        <tr><td>Our half-time score</td><td>{{ match.our_ht_score }}</td></tr>
        <tr><td>Opposition half-time score</td><td>{{ match.opp_ht_score }}</td></tr>
        <tr><td>Opposition own-goals</td><td>{{ match.opp_own_goals }}</td></tr>
        <tr><td>Alternative outcome</td><td>{{ match.get_alt_outcome_display }}</td></tr>
        <tr><td>Venue name</td><td>{{ match.venue.name }}</td></tr>
        <tr><td>Venue url</td><td>{{ match.venue.url }}</td></tr>
        <tr><td>Venue address</td><td>{{ match.venue.addr1 }} {{ match.venue.addr2 }} {{ match.venue.addr3 }} {{ match.venue.addr_city }} {{ match.venue.addr_postcode }}</td></tr>
        <tr><td>Match date</td><td><a href="/matches/{{ match.date|date:"d-b-Y" }}">{{ match.date }}</a></td></tr>
        <tr><td>Match time</td><td>{{ match.time }}</td></tr>
        <tr><td>Report title</td><td>{{ match.report_title }}</td></tr>
        <tr><td>Report author</td><td>{{ match.report_author }}</td></tr>
        <tr><td>Report body</td><td>{{ match.report_body }}</td></tr>
        <tr><td>Match title text</td><td>{{ match.match_title_text }}</td></tr>
        <tr><td>Fixture type</td><td>{{ match.fixture_type }}</td></tr>
        <tr><td>Is in the past</td><td>{{ match.is_in_past }}</td></tr>
    </tbody>
</table>
</div>
</div>

<h3>Team played</h3>
<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Player</th><th>Goals</th><th>Own-goals</th><th>Yellow card</th><th>Red card</th></tr>
    </thead>
    <tbody>
    {% for app in appearances %}
        <tr><td>{{ app.player }}</td><td>{{ app.goals }}</td><td>{{ app.own_goals }}</td><td>{{ app.yellow_card }}</td><td>{{ app.red_card }}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

<h3>Awards</h3>
<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Award</th><th>Player/awardee</th><th>Comment</th></tr>
    </thead>
    <tbody>
    {% for aw in award_winners %}
        <tr><td>{{ aw.award.name }}</td><td>{% if aw.player != None %}{{ aw.player }}{% else %}{{ aw.awardee }}{% endif %}</td><td>{{ aw.comment }}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

<h3>Other matches on that date</h3>
{% if same_date_matches|length > 0 %}
<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <tbody>
    {% for m in same_date_matches %}
        <tr><td><a href="/matches/{{ m.pk }}">{{ m.match_title_text }}</a></td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% else %}
<p>None</p>
{% endif %}

<h3>Previous match</h3>
<p>
{% if prev_match = None %}
    None
{% else %}
    <a href="/matches/{{ prev_match.pk }}">{{ prev_match }}</a>
{% endif %}
</p>
<h3>Next match</h3>
<p>
{% if next_match = None %}
    None
{% else %}
    <a href="/matches/{{ next_match.pk }}">{{ next_match }}</a>
{% endif %}
</p>

<h3>Location</h3>
<div class="row">
<div class="span7" id="map_canvas" style="width:700px; height:400px">
</div>
</div>
{% endblock %}
