{% extends "base.html" %}

{% comment %}
Formatted display of matches on a particular date.
- Used by club.views.matches.by_date
Currently just lists the values that will be needed by this template - no UI design here yet! 
{% endcomment %}

{% block title %}{{ block.super }} | Matches on {{ date }}{% endblock %}

{% block content %}

<h1>Matches on {{ date|date:"jS F Y" }}</h1>
<div class="row">
<div class="span7">
<table class="table table-condensed table-hover">
    <thead>
        <tr><th>Our team</th><th>Opposition</th><th>Venue</th><th>Start time</th></tr>
    </thead>
    <tbody>
    {% for m in matches %}
        <tr>
            <td><a href="{{ m.our_team.get_absolute_url }}">{{ m.our_team.name }}</a></td>
            <td>{{ m.opp_team }}</td>
            <td><a href="{{ m.venue.get_absolute_url }}">{{ m.venue.name }}</a></td>
            <td>{{ m.time }}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}