<h5>Mens Teams</h5>
<p>The club will make a contribution towards travel costs to men's away matches for players who drive and give a lift to and from the match venue to at least one of their team mates. A maximum of four cars should be used to give lifts. Payment will be made by team captains.</p>

<h5>Ladies' Teams</h5>
<p>Due to the shorter distances travelled by the ladies' teams, travel costs are recompensed through reductions in match fees for drivers.</p>

<h5>Rates</h5>
<p>The contribution is calculated at a rate of 15p a mile based on the round trip distance from Cambridge, rounded to the nearest 5 miles and 50p.</p>
