{% include "venues/_gmap_js.html" %}

<script type="text/javascript">

  $(function(){
    var position = [{{ venue.position }}];
    var address = position.length ? null : "{{ venue.full_address }}";
    $('#map_canvas').gmap3({
      address: address,
      center: position.length ? position : null,
      zoom: 14,
      scrollwheel:true,
      mapTypeId : google.maps.MapTypeId.ROADMAP,
    })
    .marker({
      address: address,
      position: position.length ? position : null,
    });

    var venue_link_fallback = "//maps.google.com/?q=" + address;

    var venue_link_prefix = '//maps.google.com/?q=';
    var directions_link_prefix = '//maps.google.com/?saddr=Cambridge,UK&daddr=';

    if ( isMobile.iOS()) {
      venue_link_prefix = '//maps.apple.com/?q=';
      directions_link_prefix = '//maps.apple.com/?saddr=Cambridge,UK&daddr=';
    }
    else if ( isMobile.Android()) {
      venue_link_prefix = 'geo:0,0?q=';
      directions_link_prefix = 'geo:0,0?saddr=Cambridge,UK&daddr=';
    }

    var map_link = $(".gmap-link");
    map_link.attr('href',  venue_link_prefix + address);
    var directions_link = $(".gmap-dir-link");
    directions_link.attr('href',  directions_link_prefix + address);
    //map_link.click = applink(venue_link_fallback);
    //map_link.attr('onclick', 'applink(venue_link_fallback)');

  });
</script>

