{% include "venues/_gmap_js.html" %}

<script type="text/javascript">
    
    function initMap(address, index){
        
        $('#map_canvas' + index).gmap3(
            { map:{
                address:address,
                options:{
                zoomControl:false,
                overviewMapControl:false,
                mapTypeControl:false,
                panControl:false,
                scaleControl:false,
                rotateControl:false,
                streetViewControl:false,
                zoom: 10,
                opts:{
                    scrollwheel:true
                }
                }
            },
            marker:{
                address:address
            }
            }
        );
    }

    $(function(){
    {% for v in venue_list %}
        initMap("{{ v.full_address }}", "{{ forloop.counter0 }}")
    {% endfor %}
          
    });
</script>  

