<table class="table table-striped table-hover table-condensed table-middle-align">
    <thead>
        <tr><th></th><th>Date</th><th>Time</th><th>Team</th><th>Opposition</th><th></th></tr>
    </thead>
    <tbody>
        {% for m in match_schedule %}
        <tr>
            <td>{% include 'matches/_fixture_icon.html' with match=m %}</td>
            <td>{{ m.date|date:"jS M y" }}</td>
            <td>{{ m.time|default:"TBD" }}</td>
            <td><a href="{{ m.our_team.get_absolute_url }}" title="Team details">{{ m.our_team.long_name }}</a></td>
            <td><a href="{{ m.opp_team.club.get_absolute_url }}" title="Club details">{{ m.opp_team.name }}</a></td>
            <td><a href="{{ m.get_absolute_url }}" title="Match details"><button class="btn">Details <i class="icon-circle-arrow-right"></i></button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>