{% include "venues/_gmap_js.html" %}

<script type="text/javascript">

    $(function(){
    var address = "{{ venue_address }}";

    $('#map_canvas').gmap3(
        { map:{
            address:address,
            options:{
            zoom: 14,
            opts:{
                scrollwheel:true
            }
            }
        },
        marker:{
            address:address
        }
        }
    );

    var venue_link_fallback = "http://maps.google.com/?q={{ venue.full_address }}"

    var venue_link_prefix = 'http://maps.google.com/?q='
    if ( isMobile.iOS()) {
        venue_link_prefix = 'http://maps.apple.com/?q='
    }
    else if ( isMobile.Android()) {
        venue_link_prefix = 'geo:0,0?q='
    }

    var map_link = $(".gmap-link")
    map_link.attr('href',  venue_link_prefix + '{{ venue.full_address }}')
    //map_link.click = applink(venue_link_fallback)
    //map_link.attr('onclick', 'applink(venue_link_fallback)')

    });
</script>

