{% extends "base.html" %}

{% load core_tags %}
{% load i18n %}
{% load pagination_tags %}
{% load sorter_tags %}

{% comment %}
Filter-able, sortable, paginated display of venues.
{% endcomment %}

{% block body_js %}
    {{ block.super }}
    {% include "venues/_venue_list_map_js.html" %}
{% endblock body_js %}

{% block title %}{{ block.super }} | Match venues{% endblock %}

{% block body_id %}venue-list{% endblock body_id %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Venues</li>
</ul>

<div class="page-header">
    <h1>Match venues</h1>
</div>

<div class="row" id="filter">
    <div class="span12"><h4>Filter</h4></div>
    <form action="" method="get" class="form-inline">
    <div class="span12">{{ filter.form.non_field_errors }}</div>
    <div class="span4">
        <div class="fieldWrapper">
            {{ filter.form.is_home.errors }}
            <label for="id_is_home">Home venues</label>
            {{ filter.form.is_home }}
        </div>
    </div>
    <div class="span12"><input class="btn btn-primary" type="submit" /><input class="btn" type="reset" value="Reset" /></div>
</div>
</form>

<hr/>
{% sort filter.qs as sorted_list %}
{% autopaginate sorted_list 20 as sorted_filter_list %}

{% if sorted_filter_list %}
    <table id="venues" class="table">
        <thead>
            <tr>
                <th>Venue</th>
                <th class="priority2">Address</th>
                <th class="priority3">Phone</th>
                <th>{% sortlink by "is_home" "-is_home" %}Home/Away{% endsortlink %}</th>
            </tr>
        </thead>
        {% for venue in sorted_filter_list %}
            <tr>
                <td><a href="{{ venue.get_absolute_url }}" title="{{ venue.name }}">{{ venue.name }}</a></td>
                <td class="priority2">{{ venue.full_address }}</td>
                <td class="priorty3">{{ venue.phone }}</td>
                <td>{% if venue.is_home %}<i class="icon-home"></i>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="lead muted">No venues found!</p>
{% endif %}

{% paginate %}

{% url 'admin:venues_venue_add' as admin_url_add %}
{% url 'admin:venues_venue_changelist' as admin_url_list %}
{% include 'core/_admin_link.html' with add_url=admin_url_add list_url=admin_url_list add_label='Add venue' list_label='List venues' %}

{% endblock %}