{% extends "base.html" %}

{% block title %}{{ block.super }} | Directions{% endblock %}

{% block body_id %}directions{% endblock body_id %}

{% block content %}

{% url 'venue_detail' 'cantabs' as cantabs_url %}
{% url 'venue_detail' 'queen-edith' as queen_edith_url %}
{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_list' as venues_url %}

<div class="page-header">
    <h1>Directions</h1>
</div>

<div class="row">
	<div class="span8">
		<div class="section_header">
			<h3>Home Venue</h3>
		</div>
		<p>We train and play our home matches at <a href="{{ long_road_url }}" title="Pitch details...">Long Road Sixth Form College</a> in south Cambridge.</p>

		<div class="gmap3 map_large" id="map_canvas"></div>
    {% include 'core/_gmap_link.html' with venue=homePitch %}

		<div class="section_header">
			<h3>Away Games</h3>
		</div>
		<p>Details of the pitch locations of the clubs we play against can be found on the <a href="{{ venues_url }}">Venues</a> page.</p>
		<p>Alternatively, a full list of all club astro pitches in the East Region with directions to them can be found
		<a href="http://www.east-hockey.com/clubs/clubastrosearch.asp" target="_blank">here</a>.</p>

	</div>
	<div class="span4">
		<div class="box">
			<h3><i class="icon-food"></i>Match Teas</h3>
			<hr/>
			<img src="{{ STATIC_URL }}media/Web%20site%20images/cantabs.jpg">
			<h4>Cantabs RUFC Club House</h4>
			<p>Our post-match teas are held at <a href="{{ cantabs_url }}">Cantabs RUFC Club House</a>.
			<address>
				Sedley Taylor Road<br>
				Cambridge<br>
				CB2 8PW<br>
			</address>
			</p>
			<hr/>
			<img src="{{ STATIC_URL }}media/Web%20site%20images/queen-edith.jpg">
			<h4>The Queen Edith pub</h4>
			<p>Alternate venue of post-match teas: <a href="{{ queen_edith_url }}">The Queen Edith</a>.
			<address>
				Wulfstan Way<br>
				Cambridge<br>
				CB1 8QN<br>
			</address>
			</p>
		</div>
	</div>
</div>

{% endblock content %}

{% block body_js %}
	{{ block.super }}
  {% include "venues/_venue_map_js.html" with venue=homePitch %}
{% endblock body_js %}
