{% load core_tags %}

{% url 'contact_us' as contact_us %}
{% url 'user_profile' as user_profile %}
{% url 'auth_login' as login %}
{% url 'auth_logout' as logout %}

{% url 'juniors_index' as juniors %}

{% url 'about_us' as about_us %}
{% url 'directions' as directions %}
{% url 'upcoming_trainingsession_list' as training %}
{% url 'about_fees' as fees %}
{% url 'about_kit' as kit %}
{% url 'about_social' as social %}
{% url 'about_committee' as committee %}
{% url 'calendar' as calendar %}
{% url 'members_offers' as members_offers %}

{% url 'zinnia:entry_archive_index' as blog %}

{% url 'clubteam_list' as team_list %}
{% url 'clubteam_detail' 'm1' as team_m1 %}
{% url 'clubteam_detail' 'm2' as team_m2 %}
{% url 'clubteam_detail' 'm3' as team_m3 %}
{% url 'clubteam_detail' 'm4' as team_m4 %}
{% url 'clubteam_detail' 'm5' as team_m5 %}
{% url 'clubteam_detail' 'l1' as team_l1 %}
{% url 'clubteam_detail' 'l2' as team_l2 %}
{% url 'clubteam_detail' 'l3' as team_l3 %}
{% url 'clubteam_detail' 'mixed' as team_mixed %}
{% url 'clubteam_detail' 'indoor' as team_indoor %}

{% url 'stats' as stats %}
{% url 'goal_king' as goal_king %}
{% url 'southerners_league' as southerners %}
{% url 'opposition_club_list' as rivals %}
{% url 'accidental_tourist' as accidental_tourist %}
{% url 'playing_record' as playing_record %}
{% url 'naughty_step' as naughty_step %}

{% url 'latest_results' as latest_results_url %}
{% url 'next_fixtures' as next_fixtures_url %}
{% url 'match_list' as match_list_url %}
{% url 'matches_by_season_default' as matches_by_season_url %}

<ul class="nav pull-right">

    {% if TEAM_CONTEXT and TEAM_CONTEXT_NAME %}
        <li><a href="{{ TEAM_CONTEXT }}" class="{% active TEAM_CONTEXT %}">{{ TEAM_CONTEXT_NAME }}</a></li>
    {% endif %}

    {# Teams #}
    <li class="dropdown">
        <a href="#"  class="dropdown-toggle {% active '/teams/' %}" data-toggle="dropdown">Teams <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ team_list }}" class="{% active team_list %}">Team overview</a></li>
            <li class="nav-header">Ladies</li>
            <li><a href="{{ team_l1 }}" class="{% active team_l1 %}">Ladies 1sts</a></li>
            <li><a href="{{ team_l2 }}" class="{% active team_l2 %}">Ladies 2nds</a></li>
            <li><a href="{{ team_l3 }}" class="{% active team_l3 %}">Ladies 3rds</a></li>
            <li class="divider"></li>
            <li class="nav-header">Mens</li>
            <li><a href="{{ team_m1 }}" class="{% active team_m1 %}">Mens 1sts</a></li>
            <li><a href="{{ team_m2 }}" class="{% active team_m2 %}">Mens 2nds</a></li>
            <li><a href="{{ team_m3 }}" class="{% active team_m3 %}">Mens 3rds</a></li>
            <li><a href="{{ team_m4 }}" class="{% active team_m4 %}">Mens 4ths</a></li>
            <li><a href="{{ team_m5 }}" class="{% active team_m5 %}">Mens 5ths</a></li>
            <li class="divider"></li>
            <li><a href="{{ team_mixed }}" class="{% active team_mixed %}">Mixed</a></li>
            <li><a href="{{ team_indoor }}" class="{% active team_indoor %}">Indoor</a></li>
        </ul>
    </li>

    {# Matches #}
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{ latest_results_url }}" class="{% active latest_results_url %}">Latest results</a></li>
        <li><a href="{{ next_fixtures_url }}" class="{% active next_fixtures_url %}">Next fixtures</a></li>
        <li><a href="{{ matches_by_season_url }}" class="{% active matches_by_season_url %}">Matches by season</a></li>
        <li><a href="{{ match_list_url }}" class="{% active match_list_url %}">Match search<i class="icon-search"></i></a></li>
    </ul>
    </li>

    {# <li><a href="{{ juniors }}" class="{% active juniors %}">Juniors</a></li> #}

    {# Club #}
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{ directions }}" class="{% active directions %}">Directions</a></li>
        <li><a href="{{ training }}" class="{% active training %}">Training</a></li>
        <li><a href="{{ fees }}" class="{% active fees %}">Fees</a></li>
        <li><a href="{{ kit }}" class="{% active kit %}">Kit</a></li>
        <li><a href="{{ blog }}" class="{% active blog %}">News</a></li>
        <li><a href="{{ social }}" class="{% active social %}">Social</a></li>
        <li><a href="{{ about_us }}" class="{% active about_us %}">About Us</a></li>
        <li><a href="{{ committee }}" class="{% active committee %}">Committee</a></li>
        <li><a href="{{ calendar }}" class="{% active calendar %}">Calendar</a></li>
        <li><a href="{{ members_offers }}" class="{% active members_offers %}">Members Offers</a></li>
    </ul>
    </li>

    {# Stats #}
    <li class="dropdown">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Stats <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ stats }}" class="{% active stats %}">Stats Overview</a></li>
            <li class="divider"></li>
            <li><a href="{{ goal_king }}" class="{% active goal_king %}">Goal King</a></li>
            <li><a href="{{ southerners }}" class="{% active southerners %}">Southerners League</a></li>
            <li><a href="{{ rivals }}" class="{% active rivals %}">Rivals</a></li>
            <li><a href="{{ accidental_tourist }}" class="{% active accidental_tourist %}">Accidental Tourist</a></li>
            <li><a href="{{ playing_record }}" class="{% active playing_record %}">Playing Records</a></li>
            <li><a href="{{ naughty_step }}" class="{% active naughty_step %}">The Naughty Step</a></li>
        </ul>
    </li>

    <li><a href="{{ contact_us }}" class="{% active contact_us %}">Contact us</a></li>

    {% if user.is_authenticated %}
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.get_short_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ user_profile }}" class="{% active user_profile %}">Profile</a></li>
            {% if user.is_staff %}
            <li><a href="/admin/" target="_blank" class="{% active '/admin/' %}">Admin</a></li>
            {% endif %}
            <li><a href="{{ logout }}?next={{ request.get_full_path }}" class="{% active logout %}">Sign out</a></li>
        </ul>
    {% else %}
    <li><a href="{{ login }}?next={{ request.get_full_path }}" data-toggle="modal" class="{% active login %}">Sign in</a></li>
    {% endif %}

</ul>
