{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Cambridge South Hockey Club{% endblock title %}</title>

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block link %}
    <link rel="Shortcut Icon" type="image/x-icon" href="{{ STATIC_PREFIX }}ico/favicon.ico" />

    {# Bootstrap #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}clean_canvas/css/bootstrap-overrides.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    {# Theme - Clean Canvas #}
    <link href="{{ STATIC_PREFIX }}clean_canvas/css/theme.css" rel="stylesheet" >
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/project.css?v=1_1" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_PREFIX }}js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_URL }}ico/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ STATIC_URL }}ico/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ STATIC_URL }}ico/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ STATIC_URL }}ico/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}ico/apple-touch-icon-152x152.png" />

    {% endblock link %}

    {% block head_js %}{% endblock head_js %}
    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body class="{% block body_class %}pull_top{% endblock body_class %}" id="{% block body_id %}page{% endblock body_id %}">
    <div id="page-top"></div>

    {% block menu %}
    <div class="{% block navbar_class %}navbar navbar-inverse navbar-static-top{% endblock navbar_class %}">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            <img src="{{ STATIC_PREFIX }}img/logo.png"/>
          </a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock menu %}

    <div class="container">
    {% block messages %}
    {% include 'core/_messages.html' %}
    {% endblock messages %}

    {% block content %}

    {% endblock content %}

    </div><!-- container -->

    <footer id="footer">
        <div class="container">
            {% block footer %}
            {% endblock footer %}
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="http://www.facebook.com/groups/2255975570/" target="_blank" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="https://twitter.com/cambsouthhc" target="_blank" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            &copy; {% now "Y" %} Cambridge South Hockey Club. All rights reserved. Theme by Detail Canvas.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block body_js %}
    {% comment %}
    Javascript - placed at the end of the document so the pages load faster
    {% endcomment %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_PREFIX }}clean_canvas/js/theme.js"></script>
    <script src="{{ STATIC_PREFIX }}js/project.js?v=1_1"></script>
    {% endblock body_js %}
  </body>
</html>