{% extends "base.html" %}

{% block title %}{{ block.super }} | Sign in{% endblock title %}

{% block content %}

{% url 'auth_password_reset' as password_reset %}
{% url 'registration_register' as register %}

<div class="page-header">
    <h1>Sign in</h1>
</div>

<form action="{% url 'auth_login' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <label class="checkbox"><input name="remember_me" type="checkbox">Remember me</label>
    <input type="submit" value="Sign in" />
</form>
<p><a href="{{ password_reset }}">Forgot password?</a></p>
<p>Don't have an account? <a href="{{ register }}">Sign up!</a></p>
{% endblock content %}